{# =============================================================================

    Talent Cloud
    Auth: Login

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ otp.title }}{% endblock %}

{% block body %}
    {% include "common/goc" %}
    <div data-clone>
        <section class="tc-auth" data-c-padding="tb(triple)" data-c-overlay="black(80)" style="background-image: url('/images/bg_crowd.jpg');">
            <div class="tc-auth-wrapper" data-c-padding="tb(triple)" data-c-container="small">
                {# Logout and return to the homepage link. #}
                <a
                    data-c-color="white"
                    href="{{ logout_link }}"
                    title="{{ otp.return_title }}"
                    onclick="event.preventDefault();
                             document.getElementById('otp-logout-form').submit();">
                    <i class="fas fa-chevron-left" data-c-margin="right(quarter)"></i>{{ otp.return }}
                </a>
                <form id="otp-logout-form" action="{{ logout_link }}" method="POST" style="display: none;">
                    {{ csrf_field() }}
                </form>
                <div data-c-radius="rounded" data-c-margin="top(normal)">
                    <div class="tc-auth-header gradient-left-right" data-c-padding="all(double)" data-c-align="base(center)">
                        <h1 data-c-font-size="h2" data-c-color="white">{{ otp.header }}</h1>
                    </div>
                    <form action="{{ route('2fa') }}" method="POST">
                        {{ csrf_field() }}
                        <div data-c-background="white(100)" data-c-padding="tb(normal) rl(double)">
                            <div data-c-padding="tb(half)">
                                {% include "errors/form_errors" %}
                                {# OTP Field #}
                                <div data-c-input="number">
                                    <label for="one_time_password">{{ login.email }}</label>
                                    <span>{{ trans("forms.required") }}</span>
                                    <div>
                                        <input id="one_time_password" name="one_time_password" placeholder="e.g. 123456" required autofocus type="number" value="{{ old('one_time_password') }}"/>
                                    </div>
                                    <span>{{ trans("forms.error") }}</span>
                                </div>
                            </div>
                        </div>
                        <div data-c-background="white(100)" data-c-padding="tb(normal) rl(double)" data-c-border="top(thin, solid, grey)">
                            <div data-c-grid="middle">
                                <div data-c-grid-item="base(1of2)">
                                    <a href="{{ route('recovery_codes.use') }}" title="{{ otp.recover_link_title }}">
                                        {{ otp.recover_link }}
                                    </a>
                                </div>
                                <div data-c-grid-item="base(1of2)" data-c-align="base(right)">
                                    <button data-c-button="solid(c1)" data-c-radius="rounded" type="submit">
                                        {{ otp.login }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
