{# =============================================================================

    Talent Cloud
    Auth: Register

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ register.title }}{% endblock %}

{% block body %}

<section
    class="auth"
    style="background-image: url('/images/bg_crowd.jpg');">

    <div
        class="auth-register">

        <a
            class="auth-return-link"
            href="/"
            title="Return Home">
            <i class="fas fa-chevron-left"></i>{{ register.return }}
        </a>

        <div
            class="auth-heading">

            <h1>{{ register.header }}</h1>

        </div>

        <form
            action="{{ routes.register }}"
            class="form__wrapper"
            method="POST">

            {{ csrf_field() }}

            <div
                class="auth-content">

                <div
                    class="auth-scroll-wrapper">

                    <div
                        class="auth-copy">

                        <div
                            class="flex-grid">

                            {% if errors.any() %}
                                <div class="box full">
                                    <ul class="auth-alert">
                                        {% for error in errors.all() %}
                                            <li class="">
                                                <strong>{{ error }}</strong>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            <div
                                class="box full">

                                <div
                                    class="form__input-wrapper--float {{ old('email') ? "active" : '' }}">
                                    <label
                                        class="form__label"
                                        for="name">
                                        {{ register.name }}
                                    </label>
                                    <input
                                        class="form__input"
                                        id="name"
                                        name="name"
                                        required
                                        type="text"
                                        value="{{ old('name') }}" />
                                </div>

                            </div>

                            <div
                                class="box full">

                                <div
                                    class="form__input-wrapper--float">
                                    <label
                                        class="form__label"
                                        for="email">
                                        {{ register.email }}
                                    </label>
                                    <input
                                        class="form__input"
                                        id="email"
                                        name="email"
                                        required
                                        type="email"
                                        value="{{ old('email') }}" />
                                </div>

                            </div>

                            {# Gov Department and Gov Email only appear when registering as a Manager #}
                            {# This div renders a React component, to hide the email field until a dept is chosen. #}
                            <div
                                id="gov-dept-and-email-inputs"
                                data-clone
                                data-departments="{{ departments|json_encode() }}"
                                data-prev-department="{{ old('department') }}"
                                data-prev-gov-email="{{ old('gov_email' ) }}"
                                >
                            </div>
                            {#
                            <div
                                class="box full">
                                <div
                                    class="form__input-wrapper--select">
                                    <label
                                        class="form__label"
                                        for="department">
                                        {{ register.department }}
                                    </label>
                                    <div
                                        class="form__select-wrapper fas fa-chevron-down">
                                        <select
                                            class="form__input"
                                            id="department"
                                            name="department"
                                            required
                                            value="{{ old('department') }}">
                                            <option value="">{{ register.not_in_gov }}</option>
                                            {% for dept in departments %}
                                                <option
                                                    value="{{ dept.id }}">{{ dept.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="box full">
                                <div
                                    class="form__input-wrapper--select">
                                    <label
                                        class="form__label"
                                        for="gov_email">
                                        {{ register.gov_email }}
                                    </label>
                                    <input
                                        class="form__input"
                                        id="gov_email"
                                        name="gov_email"
                                        type="email"
                                        value="{{ old('gov_email') }}" />
                                </div>
                            </div>
                            #}

                            <div
                                class="box full">

                                <p>{{ register.password_copy }}</p>

                            </div>

                            <div
                                class="box med-1of2">

                                <div
                                    class="form__input-wrapper--float">
                                    <label
                                        class="form__label"
                                        for="password">
                                        {{ register.password }}
                                    </label>
                                    <input
                                        class="form__input"
                                        id="password"
                                        name="password"
                                        required
                                        type="password"
                                        autocomplete="off" />
                                </div>

                            </div>

                            <div
                                class="box med-1of2">

                                <div
                                    class="form__input-wrapper--float">
                                    <label
                                        class="form__label"
                                        for="password-confirm">
                                        {{ register.confirm_password }}
                                    </label>
                                    <input
                                        class="form__input"
                                        id="password-confirm"
                                        name="password_confirmation"
                                        required
                                        type="password"
                                        autocomplete="off" />
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div
                class="auth-action-wrapper">

                <div
                    class="flex-grid">

                    <div
                        class="box small-1of2">

                    </div>

                    <div
                        class="box small-1of2">

                        <button
                            class="button--blue light-bg"
                            type="submit">
                            {{ register.register }}
                        </button>

                    </div>

                </div>

            </div>

        </form>

    </div>

    <a
        class="auth-logo"
        href="/"
        title="Return to Talent Cloud.">
        <img
            alt="The Talent Cloud Logo"
            class=""
            src="{{ register.auth_logo }}">
    </a>

</section>

{% endblock %}

{% block scripts %}

    <script async defer
        src="{{ mix('/js/GovDeptAndEmailInputs.js') }}">
    </script>

{% endblock %}
