{% extends "auth/register" %}

{% block extra_fields %}
    <div
        data-c-grid-item="base(1of1)"
        data-c-input="select"
    >
        <label for="department">
            {{ register.department }}
        </label>
        <span>{{ trans('forms.required') }}</span>
        <div>
            <i class="fa fa-caret-down"></i>
            <select
                id="department"
                name="department"
                required
                value="{{ old('department') }}">
                <option selected value="" disabled>{{ register.department_null_selection }}</option>
                <option value="{{ not_in_gov_option.value }}">{{ not_in_gov_option.name }}</option>
                {% for dept in departments %}
                    <option
                        value="{{ dept.id }}">{{ dept.name }}</option>
                {% endfor %}
            </select>
        </div>
        <span>{{ trans('forms.error') }}</span>
    </div>
    {# gov_email is hidden and not-required by default. #}
    <div id="gov_email_wrapper" data-c-visibility="hidden" data-c-grid-item="base(1of1)" data-c-input="email">
        <label for="gov_email">{{ register.gov_email }}</label>
        <span>{{ trans('forms.required') }}</span>
        <div>
            <input id="gov_email"
            name="gov_email" type="email" value="{{ old('gov_email') }}" />
        </div>
        <span>{{ trans('forms.error') }}</span>
    </div>
{% endblock %}

{% block scripts %}

    {# This script hides/shows the gov_email field depending on department selection. #}
    <script async defer
        src="{{ mix('/js/managerRegistration.js') }}">
    </script>

{% endblock %}
