{# =============================================================================

    Talent Cloud
    Common: Application View Sidebar

============================================================================= #}
<div
    class="sidebar-wrapper box lg-1of4">

    <nav
        class="sidebar">

        <h4
            class="sidebar-label">
            {{ application_template.preview.sidebar.label }}
        </h4>

        <a
            class="sidebar-link"
            href="#applicationView01"
            title="">
            {{ application_template.preview.sidebar.item_01 }}
        </a>

        <a
            class="sidebar-link"
            href="#applicationView02"
            title="">
            {{ application_template.preview.sidebar.item_02 }}
        </a>

        <a
            class="sidebar-link"
            href="#applicationView03"
            title="">
            {{ application_template.preview.sidebar.item_03 }}
        </a>

        <a
            class="sidebar-link"
            href="#applicationView04"
            title="">
            {{ application_template.preview.sidebar.item_04 }}
        </a>

    </nav>

</div>
