{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Tracker

============================================================================= #}
<div data-clone>
    <div data-c-border="bottom(thin, solid, gray)" data-c-padding="bottom(3)">
        <div data-c-container="large(center)">
            <div data-c-grid="gutter(all, 2)">
                <div data-c-grid-item="tl(1of4)">
                    {% include "applicant/strategic_response_application/application_view/sidebar" %}
                </div>
                <div data-c-grid-item="tl(3of4)">
                    <div data-c-container="medium(left)">
                        {% if is_draft %}
                            <h2 data-c-heading="h2" data-c-padding="top(3)" data-c-margin="bottom(1)">{{ application_template.preview.title }}</h2>
                            <p>{{ application_template.integrity.review }}</p>
                        {% endif %}
                        <div id="canvas_div_pdf">
                            {% include "applicant/strategic_response_application/application_view/application_01_about" %}

                            {% include "applicant/strategic_response_application/application_view/application_skill_section"
                                with {
                                    anchor_id: "applicationView03",
                                    section_title: application_template.preview.section_03_title,
                                    criteria: essential_criteria
                                }
                            %}

                            {% include "applicant/strategic_response_application/application_view/application_skill_section"
                                with {
                                    anchor_id: "applicationView04",
                                    section_title: application_template.preview.section_04_title,
                                    criteria: asset_criteria
                                }
                            %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# Applicant Specific Actions #}
        {% if (not is_manager_view) and (submitted != "true") %}
                <div data-c-container="medium(center)">
                    <hr data-c-hr="thin(gray)" data-c-margin="tb(2)">
                    <div data-c-grid="gutter(all, 1)">
                        <div data-c-grid-item="tp(1of2)" data-c-align="base(center) tp(left)">
                            <!-- Can we make sure this button functions as intended? -->
                            <a href="{{ route('job.application.edit.4', job) }}" data-c-button="outline(c1)" data-c-radius="rounded" title="{{ application_template.save_return_button_label }}">
                                {{ application_template.save_return_button_label|replace({":step_id": application_step - 1}) }}
                            </a>
                        </div>
                        <div data-c-grid-item="tp(1of2)" data-c-align="base(center) tp(right)">
                            <a href="{{ route('applications.index') }}" data-c-button="outline(c1)" data-c-radius="rounded" data-c-margin="right(half)" title="{{ application_template.save_quit_button_label }}">
                                {{ application_template.save_quit_button_label }}
                            </a>
                            <a href="{{ route('job.application.edit.6', job) }}" data-c-button="solid(c1)" data-c-radius="rounded" title="{{ application_template.save_continue_button_label }}">
                                {{ application_template.save_continue_button_label }}
                            </a>
                        </div>
                    </div>
                </div>
        {% endif %}
    </div>
</div>

