{# =============================================================================

    Talent Cloud
    Recurring Elements: Review an Application - Sidebar

============================================================================= #}
<div class="sidebar" data-c-padding="top(3)">
    <nav>
        <p data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="bottom(1)">{{ application_template.sidebar_label }}</p>
        <ul>
            <li>
                <a href="#applicationView01" title="{{ application_template.preview.sidebar.item_01 }}">{{ application_template.preview.sidebar.item_01 }}</a>
            </li>
            <li>
                <a href="#applicationView03" title="{{ application_template.preview.sidebar.item_01 }}">{{ application_template.preview.sidebar.item_03 }}</a>
            </li>
            <li>
                <a href="#applicationView04" title="{{ application_template.preview.sidebar.item_01 }}">{{ application_template.preview.sidebar.item_04 }}</a>
            </li>
        </ul>
    </nav>
</div>
