{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Questions

============================================================================= #}
<div
    class="application-post__questions">

    <div
        class="container--copy">

        {# Citizenship #}

            <div
                class="application-post__citizenship">

                <h3>
                    {# {{ application_template.citizenship_title }} #}
                    {{ application_template.claim_title }}
                </h3>

                <div
                    class="form_wrapper">

                    <div
                        class="flex-grid">

                        <p>{{ application_template.citizenship_content }}</p>

                        <div
                            class="box full">

                            <div
                                class="form__input-wrapper--select">
                                <label
                                    class="form__label"
                                    for="">
                                    {{ application_template.citizenship_label }}
                                </label>
                                <div
                                    class="form__select-wrapper fas fa-chevron-down">
                                    <select
                                        class="form__input"
                                        name="citizenship_declaration_id" >
                                        {% for option in citizenship_options %}
                                            <option
                                                value="{{ option.id }}"
                                                {% if option.id == job_application.citizenship_declaration_id %}selected{% endif %}>{{ option.value|title }}</option>
                                                {% if option.id == job_application.citizenship_declaration_id %}selected{% endif %}>{{ citizenship_declaration_template[option.name] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        {# Veterans #}

            <div
                class="application-post__veterans">

                {# <h3>
                    {{ application_template.veterans_title }}
                </h3> #}

                <div
                    class="form_wrapper">

                    <div
                        class="flex-grid">

                        <p>{{ application_template.veterans_content }}</p>

                        <div
                            class="box full">

                            <div
                                class="form__input-wrapper--select">
                                <label
                                    class="form__label"
                                    for="">
                                    {{ application_template.veterans_label }}
                                </label>
                                <div
                                    class="form__select-wrapper fas fa-chevron-down">
                                    <select
                                        class="form__input"
                                        name="veteran_status_id">
                                        {% for option in veteran_options %}
                                            <option
                                                value="{{ option.id }}"
                                                {% if option.id == job_application.veteran_status_id %}selected{% endif %}>{{ veteran_status_template[option.name] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        {# Language #}

            <div
                class="application-post__veterans">

                {# <h3>
                    {{ application_template.language_title }}
                </h3> #}

                <div
                    class="form_wrapper">

                    <div
                        class="flex-grid">

                        <p>{{ application_template.language_copy }}</p>

                        <div
                            class="box full">

                            <div
                                class="form__input-wrapper--select">
                                <label
                                    class="form__label"
                                    for="">
                                    {{ application_template.language_label }}
                                </label>
                                <div
                                    class="form__select-wrapper fas fa-chevron-down">
                                    <select
                                        class="form__input"
                                        name="preferred_language_id">
                                        {% for option in language_options %}
                                            <option
                                                value="{{ option.id }}"
                                                {% if option.id == job_application.preferred_language_id %}selected{% endif %}>{{ preferred_language_template[option.name] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        <h3>
            {{ application_template.question_title }}
        </h3>

        {% for question in job.job_poster_questions %}

            <span>
                {{ question.question }}
            </span>

            <p>
                {{ question.description }}
            </p>

            <div
                class="form__input-wrapper--float {% for userAnswer in job_application.job_application_answers %}{% if userAnswer.job_poster_question.id == question.id %}active{% endif %}{% endfor %}">
                <label
                    class="form__label"
                    for="">
                    {{ application_template.question_label }}
                </label>
                <textarea
                    class="form__textarea"
                    name="questions[{{ question.id }}]">{% for userAnswer in job_application.job_application_answers %}{% if userAnswer.job_poster_question.id == question.id %}{{ userAnswer.answer }}{% endif %}{% endfor %}</textarea>
            </div>

        {% endfor %}

        <div
            class="flex-grid middle application-post__action-wrapper">

            <div
                class="box med-1of2">

                <button
                    class="button--blue light-bg"
                    type="submit"
                    name="submit"
                    value="save_and_quit">
                    {{ application_template.save_quit_button_label }}
                </button>

            </div>

            <div
                class="box med-1of2">

                <button
                    class="button--blue light-bg"
                    type="submit"
                    name="submit"
                    value="save_and_continue">
                    {{ application_template.save_continue_button_label }}
                </button>

            </div>

        </div>

    </div>

</div>
