{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Questions

============================================================================= #}
<div
    class="application-post__questions">

    <div
        class="container--copy">

        <h3>
            {{ application.language_title }}
        </h3>

        <div 
            class="application-post__language-alert flex-grid middle">

            <div class="box med-1of5">
                <i class="fas fa-exclamation-triangle"></i>
            </div>

            <div 
                class="box med-4of5">
                <p 
                    class="job-post__apply-content">
                    {{ application.language_copy }}
                </p>
            </div>

        </div>

        <div 
            class="flex-grid application-post__language-agreement">

            <div 
                class="box small-1of2">

                <label
                    for="languageAgree">

                    <input 
                        id="languageAgree"
                        name="languageAgreement"
                        type="radio">

                    {{ application.language_agree }}

                </label>

            </div>

            <div 
                class="box small-1of2">

                <label
                    for="languageDisagree">

                    <input 
                        id="languageDisagree"
                        name="languageAgreement"
                        type="radio">

                    {{ application.language_disagree }}

                </label>

            </div>

        </div>

        <h3>
            {{ application.question_title }}
        </h3>

        {% for question in job.questions %}

            <span>
                {{ question.value }}
            </span>

            <p>
                {{ question.description }}
            </p>

            <div 
                class="form__input-wrapper--float {% if question.answer %}active{% endif %}">
                <label 
                    class="form__label" 
                    for="{{ question.input_name }}">
                    {{ question.answer_label }}
                </label>
                <textarea
                    class="form__textarea"
                    name="{{ question.input_name }}">{% if question.answer != null %}{{ question.answer }}{% endif %}</textarea>
            </div>

        {% endfor %}

        <div
            class="flex-grid middle application-post__action-wrapper">

            <div 
                class="box med-1of2">

                <button
                    class="button--blue light-bg">
                    {{ application.save_quit_button_label }}
                </button>

            </div>

            <div 
                class="box med-1of2">

                <button
                    class="button--blue light-bg">
                    {{ application.save_continue_button_label }}
                </button>

            </div>

        </div>

    </div>

</div>
