{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Questions

============================================================================= #}
<div
    class="application-post__questions">

    <div
        class="container--copy">

        {# Citizenship #}

            <div
                class="application-post__citizenship">

                <h3>
                    {{ application.citizenship_title }}
                </h3>

                <div 
                    class="form_wrapper">

                    <div
                        class="flex-grid">

                        <p>{{ application.citizenship_content }}</p>

                        <div
                            class="box full">

                            <div 
                                class="form__input-wrapper--select">
                                <label 
                                    class="form__label" 
                                    for="">
                                    {{ application.citizenship_label }}
                                </label>
                                <div
                                    class="form__select-wrapper fas fa-chevron-down">
                                    <select
                                        class="form__input">
                                        {% for option in application.citizenship_options|sort %}
                                            <option
                                                {% if option|capitalize == user.application.citizenship|capitalize %}selected{% endif %}>{{ option }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        {# Veterans #}

            <div
                class="application-post__veterans">

                <h3>
                    {{ application.veterans_title }}
                </h3>

                <div 
                    class="form_wrapper">

                    <div
                        class="flex-grid">

                        <p>{{ application.veterans_content }}</p>

                        <div
                            class="box full">

                            <div 
                                class="form__input-wrapper--select">
                                <label 
                                    class="form__label" 
                                    for="">
                                    {{ application.veterans_label }}
                                </label>
                                <div
                                    class="form__select-wrapper fas fa-chevron-down">
                                    <select
                                        class="form__input">
                                        {% for option in application.veterans_options|sort %}
                                            <option
                                                {% if option|capitalize == user.application.veteran|capitalize %}selected{% endif %}>{{ option }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        <h3>
            {{ application.language_title }}
        </h3>

        <div 
            class="application-post__language-alert flex-grid middle">

            <div class="box med-1of5">
                <i class="fas fa-exclamation-triangle"></i>
            </div>

            <div 
                class="box med-4of5">
                <p 
                    class="job-post__apply-content">
                    {{ application.language_copy }}
                </p>
            </div>

        </div>

        <div 
            class="flex-grid application-post__language-agreement">

            <div 
                class="box small-1of2">

                <label
                    for="languageAgree">

                    <input 
                        id="languageAgree"
                        name="languageAgreement"
                        type="radio"
                        {% if user.application.language == true %}checked{% endif %}>

                    {{ application.language_agree }}

                </label>

            </div>

            <div 
                class="box small-1of2">

                <label
                    for="languageDisagree">

                    <input 
                        id="languageDisagree"
                        name="languageAgreement"
                        type="radio"
                        {% if user.application.language == false %}checked{% endif %}>

                    {{ application.language_disagree }}

                </label>

            </div>

        </div>

        <h3>
            {{ application.question_title }}
        </h3>

        {% for question in job.questions %}

            <span>
                {{ question.value }}
            </span>

            <p>
                {{ question.description }}
            </p>

            <div 
                class="form__input-wrapper--float {% for userQuestion in user.application.questions %}{% if userQuestion.id == question.id %}active{% endif %}{% endfor %}">
                <label 
                    class="form__label" 
                    for="">
                    {{ application.question_label }}
                </label>
                <textarea
                    class="form__textarea"
                    name="">{% for userQuestion in user.application.questions %}{% if userQuestion.id == question.id %}{{ userQuestion.answer }}{% endif %}{% endfor %}</textarea>
            </div>

        {% endfor %}

        <div
            class="flex-grid middle application-post__action-wrapper">

            <div 
                class="box med-1of2">

                <button
                    class="button--blue light-bg">
                    {{ application.save_quit_button_label }}
                </button>

            </div>

            <div 
                class="box med-1of2">

                <button
                    class="button--blue light-bg">
                    {{ application.save_continue_button_label }}
                </button>

            </div>

        </div>

    </div>

</div>
