{# =============================================================================

    Talent Cloud
    Auth: Password - Email

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ forgot_password.title }}{% endblock %}

{% block body %}
    {% include "common/goc" %}
    <div data-clone>
        <section class="tc-auth" data-c-padding="tb(triple)" data-c-overlay="black(80)" style="background-image: url('/images/bg_crowd.jpg');">
            <div class="tc-auth-wrapper" data-c-padding="tb(triple)" data-c-container="small">
                {# Return to the homepage link. #}
                <a data-c-color="white" href="{{ routes.home }}" title="Return Home">
                    <i class="fas fa-chevron-left" data-c-margin="right(quarter)"></i>{{ forgot_password.return }}
                </a>
                <div data-c-radius="rounded" data-c-margin="top(normal)">
                    {# Auth UI Title Area #}
                    <div class="tc-auth-header gradient-left-right" data-c-padding="all(double)" data-c-align="base(center)">
                        <h1 data-c-font-size="h2" data-c-color="white">{{ forgot_password.header }}</h1>
                    </div>
                    {# Forgot Password Form #}
                    <form action="{{ routes.password.email }}" method="POST">
                        {{ csrf_field() }}
                        <div data-c-background="white(100)" data-c-padding="tb(normal) rl(double)">
                            <div data-c-padding="top(normal)">
                                {% if session('status') is not empty %}
                                    <div class="box full">
                                        <span class="auth-success">
                                            {{ session('status') }}
                                        </span>
                                    </div>
                                {% endif %}
                                {% include "errors/form_errors" %}
                                {# Reset Input #}
                                <div data-c-input="email">
                                    <label for="email">{{ forgot_password.email }}</label>
                                    <span>Required</span>
                                    <div>
                                        <input id="email" placeholder="e.g. email@website.com" required type="email"
                                        name="email"
                                        value="{{ old('email') }}" />
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                            </div>
                        </div>
                        {# UI Actions #}
                        <div data-c-background="white(100)" data-c-padding="tb(normal) rl(double)" data-c-border="top(thin, solid, grey)">
                            <div data-c-align="base(right)">
                                <button data-c-button="solid(c1)" data-c-radius="rounded" type="submit">
                                    {{ forgot_password.submit }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
