{# =============================================================================

    Talent Cloud
    Auth: Password - Reset

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ reset_password.title }}{% endblock %}

{% block body %}
    {% include "common/goc" %}
    <div data-clone>
        <section class="tc-auth" data-c-padding="tb(triple)" data-c-overlay="black(80)" style="background-image: url('/images/bg_crowd.jpg');">
            <div class="tc-auth-wrapper" data-c-padding="tb(triple)" data-c-container="small">
                {# Return to the homepage link. #}
                <a data-c-color="white" href="{{ routes.home }}" title="Return Home">
                    <i class="fas fa-chevron-left" data-c-margin="right(quarter)"></i>{{ reset_password.return }}
                </a>
                <div data-c-radius="rounded" data-c-margin="top(normal)">
                    {# Auth UI Title Area #}
                    <div class="tc-auth-header gradient-left-right" data-c-padding="all(double)" data-c-align="base(center)">
                        <h1 data-c-font-size="h2" data-c-color="white">{{ reset_password.header }}</h1>
                    </div>
                    {# Password Form #}
                    <form action="{{ routes.password.request }}" method="POST">
                        {{ csrf_field() }}
                        <input type="hidden" name="token" value="{{ token }}">
                        <div data-c-background="white(100)" data-c-padding="tb(normal) rl(double)">
                            <div data-c-padding="top(normal)">
                                {% include "errors/form_errors" %}
                                <div data-c-grid="gutter middle">
                                    {# Email #}
                                    <div data-c-grid-item="base(1of1)" data-c-input="email">
                                        <label for="email">{{ reset_password.email }}</label>
                                        <span>Required</span>
                                        <div>
                                            <input id="email" placeholder="e.g. email@website.com" required
                                            name="email" type="email" value="{{ old('email') }}" />
                                        </div>
                                        <span>This input has an error.</span>
                                    </div>
                                    {# Password Requirements #}
                                    <div data-c-grid-item="base(1of1)">
                                        <p data-c-margin="bottom(normal)">{{ reset_password.password_copy }}</p>
                                    </div>
                                    {# Password #}
                                    <div data-c-grid-item="base(1of2)" data-c-input="password">
                                        <label for="password">{{ reset_password.password }}</label>
                                        <span>Required</span>
                                        <div>
                                            <input id="password" required type="password" name="password"
                                            autocomplete="off" />
                                            <button type="button">
                                                <i class="fas fa-eye"></i>
                                                <i class="fas fa-eye-slash"></i>
                                            </button>
                                        </div>
                                        <span>This input has an error.</span>
                                    </div>
                                    {# Password Confirmation #}
                                    <div data-c-grid-item="base(1of2)" data-c-input="password">
                                        <label for="password-confirm">{{ reset_password.confirm_password }}</label>
                                        <span>Required</span>
                                        <div>
                                            <input id="password-confirm" required type="password" name="password-confirmation"
                                            autocomplete="off" />
                                            <button type="button">
                                                <i class="fas fa-eye"></i>
                                                <i class="fas fa-eye-slash"></i>
                                            </button>
                                        </div>
                                        <span>This input has an error.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# UI Actions #}
                        <div data-c-background="white(100)" data-c-padding="tb(normal) rl(double)" data-c-border="top(thin, solid, grey)">
                            <div data-c-align="base(right)">
                                <button data-c-button="solid(c1)" data-c-radius="rounded" type="submit">
                                    {{ reset_password.submit }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
