{# =============================================================================

    Talent Cloud
    Applicant: Application Index - Application

============================================================================= #}
<div
    class="application-index__item">

    <div
        class="application-index__item-header">

        <h4>
            {{ item.job_poster.title }}
        </h4>

        <span
            class="application-index__item-department">
            {{ departments_template[item.job_poster.department.name] }}
        </span>

        <span
            class="application-index__item-time-wrapper">
            {{ application_index.days_remaining_label|trans_choice(item.job_poster.days_remaining) }}
        </span>

    </div>

    <div
        class="application-index__item-content flex-grid middle">

        <div
            class="box lg-1of3 flex-grid middle">

            <div
                class="box small-1of2">
                <span>{{ application_index.edit_date_label }}</span>
                <p>{{ item.updated_at }}</p>
            </div>

            <div
                class="box small-1of2">
                <span>{{ application_index.post_label }}</span>
                <a
                    href="{{ route('jobs.show', item.job_poster) }}"
                    target="_blank"
                    title="{{ application_index.post_link_title }}">
                    {{ application_index.post_link_label }}
                </a>
            </div>

        </div>

        <div
            class="box lg-1of3 flex-grid middle">

            {# <div
                class="box small-1of3">
                <a
                    class="application-index__item-manager-photo"
                    href="{{ route('managers.show', item.job_poster.manager) }}"
                    target="_blank"
                    title="{{ application_index.manager_profile_link_title }}"
                    style="background-image:url('{{ manager_profile_photo }}');">
                </a>
            </div> #}

            <div
                class="box full">
                <span>
                    {{ item.job_poster.manager.user.name }}
                </span>
                <a
                    href="{{ route('managers.show', item.job_poster.manager) }}"
                    target="_blank"
                    title="{{ application_index.manager_profile_link_title }}">
                    {{ application_index.manager_profile_link_label }}
                </a>
            </div>

        </div>

        <div
            class="box lg-1of3">

            {% if item.application_status.name == "draft" %}

                <a
                    class="button--blue light-bg"
                    href={{ route('job.application.edit.1', item.job_poster) }}
                    title="{{ application_index.draft_link_title }}">
                    {{ application_index.draft_link_label }}
                </a>

            {% else %}

                <a
                    class="button--blue light-bg"
                    href={{ route('job.application.edit.5', item.job_poster) }}
                    title="{{ application_index.view_link_title }}">
                    {{ application_index.view_link_label }}
                </a>

            {% endif %}

            {% if item.application_status.name == "completed" %}

                <i class="fas fa-check"></i>

            {% else %}

                <button
                    class="modal-trigger"
                    data-modal-id="deleteTrash"
                    title="{{ application_index.delete_title }}">
                    <i class="fas fa-trash-alt"></i>
                </button>

            {% endif %}

        </div>

    </div>

</div>
