{# =============================================================================

    Talent Cloud
    Applicant: My Applications - Application Card Partial

    This UI is a reusable partial for displaying an individual application in
    an applicant's list of ongoing, completed, or expired applications.

============================================================================= #}
<div data-c-card data-c-radius="rounded" data-c-padding="all(1)" data-c-margin="bottom(1)">
    <div data-c-grid="gutter(all, 1) middle">
        <div data-c-grid-item="tl(2of3)">
            <p data-c-font-size="h3" data-c-margin="bottom(.25)" data-c-font-weight="bold">{{ item.job_poster.title }}</p>
            <p data-c-color="c2">{{ item.job_poster.department.name }}</p>
        </div>
        <div data-c-grid-item="tl(1of3)" data-c-align="base(left) tl(right)">
            {% if item.application_status.name == "draft" %}
			    {% set expired = item.job_poster.close_date_time.isPast() %}
                <a data-c-button="solid(c1)" data-c-radius="rounded" href={{ expired ? route('applications.show', item) : route('job.application.edit.1', item.job_poster) }} title="{{ expired ? application_index.view_link_title : application_index.draft_link_title }}">{{ expired ? application_index.view_link_label : application_index.draft_link_label }}</a>
            {% else %}
                <a data-c-button="solid(c1)" data-c-radius="rounded" href={{ route('applications.show', item) }} title="{{ application_index.view_link_title }}">{{ application_index.view_link_label }}</a>
            {% endif %}
        </div>
        <div data-c-grid-item="base(1of1)">
            <hr data-c-hr="thin(gray)">
        </div>
        <div data-c-grid-item="tl(1of5)">
            <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ application_index.edit_date_label }}</p>
            <p>{{ item.updated_at }}</p>
        </div>
        <div data-c-grid-item="tl(1of5)">
            <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ application_index.post_label }}</p>
            <a href="{{ route('jobs.show', item.job_poster) }}" target="_blank" title="{{ application_index.post_link_title }}">
				{{ application_index.post_link_label }}
			</a>
        </div>
        <div data-c-grid-item="tl(1of5)">
            <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ item.job_poster.manager.user.first_name }} {{ item.job_poster.manager.user.last_name }}</p>
            <a href="{{ route('managers.show', item.job_poster.manager) }}" target="_blank" title="{{ application_index.manager_profile_link_title }}">
				{{ application_index.manager_profile_link_label }}
			</a>
        </div>
        <div data-c-grid-item="tl(1of5)">
            <p data-c-color="stop">
                {% if item.job_poster.close_date_time.isFuture() %}
					{{ application_index.apply_by_label|trans }}
					{{ humanizeLastDay(item.job_poster.close_date_time) }}
				{% else %}
					{{ application_index.job_closed }}
				{% endif %}
            </p>
        </div>
        {# Status #}
        {% if item.application_status.name == "draft"  %}
            <div data-c-grid-item="tl(1of5)" data-c-align="base(center) tl(right)">
                <button data-c-button="outline(stop)" data-c-radius="rounded" class="modal-trigger{% if item.job_poster.close_date_time.isPast() %} expired{% endif %}" data-modal-id="deleteTrash" title="{{ application_index.delete_title }}" type="button">
					<i class="fas fa-trash-alt"></i>
					<span class="invisible">{{ application_index.delete_label }}</span>
				</button>
            </div>
		{% else %}
            <div data-c-grid-item="tl(1of5)" data-c-align="base(center)">
                <i class="fas fa-check"></i>
            </div>
		{% endif %}
    </div>
</div>
