{# =============================================================================

    Talent Cloud
    Applicant: Application Index - Application

============================================================================= #}
<div
    class="application-index__item modal-target-object"
    data-item-saved="true"
    data-item-url="{{ route('applications.destroy', ":id") }}"
    data-item-id="{{ item.id }}"
    >

    <div
        class="application-index__item-header">

        <h3>
            {{ item.job_poster.title }}
        </h3>

        <span
            class="application-index__item-department">
            {{ departments_template[item.job_poster.department.name] }}
        </span>

        <span
            class="application-index__item-time-wrapper">

            <span>
                {% if item.job_poster.close_date_time.isFuture() %}
                    {{ application_index.apply_by_label|trans }} {{ item.job_poster.applyBy().date }}, {{ item.job_poster.applyBy().time }}
                {% else %}
                    {{ application_index.job_closed }}
                {% endif %}
            </span>

        </span>

    </div>

    <div
        class="application-index__item-content flex-grid gutter">

        <div
            class="box lg-2of9">
            <span>{{ application_index.edit_date_label }}</span>
            <p>{{ item.updated_at }}</p>
        </div>

        <div
            class="box lg-2of9">
            <span>{{ application_index.post_label }}</span>
            <a
                href="{{ route('jobs.show', item.job_poster) }}"
                target="_blank"
                title="{{ application_index.post_link_title }}">
                {{ application_index.post_link_label }}
            </a>
        </div>

        <div
            class="box lg-2of9">
            <span>
                {{ item.job_poster.manager.user.name }}
            </span>
            <a
                href="{{ route('managers.show', item.job_poster.manager) }}"
                target="_blank"
                title="{{ application_index.manager_profile_link_title }}">
                {{ application_index.manager_profile_link_label }}
            </a>
        </div>

        {# If the job poster has expired then do not show link to user #}
        {% if item.job_poster.close_date_time.isPast() %}

            {# Do nothing #}

        {# If the job poster has not expired, but is in draft status #}
        {% elseif item.application_status.name == "draft" %}

            <div class="box lg-2of9">

                <a
                    class="button--blue light-bg"
                    href={{ route('job.application.edit.1', item.job_poster) }}
                    title="{{ application_index.draft_link_title }}">
                    {{ application_index.draft_link_label }}
                </a>

            </div>

        {# Else print out link to view application #}
        {% else %}

            <div class="box lg-2of9">

                <a
                    class="button--blue light-bg"
                    href={{ route('applications.show', item) }}
                    title="{{ application_index.view_link_title }}">
                    {{ application_index.view_link_label }}
                </a>

            </div>

        {% endif %}

        {% if item.application_status.name == "draft"  %}

            <div class="box lg-1of9 {% if item.job_poster.close_date_time.isPast() %}expired{% endif %}">

                <button
                    class="modal-trigger {% if item.job_poster.close_date_time.isPast() %}expired{% endif %}"
                    data-modal-id="deleteTrash"
                    title="{{ application_index.delete_title }}"
                    type="button">
                    <i class="fas fa-trash-alt"></i>
                    <span class="invisible">{{ application_index.delete_label }}</span>
                </button>

            </div>

        {% else %}

            <div class="box lg-1of9">

                <i class="fas fa-check"></i>

            </div>

        {% endif %}

    </div>

</div>
