{# =============================================================================

    Talent Cloud
    Applicant: My Applications - Application Card Partial

    This UI is a reusable partial for displaying an individual application in
    an applicant's list of ongoing, completed, or expired applications.

============================================================================= #}
<div data-c-card data-c-radius="rounded" data-c-margin="bottom(1)">
    <div data-c-padding="all(1)">
        <div data-c-grid="gutter(all, 1) middle">
            <div data-c-grid-item="tl(2of3)">
                <p data-c-font-size="h4" data-c-margin="bottom(.25)" data-c-font-weight="bold">{{ item.job_poster.title }}</p>
                <p data-c-color="c1">{{ item.job_poster.department.name }}</p>
            </div>
            <div data-c-grid-item="tl(1of3)" data-c-align="base(left) tl(right)">
                {# Status #}
                {% if item.application_status.name != "draft"  %}
                    <p data-c-tag="go" data-c-font-size="small" data-c-radius="pill"><i class="fas fa-check" data-c-margin="right(.25)"></i><span>{{ application_index.received_label }}</span></p>
                {% endif %}
            </div>
            <div data-c-grid-item="tl(1of6)">
                <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ application_index.edit_date_label }}</p>
                <p>{{ item.updated_at }}</p>
            </div>
            <div data-c-grid-item="tl(1of6)">
                <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ application_index.post_label }}</p>
                <a href="{{ route('jobs.show', item.job_poster) }}" target="_blank" title="{{ application_index.post_link_title }}">
                    {{ application_index.post_link_label }}
                </a>
            </div>
            <div data-c-grid-item="tl(1of6)">
                <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ application_index.manager_label }}</p>
                <a href="{{ route('managers.show', item.job_poster.manager) }}" target="_blank" title="{{ application_index.manager_profile_link_title }}">{{ item.job_poster.manager.user.first_name }} {{ item.job_poster.manager.user.last_name }}</a>
            </div>
            <div data-c-grid-item="base(1of2) tl(2of6)" data-c-align="base(right)">
                {% if item.application_status.name == "draft" %}
                    {% set expired = item.job_poster.isClosed() %}
                    <a data-c-button="solid(c1)" data-c-radius="rounded" href={{ expired ? route('applications.show', item) : route('job.application.edit.1', item.job_poster) }} title="{{ expired ? application_index.view_link_title : application_index.draft_link_title }}">{{ expired ? application_index.view_link_label : application_index.draft_link_label }}</a>
                {% else %}
                    <a data-c-button="solid(c1)" data-c-radius="rounded" href={{ route('applications.show', item) }} title="{{ application_index.view_link_title }}">{{ application_index.view_link_label }}</a>
                {% endif %}
            </div>
            <div data-c-grid-item="base(1of2) tl(1of6)" data-c-align="base(right)">
                {% if item.application_status.name == "draft"  %}
                    <button data-c-button="reset" data-c-padding="all(.5)" class="modal-trigger{% if item.job_poster.isClosed() %} expired{% endif %}" data-modal-id="deleteTrash" title="{{ application_index.delete_title }}" type="button">
                        <i class="fas fa-trash-alt" data-c-font-size="small" data-c-margin="right(.25)"></i>
                        <span data-c-font-size="regular" data-c-font-style="underline">{{ application_index.delete_label }}</span>
                    </button>
                {% else %}
                    <p data-c-color="gray">
                        <i class="fas fa-trash-alt" data-c-font-size="small" data-c-margin="right(.25)"></i>
                        <span data-c-font-size="regular">{{ application_index.delete_label }}</span>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
