{# =============================================================================

    Talent Cloud
    COVID-19 Response: Screening

============================================================================= #}
{% extends "layouts/base" %}
{% block title %}{{ response_job_title }} | {{ response.page_title }}{% endblock %}
{% block body %}
    {# Government of Canada Banner #}
    {% include "common/goc" %}
    <div data-clone>
        {# Beta Banner #}
        {% include "response/beta-banner" %}
        {# Menu #}
        {% include "response/menu" %}
        {# Header #}
        {% include "response/screening/header" %}
        {# Sorting #}
        <div data-c-border="tb(thin, solid, gray)" data-c-padding="tb(3)">
            <div data-c-container="large">
                <div data-c-accordion-group class="response-accordion-group">
                <div id="response-screening-wrapper" data-job-id="{{ job_id }}" data-portal="{{ portal }}"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script async defer src="{{ asset(mix('/js/ResponseScreeningPage.js')) }}"></script>
{% endblock %}
