{# =============================================================================

    Talent Cloud
    Modal: Create Reference

============================================================================= #}
<div
    class="modal-copy">

    {% for item in modal.content %}

        <p>{{ item }}</p>

    {% endfor %}

</div>

<div
    class="form__wrapper">

    <div
        class="flex-grid">

        <div
            class="box med-1of2">

            <div class="form__input-wrapper--float {% if reference.name == true %}active{% endif %}">
                <label class="form__label" for="referenceName">
                    {{ reference_template.name_label }}
                </label>
                <input
                    class="form__input"
                    id="referenceName"
                    type="text"
                    value="{{ reference.name }}" />
            </div>

        </div>

        <div
            class="box med-1of2">

            <div class="form__input-wrapper--select">
                <label class="form__label" for="referenceRelationship">
                    {{ reference_template.relationship_label }}
                </label>
                <div
                    class="form__select-wrapper fas fa-chevron-down">
                    <select
                        id="referenceRelationship"
                        class="form__input">
                        <option value="" disabled selected>{{ reference_template.relationship_default_option }}</option>
                        {% for relationship in reference_template.relationships|sort %}
                            <option
                                {% if reference.relationship|capitalize == relationship|capitalize %}selected="selected"{% endif %}
                                >{{ relationship }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        </div>

        <div
            class="box full">

            <div class="form__input-wrapper--float {% if reference.email == true %}active{% endif %}">
                <label class="form__label" for="referenceEmail">
                    {{ reference_template.email_label }}
                </label>
                <input
                    class="form__input"
                    id="referenceEmail"
                    type="email"
                    value="{{ reference.email }}" />
            </div>

        </div>

        <div
            class="box full">

            <div
                class="form__input-wrapper--float {% if reference.description != null%}active{% endif %}"
                data-form-id="experience-description">

                <label
                    class="form__label"
                    for="referenceDescription">
                    {{ reference_template.description_label }}
                </label>

                <textarea
                    class="form__textarea"
                    id="referenceDescription">{{ reference.description }}</textarea>

            </div>

        </div>

    </div>

    {# Relatives (Projects) #}

        <div
            class="profile-relative-list">

            {# Relative List Title & Creation Trigger #}

                <div
                    class="profile-relative-list__header flex-grid middle">

                    <div
                        class="box small-1of2">

                        <span
                            class="profile-relative-list__label">
                            {{ relative_template.project.title }}
                        </span>

                    </div>

                    <div
                        class="box small-1of2">

                    </div>

                </div>

            {# Relative Template #}

                {% set relativeToken = "projects" %}

                {% include "common/relatives-projects" with {'template': true} %}

            {# Relative List #}

                {% set relativeCounter = 0 %}

                <div
                    class="profile-relative-list__wrapper">

                    {% for relative in reference.projects %}

                        {% set relativeCounter = relativeCounter + 1 %}

                        {% include "common/relatives-projects" with {'relative': relative} %}

                    {% endfor %}

                </div>

            {# Add Relative Trigger #}

                <div
                    class="profile-relative__add-trigger-wrapper">

                    <button
                        class="profile-relative__add-trigger">
                        {{ relative_template.project.add_label }}
                    </button>

                </div>

        </div>

</div>

<div
    class="flex-grid modal-action-wrapper">

    <div
        class="flex-grid">

        <div
            class="box small-1of2">

            <button
                class="modal-cancel-trigger button--red light-bg">
                {{ modal.action_01 }}
            </button>

        </div>

        <div
            class="box small-1of2">

            <button
                class="button--blue light-bg">
                {{ modal.action_02 }}
            </button>

        </div>

    </div>
