{# =============================================================================

    Talent Cloud
    Application View - Step 01

============================================================================= #}
<a
    aria-hidden="true"
    class="application__view-anchor"
    id="applicationView01">
</a>

<section
    class="application-preview__section-01">

    <h4>
        {{ application_template.preview.section_01_title }}
    </h4>

    {# Applicant Name #}

        {% if auth_check() and auth_user().hasAnyRole(['manager', 'admin']) %}
            <div
                class="application-preview__status">

                <span>Applicant: {{ applicant.user.name }}</span>

            </div>
        {% endif %}

    {# Citizenship #}

        <div
            class="application-preview__status">
            {% if job_application.citizenship_declaration_id != false %}
                <i class="fas fa-check"></i>
                <span>
                    {{ citizenship_declaration_template[job_application.citizenship_declaration.name] }}
                </span>
            {% else %}
                <i class="fas fa-times"></i>
                <span>{{ application_template.preview.citizenship_null_copy }}</span>
            {% endif %}
        </div>

    {# Veteran Status #}

        <div
            class="application-preview__status">
            {% if job_application.veteran_status_id != false %}
                <i class="fas fa-check"></i>
                <span>
                        {{ veteran_status_template[job_application.veteran_status.name] }}
                </span>
            {% else %}
                <i class="fas fa-times"></i>
                <span>{{ application_template.preview.veteran_null_copy }}</span>
            {% endif %}
        </div>

    {# Language Confirmation Status #}

        {% if job.language_requirement.id == 1 %}
            {# English Essential #}
            {% set language_requirement = application_template.english_essential %}
        {% elseif job.language_requirement.id == 2 %}
            {# French Essential #}
            {% set language_requirement = application_template.french_essential %}
        {% elseif job.language_requirement.id == 3 %}
            {# Bilingual Intermediate #}
            {% set language_requirement = application_template.bilingual_intermediate %}
        {% elseif job.language_requirement.id == 4 %}
            {# Bilingual Advanced #}
            {% set language_requirement = application_template.bilingual_advanced %}
        {% elseif job.language_requirement.id == 5 %}
            {# English or French #}
            {% set language_requirement = application_template.english_or_french %}
        {% else %}
            {# nothing #}
        {% endif %}

        <div
            class="application-preview__status">
            {% if job.language_requirement.id != false %}
                <i class="fas fa-check"></i>
                <span>
                    {{ language_requirement }}
                </span>
            {% else %}
                <i class="fas fa-times"></i>
                <span>
                    {{ language_requirement }}
                </span>
            {% endif %}
        </div>

    {# Language Choice #}

        <div
            class="application-preview__status">
            {% if job_application.preferred_language_id != false %}
                <i class="fas fa-check"></i>
                <span>
                    {{ preferred_language_template[job_application.preferred_language.name] }}
                </span>
            {% else %}
                <i class="fas fa-times"></i>
                <span>{{ application_template.preview.language_null_copy }}</span>
            {% endif %}
        </div>

    {# Long Form Questions #}

        {% for question in job.job_poster_questions %}

            <div
                class="application-preview__long-question">

                <span>
                    {{ question.question }}
                </span>

                <p>

                    {% set questionCounter = 0 %}

                    {% for applicantQuestion in application_template.application.questions %}
                        {% if applicantQuestion.id == question.id %}
                            {% set questionCounter = questionCounter + 1 %}
                            {{ applicantQuestion.answer }}
                        {% endif %}
                    {% endfor %}

                    {% for userAnswer in job_application.job_application_answers %}
                        {% if userAnswer.job_poster_question.id == question.id %}
                            {% set questionCounter = questionCounter + 1 %}
                            {{ userAnswer.answer|nl2br }}
                        {% endif %}
                    {% endfor %}

                    {% if questionCounter == 0 %}
                        {{ application_template.preview.long_question_null }}
                    {% endif %}

                </p>

            </div>

        {% endfor %}

</section>
