{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Tracker

============================================================================= #}
<section
    class="application__view-layout">

    <div
        class="application__view-context">

        <div class="container--copy">

            {% include "errors/form_errors" %}

            <h3>
                {{ application_template.preview.title }}
            </h3>

            <p>{{ application_template.preview.copy_01 }}</p>

            <p>{{ application_template.preview.copy_02 }}</p>

            <p>{{ application_template.preview.copy_03|nl2br }}</p>

            <div
                class="form__wrapper">

                <div
                    class="flex-grid">

                        <div
                            class="box med-2of3">

                            <div
                                class="form__input-wrapper--signature">
                                <label
                                    class="form__label"
                                    for="applicationReviewSignature">
                                    {{ application_template.preview.integrity_name_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="applicationReviewSignature"
                                    name="submission_signature"
                                    type="text" />
                            </div>

                        </div>

                        <div
                            class="box med-1of3">

                            <div
                                class="form__input-wrapper--float">
                                <label
                                    class="form__label"
                                    for="applicationReviewDate">
                                    {{ application_template.preview.integrity_date_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="applicationReviewDate"
                                    name="submission_date"
                                    type="text" />
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div
        class="container--layout">

        <div
            class="flex-grid">

            {# Include Sidebar #}

                {% include "common/application/view/view_sidebar" %}

            {# Preview Content #}

                <div class="application__view-content-wrapper box lg-3of4">

                    {% include "common/application/view/view_01_about" %}

                    {% include "common/application/view/view_02_experience" %}

                    {% include "common/application/view/view_03_essential" %}

                    {% include "common/application/view/view_04_asset" %}

                </div>

        </div>

    </div>

    {% include "common/application/view/view_05_actions" %}

</section>
