{# =============================================================================

    Talent Cloud
    Recurring Elements: Review an Application - Education and Experience

============================================================================= #}
<section id="applicationView02" data-c-padding="top(3)">
    <h3 data-c-heading="h3" data-c-padding="bottom(1)" data-c-margin="bottom(1)">{{ application_template.preview.section_02_title }}</h3>
    <div data-c-background="gray(20)" data-c-radius="rounded" data-c-padding="all(1)" data-c-border="all(thin, solid, gray)">
        <p>{{ application_template.preview.experience.requirement_label }} {{ job.education|nl2br }}</p>
    </div>
    {% set locale = "application-view" %}
    {# Degrees #}
    <h4 data-c-heading="h4" data-c-margin="top(2) bottom(1)">{{ application_template.preview.experience.degree_label }}</h4>
    <div data-c-accordion-group>
        {% set degreeCounter = 0 %}
        {% for degree in degrees %}
            {% set degreeCounter = degreeCounter + 1 %}
            {% include "common/degree" %}
        {% endfor %}
    </div>
    {% if degreeCounter == 0 %}
        <div data-c-background="gray(20)" data-c-radius="rounded" data-c-padding="all(1)" data-c-border="all(thin, solid, gray)" data-c-color="gray">
            <p>{{ application_template.preview.experience.null_degree_copy }}</p>
        </div>
    {% endif %}
    {# Courses #}
    <h4 data-c-heading="h4" data-c-margin="top(2) bottom(1)">{{ application_template.preview.experience.course_label }}</h4>
    <div data-c-accordion-group>
        {% set courseCounter = 0 %}
        {% for course in courses %}
            {% set courseCounter = courseCounter + 1 %}
            {% include "common/course" %}
        {% endfor %}
    </div>
    {% if courseCounter == 0 %}
        <div data-c-background="gray(20)" data-c-radius="rounded" data-c-padding="all(1)" data-c-border="all(thin, solid, gray)" data-c-color="gray">
            <p>{{ application_template.preview.experience.null_course_copy }}</p>
        </div>
    {% endif %}
    {# Work Experience #}
    <h4 data-c-heading="h4" data-c-margin="top(2) bottom(1)">{{ application_template.preview.experience.work_label }}</h4>
    <div data-c-accordion-group>
        {% set workCounter = 0 %}
        {% for work in work_experiences %}
            {% set workCounter = workCounter + 1 %}
            {% include "common/work" %}
        {% endfor %}
    </div>
    {% if workCounter == 0 %}
        <div data-c-background="gray(20)" data-c-radius="rounded" data-c-padding="all(1)" data-c-border="all(thin, solid, gray)" data-c-color="gray">
            <p>{{ application_template.preview.experience.null_work_copy }}</p>
        </div>
    {% endif %}
</section>
