{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Tracker

============================================================================= #}

    <div
        class="container--layout">

        <div
            class="flex-grid">

            {# Include Sidebar #}

                {% include "common/application/view/view_sidebar" %}

            {# Preview Content #}

                <div class="application__view-content-wrapper box lg-3of4">

                    {% include "common/application/view/view_01_about" %}

                    {% include "common/application/view/view_02_experience" %}

                    {% include "common/application/view/view_03_essential" %}

                    {% include "common/application/view/view_04_asset" %}

                </div>

                <div class="box full">

                    <div
                        class="container--copy">

                        {# Save Buttons #}

                            <div
                                class="flex-grid middle application-post__action-wrapper">

                                <div
                                    class="box med-1of2">

                                    <button
                                        class="button--blue light-bg ajax-submit-all"
                                        type="button"
                                        name="submit"
                                        value="save_and_quit"
                                        data-on-success-url="{{ route('applications.index') }}">
                                        <span class="submit-default">{{ application_template.save_quit_button_label }}</span>
                                        <span class="submit-working">{{ application_template.save_button_working }}</span>
                                    </button>

                                </div>

                                <div
                                    class="box med-1of2">

                                    <button
                                        class="button--blue light-bg ajax-submit-all"
                                        type="button"
                                        name="submit"
                                        value="save_and_continue"
                                        {% if application_step == "3" %}
                                            data-on-success-url="{{ route('job.application.edit.4', job) }}"
                                        {% elseif application_step == "4" %}
                                            data-on-success-url="{{ route('job.application.edit.5', job) }}"
                                        {% endif %}
                                        >
                                        <span class="submit-default">{{ application_template.save_continue_button_label }}</span>
                                        <span class="submit-working">{{ application_template.save_button_working }}</span>
                                    </button>

                                </div>

                            </div>

                    </div>

                </div>

        </div>

    </div>
