{# =============================================================================

    Talent Cloud
    Application View - Step 02

============================================================================= #}
<a
    aria-hidden="true"
    class="application__view-anchor"
    id="applicationView02">
</a>

<section
    class="application-preview__section-02">

    <h4>
        {{ application_template.preview.section_02_title }}
    </h4>

    <p
        class="application-preview__context">{{ application_template.preview.experience.requirement_label }} {{ job.education|nl2br }}</p>

    {# Set Locale #}

        {% set locale = "application-view" %}

    <div>

        <h5>{{ application_template.preview.experience.degree_label }}</h5>

        {# Profile Element List #}

            <div
                class="profile-element-list">

                {% set degreeCounter = 0 %}

                {% for degree in degrees %}

                    {% set degreeCounter = degreeCounter + 1 %}

                    {% include "common/degree" %}

                {% endfor %}

                <div
                    class="profile-null {% if degreeCounter == 0 %}active{% endif %}">

                    <p>{{ application_template.preview.experience.null_degree_copy }}</p>

                </div>

            </div>

    </div>

    <div>

        <h5>{{ application_template.preview.experience.course_label }}</h5>

        {# Profile Element List #}

            <div
                class="profile-element-list">

                {% set courseCounter = 0 %}

                {% for course in courses %}

                    {% set courseCounter = courseCounter + 1 %}

                    {% include "common/course" %}

                {% endfor %}

                <div
                    class="profile-null {% if courseCounter == 0 %}active{% endif %}">

                    <p>{{ application_template.preview.experience.null_course_copy }}</p>

                </div>

            </div>

    </div>

    <div>

        <h5>{{ application_template.preview.experience.work_label }}</h5>

        {# Profile Element List #}

            <div
                class="profile-element-list">

                {% set workCounter = 0 %}

                {% for work in work_experiences %}

                    {% set workCounter = workCounter + 1 %}

                    {% include "common/work" %}

                {% endfor %}

                <div
                    class="profile-null {% if workCounter == 0 %}active{% endif %}">

                    <p>{{ application_template.preview.experience.null_work_copy }}</p>

                </div>

            </div>

    </div>

</section>
