<div
    class="application-post__accordion--degree accordion active {% if experience.level == null %}template{% endif %}" 
    data-experience-id="{{ experienceCounter }}">

    <div
        aria-expanded="true"
        class="accordion-trigger"
        tabindex="0">

        <span
            class="accordion-title">
            {% if experience.level %}
                ({{ application.experience.degree_label }}) {{ experience.level | capitalize }}, {{ experience.area_of_study }}
            {% else %}
                New Diploma / Degree
            {% endif %}
        </span>

        <i class="fas fa-chevron-up"></i>

    </div>

    <div
        aria-hidden="false"
        class="accordion-content">

        <div
            class="form__wrapper">
            
            <div 
                class="flex-grid">

                <div 
                    class="box med-1of2">

                    <div 
                        class="form__input-wrapper--select"
                        data-form-id="experience-degree">
                        <label 
                            class="form__label"
                            for="degree{{ experienceCounter }}">
                            {{ application.experience.degree_label }}
                        </label>
                        <div 
                            class="form__select-wrapper">
                            <select 
                                class="form__input"
                                id="degree{{ experienceCounter }}">
                                {% for option in application.experience.degree_options %}
                                    <option
                                        {% if experience.level | capitalize == option %}selected="selected"{% endif %}
                                        >{{ option }}</option>
                                        }
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>

                <div
                    class="box med-1of2">

                    <div 
                        class="form__input-wrapper--float {% if experience.area_of_study != null%}active{% endif %}"
                        data-form-id="experience-aos">

                        <label 
                            class="form__label"
                            for="areaOfStudy{{ experienceCounter }}">
                            {{ application.experience.area_of_study_label }}
                        </label>

                        <input
                            class="form__input"
                            id="areaOfStudy{{ experienceCounter }}"
                            type="text"
                            value="{{ experience.area_of_study }}">

                    </div>

                </div>

                <div
                    class="box full">

                    <div 
                        class="form__input-wrapper--float {% if experience.institution != null%}active{% endif %}"
                        data-form-id="experience-institution">

                        <label 
                            class="form__label"
                            for="institution{{ experienceCounter }}">
                            {{ application.experience.institution_label }}
                        </label>

                        <input
                            class="form__input"
                            id="institution{{ experienceCounter }}"
                            type="text"
                            value="{{ experience.institution }}">

                    </div>

                </div>

                <div
                    class="box med-1of2">

                    <div 
                        class="form__input-wrapper--date"
                        data-form-id="experience-start-date">

                        <label 
                            class="form__label"
                            for="startDate{{ experienceCounter }}">
                            {{ application.experience.start_date_label }}
                        </label>

                        <input
                            class="form__input"
                            id="startDate{{ experienceCounter }}"
                            type="date"
                            value="{{ experience.start_date }}">

                    </div>

                </div>

                <div
                    class="box med-1of2">

                    <div 
                        class="form__input-wrapper--date"
                        data-form-id="experience-end-date">

                        <label 
                            class="form__label"
                            for="endDate{{ experienceCounter }}">
                            {{ application.experience.end_date_label }}
                        </label>

                        <input
                            class="form__input"
                            id="endDate{{ experienceCounter }}"
                            type="date"
                            value="{{ experience.end_date }}">

                    </div>

                </div>

            </div>

        </div>

        <div
            class="accordion-actions flex-grid">

            <div
                class="box med-1of2">
                <button
                    class="button--red light-bg">
                    {{ application.experience.delete_button_label }}
                </button>
            </div>

            <div
                class="box med-1of2">
                <button
                    class="button--blue light-bg">
                    {{ application.experience.save_button_label }}
                </button>
            </div>

        </div>

    </div>

</div>