{# =============================================================================
    Talent Cloud
    Applicant: Application - Education & Experience Sidebar
============================================================================= #}
<div class="sidebar" data-c-padding="top(3)">
    <nav>
        <p data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="bottom(1)">On this page:</p>
        <ul>
            <li>
                <a href="#degrees" title="{{ application_template.experience_section.section_degree_title }}">{{ application_template.experience_section.section_degree_title }}</a>
            </li>
            <li>
                <a href="#courses" title="{{ application_template.experience_section.section_course_title }}">{{ application_template.experience_section.section_course_title }}</a>
            </li>
            <li>
                <a href="#experience" title="{{ application_template.experience_section.section_work_title }}">{{ application_template.experience_section.section_work_title }}</a>
            </li>
        </ul>
    </nav>
</div>
