<div
    class="application-post__accordion--work accordion active {% if experience.role == null %}template{% endif %}"
    data-experience-id="{{ experienceCounter }}">

    <div
        aria-expanded="true"
        class="accordion-trigger"
        tabindex="0">

        <span
            class="accordion-title">
            {% if experience.role %}
                ({{ application.experience.lived_label }}) {{ experience.role }}, {{ experience.group }}
            {% else %}
                New Lived Experience
            {% endif %}
        </span>

        <i class="fas fa-chevron-up"></i>

    </div>

    <div
        aria-hidden="false"
        class="accordion-content">

        <div
            class="form__wrapper">
            
            <div 
                class="flex-grid">

                <div
                    class="box med-1of2">

                    <div 
                        class="form__input-wrapper--float {% if experience.role != null%}active{% endif %}"
                        data-form-id="experience-role">

                        <label 
                            class="form__label"
                            for="role{{ experienceCounter }}">
                            {{ application.experience.role_label }}
                        </label>

                        <input
                            class="form__input"
                            id="role{{ experienceCounter }}"
                            type="text"
                            value="{{ experience.role }}">

                    </div>

                </div>

                <div
                    class="box med-1of2">

                    <div 
                        class="form__input-wrapper--float {% if experience.group != null%}active{% endif %}"
                        data-form-id="experience-group">

                        <label 
                            class="form__label"
                            for="group{{ experienceCounter }}">
                            {{ application.experience.group_label }}
                        </label>

                        <input
                            class="form__input"
                            id="group{{ experienceCounter }}"
                            type="text"
                            value="{{ experience.group }}">

                    </div>

                </div>

                <div
                    class="box full">

                    <div 
                        class="form__input-wrapper--float {% if experience.description != null%}active{% endif %}"
                        data-form-id="experience-description">

                        <label 
                            class="form__label"
                            for="description{{ experienceCounter }}">
                            {{ application.experience.description_label }}
                        </label>

                        <textarea class="form__textarea" id="description{{ experienceCounter }}">{{ experience.description }}</textarea>

                    </div>

                </div>

                <div
                    class="box med-1of2">

                    <div 
                        class="form__input-wrapper--date"
                        data-form-id="experience-start-date">

                        <label 
                            class="form__label"
                            for="startDate{{ experienceCounter }}">
                            {{ application.experience.start_date_label }}
                        </label>

                        <input
                            class="form__input"
                            id="startDate{{ experienceCounter }}"
                            type="date"
                            value="{{ experience.start_date }}">

                    </div>

                </div>

                <div
                    class="box med-1of2">

                    <div 
                        class="form__input-wrapper--date"
                        data-form-id="experience-end-date">

                        <label 
                            class="form__label"
                            for="endDate{{ experienceCounter }}">
                            {{ application.experience.end_date_label }}
                        </label>

                        <input
                            class="form__input"
                            id="endDate{{ experienceCounter }}"
                            type="date"
                            value="{{ experience.end_date }}">

                    </div>

                </div>

            </div>

        </div>

        <div
            class="accordion-actions flex-grid">

            <div
                class="box med-1of2">
                <button
                    class="button--red light-bg">
                    Delete This
                </button>
            </div>

            <div
                class="box med-1of2">
                <button
                    class="button--blue light-bg">
                    Save This
                </button>
            </div>

        </div>

    </div>

</div>