{# =============================================================================

    Talent Cloud
    Applicant: Static Credentialing Sidebar

============================================================================= #}
<section class="faq" data-clone>

    <div data-c-background="white(100)">

        <div data-c-container="large">

            <div class="flex-grid">

                {# Include Sidebar #}

                    {% include "applicant/static/credentialing_sidebar" %}

                {# Skills Content #}

                    <div data-clone class="faq__content box lg-3of4">

                        <div data-c-padding="bottom(triple)">

                            {# To Know #}
                            <span aria-hidden="true" id="{{ faq.know.category_anchor }}"></span>
                            <h2 data-c-font-size="h3" data-c-font-weight="bold" data-c-padding="top(triple) bottom(normal)">{{ faq.know.category_title }}</h2>
                            <div data-c-accordion-group>
                                {% for section in faq.know.sections %}
                                    <div
                                        data-c-accordion
                                        data-c-background="white(100)"
                                        data-c-margin="bottom(quarter)"
                                        data-c-radius="rounded">
                                        <button
                                            aria-expanded="false"
                                            data-c-accordion-trigger
                                            data-c-background="c1(100)"
                                            data-c-padding="right"
                                            tabindex="0"
                                            type="button">
                                            <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                                                <p data-c-colour="white" data-c-heading="h4" data-c-font-weight="400">
                                                    {{ section.title }}
                                                </p>
                                            </div>
                                            <span data-c-visibility="invisible">
                                                Click to view...
                                            </span>
                                            <i
                                                aria-hidden="true"
                                                class="fa fa-plus"
                                                data-c-accordion-add
                                                data-c-colour="white">
                                            </i>
                                            <i
                                                aria-hidden="true"
                                                class="fa fa-minus"
                                                data-c-accordion-remove
                                                data-c-colour="white">
                                            </i>
                                        </button>
                                        <div
                                            aria-hidden="true"
                                            data-c-accordion-content
                                            data-c-border="lr(thin, solid, black)"
                                            data-c-padding="right(normal) left(normal)">
                                            <div data-c-padding="bottom(normal)">
                                                {% for item in section.copy %}

                                                    {% if item is iterable %}
                                                        {% if item.type == "ol" %}
                                                            <ol data-c-margin="top(normal)">
                                                                {% for list_item in item.items %}
                                                                    <li>{{ list_item|raw }}</li>
                                                                {% endfor %}
                                                            </ol>
                                                        {% elseif item.type == "ul" %}
                                                            <ul data-c-margin="top(normal)">
                                                                {% for list_item in item.items %}
                                                                    <li>{{ list_item|raw }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    {% else %}
                                                        <p data-c-padding="top(normal)">{{ item|raw }}</p>
                                                    {% endif %}

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            {# Partners #}
                            <span aria-hidden="true" id="{{ faq.partners.category_anchor }}"></span>
                            <h2 data-c-font-size="h3" data-c-font-weight="bold" data-c-margin="top(triple) bottom(normal)">{{ faq.partners.category_title }}</h2>
                            {% for section in faq.partners.sections %}
                                {% for item in section.copy %}
                                    {% if item is iterable %}
                                        {% if item.type == "ol" %}
                                            <ol data-c-margin="top(normal)">
                                                {% for list_item in item.items %}
                                                    <li>{{ list_item|raw }}</li>
                                                {% endfor %}
                                            </ol>
                                        {% elseif item.type == "ul" %}
                                            <ul data-c-margin="top(normal)">
                                                {% for list_item in item.items %}
                                                    <li>{{ list_item|raw }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% else %}
                                        <p data-c-margin="top(normal)">{{ item|raw }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                            {# After Application #}
                            <span aria-hidden="true" id="{{ faq.speed.category_anchor }}"></span>
                            <h2 data-c-font-size="h3" data-c-font-weight="bold" data-c-margin="top(triple) bottom(normal)">{{ faq.speed.category_title }}</h2>
                            {% for section in faq.speed.sections %}
                                {% for item in section.copy %}
                                    {% if item is iterable %}
                                        {% if item.type == "ol" %}
                                            <ol data-c-margin="top(normal)">
                                                {% for list_item in item.items %}
                                                    <li>{{ list_item|raw }}</li>
                                                {% endfor %}
                                            </ol>
                                        {% elseif item.type == "ul" %}
                                            <ul data-c-margin="top(normal)">
                                                {% for list_item in item.items %}
                                                    <li>{{ list_item|raw }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% else %}
                                        <p data-c-margin="top(normal)">{{ item|raw }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                            {# Skill Recognition #}
                            <span aria-hidden="true" id="{{ faq.skills.category_anchor }}"></span>
                            <h2 data-c-font-size="h3" data-c-font-weight="bold" data-c-margin="top(triple) bottom(normal)">{{ faq.skills.category_title }}</h2>
                            {% for section in faq.skills.sections %}
                                <h4>{{ section.title }}</h4>
                                {% for item in section.copy %}
                                    {% if item is iterable %}
                                        {% if item.type == "ol" %}
                                            <ol data-c-margin="top(normal)">
                                                {% for list_item in item.items %}
                                                    <li>{{ list_item|raw }}</li>
                                                {% endfor %}
                                            </ol>
                                        {% elseif item.type == "ul" %}
                                            <ul data-c-margin="top(normal)">
                                                {% for list_item in item.items %}
                                                    <li>{{ list_item|raw }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% else %}
                                        <p data-c-margin="top(normal)">{{ item|raw }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                            {# Level Descriptions #}
                            <span aria-hidden="true" id="{{ faq.levels.category_anchor }}"></span>
                            <h2 data-c-font-size="h3" data-c-font-weight="bold" data-c-margin="top(triple) bottom(normal)">{{ faq.levels.category_title }}</h2>
                            {% for section in faq.levels.sections %}
                                <h3 data-c-font-size="h4" data-c-margin="top(double) bottom(normal)">{{ section.title }}</h3>
                                {% for item in section.copy %}
                                    {% if item is iterable %}
                                        {% if item.type == "ol" %}
                                            <ol>
                                                {% for list_item in item.items %}
                                                    <li>{{ list_item|raw }}</li>
                                                {% endfor %}
                                            </ol>
                                        {% elseif item.type == "ul" %}
                                            <ul>
                                                {% for list_item in item.items %}
                                                    <li>{{ list_item|raw }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <div data-c-accordion-group>
                                                <div
                                                    data-c-accordion
                                                    data-c-background="white(100)"
                                                    data-c-margin="bottom(quarter)"
                                                    data-c-radius="rounded">
                                                    <button
                                                        aria-expanded="false"
                                                        data-c-accordion-trigger
                                                        data-c-background="c1(100)"
                                                        data-c-padding="right"
                                                        tabindex="0"
                                                        type="button">
                                                        <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                                                            <p data-c-colour="white" data-c-heading="h4" data-c-font-weight="400">
                                                                {{ item.title }}
                                                            </p>
                                                        </div>
                                                        <span data-c-visibility="invisible">
                                                            Click to view...
                                                        </span>
                                                        <i
                                                            aria-hidden="true"
                                                            class="fa fa-plus"
                                                            data-c-accordion-add
                                                            data-c-colour="white">
                                                        </i>
                                                        <i
                                                            aria-hidden="true"
                                                            class="fa fa-minus"
                                                            data-c-accordion-remove
                                                            data-c-colour="white">
                                                        </i>
                                                    </button>
                                                    <div
                                                        aria-hidden="true"
                                                        data-c-accordion-content
                                                        data-c-border="lr(thin, solid, black)"
                                                        data-c-padding="right(normal) left(normal)">
                                                        <div data-c-padding="bottom(normal)">
                                                            {% if item.subcopy.type == "ol" %}
                                                                <ol data-c-padding="top(normal)">
                                                                    {% for list_item in item.subcopy.items %}
                                                                        <li>{{ list_item|raw }}</li>
                                                                    {% endfor %}
                                                                </ol>
                                                            {% elseif item.subcopy.type == "ul" %}
                                                                <ul data-c-padding="top(normal)">
                                                                    {% for list_item in item.subcopy.items %}
                                                                        <li>{{ list_item|raw }}</li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <p>{{ item|raw }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                        </div>

                    </div>

            </div>

        </div>

    </div>

</section>
