{# =============================================================================

    Talent Cloud
    Applicant: Static Credentialing Sidebar

============================================================================= #}
<section
    class="faq">

    <div
        class="container--layout">

        <div
            class="flex-grid">

            {# Include Sidebar #}

                {% include "applicant/static/credentialing_sidebar" %}

            {# Skills Content #}

                <div class="faq__content box lg-3of4">

                    {# To Know #}

                        <a
                            aria-hidden="true"
                            class="faq__anchor"
                            id="{{ faq.know.category_anchor }}">
                        </a>

                        <h2>{{ faq.know.category_title }}</h2>

                        {% for section in faq.know.sections %}

                            <h3>{{ section.title }}</h3>

                            {% for item in section.copy %}

                                {% if item is iterable %}
                                    {% if item.type == "ol" %}
                                        <ol>
                                            {% for list_item in item.items %}
                                                <li>{{ list_item|raw }}</li>
                                            {% endfor %}
                                        </ol>
                                    {% elseif item.type == "ul" %}
                                        <ul>
                                            {% for list_item in item.items %}
                                                <li>{{ list_item|raw }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% else %}
                                    <p>{{ item|raw }}</p>
                                {% endif %}

                            {% endfor %}

                        {% endfor %}

                    {# After Application #}

                        <a
                            aria-hidden="true"
                            class="faq__anchor"
                            id="{{ faq.speed.category_anchor }}">
                        </a>

                        <h2>{{ faq.speed.category_title }}</h2>

                        {% for section in faq.speed.sections %}

                            {% for item in section.copy %}

                                {% if item is iterable %}
                                    {% if item.type == "ol" %}
                                        <ol>
                                            {% for list_item in item.items %}
                                                <li>{{ list_item|raw }}</li>
                                            {% endfor %}
                                        </ol>
                                    {% elseif item.type == "ul" %}
                                        <ul>
                                            {% for list_item in item.items %}
                                                <li>{{ list_item|raw }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% else %}
                                    <p>{{ item|raw }}</p>
                                {% endif %}

                            {% endfor %}

                        {% endfor %}

                    {# Skill Recognition #}

                        <a
                            aria-hidden="true"
                            class="faq__anchor"
                            id="{{ faq.skills.category_anchor }}">
                        </a>

                        <h2>{{ faq.skills.category_title }}</h2>

                        {% for section in faq.skills.sections %}

                            <h3>{{ section.title }}</h3>

                            {% for item in section.copy %}

                                {% if item is iterable %}
                                    {% if item.type == "ol" %}
                                        <ol>
                                            {% for list_item in item.items %}
                                                <li>{{ list_item|raw }}</li>
                                            {% endfor %}
                                        </ol>
                                    {% elseif item.type == "ul" %}
                                        <ul>
                                            {% for list_item in item.items %}
                                                <li>{{ list_item|raw }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% else %}
                                    <p>{{ item|raw }}</p>
                                {% endif %}

                            {% endfor %}

                        {% endfor %}

                    {# Level Descriptions #}

                        <a
                            aria-hidden="true"
                            class="faq__anchor"
                            id="{{ faq.levels.category_anchor }}">
                        </a>

                        <h2>{{ faq.levels.category_title }}</h2>

                        {% for section in faq.levels.sections %}

                            <h3>{{ section.title }}</h3>

                            {% for item in section.copy %}

                                {% if item is iterable %}
                                    {% if item.type == "ol" %}
                                        <ol>
                                            {% for list_item in item.items %}
                                                <li>{{ list_item|raw }}</li>
                                            {% endfor %}
                                        </ol>
                                    {% elseif item.type == "ul" %}
                                        <ul>
                                            {% for list_item in item.items %}
                                                <li>{{ list_item|raw }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% else %}
                                    <p>{{ item|raw }}</p>
                                {% endif %}

                            {% endfor %}

                        {% endfor %}

                    {# Employee Benefits #}

                        <a
                            aria-hidden="true"
                            class="faq__anchor"
                            id="{{ faq.benefits.category_anchor }}">
                        </a>

                        <h2>{{ faq.benefits.category_title }}</h2>

                        {% for section in faq.benefits.sections %}

                            <h3>{{ section.title }}</h3>

                                {% for item in section.copy %}

                                {% if item is iterable %}
                                    {% if item.type == "h4" %}
                                        <h4>{{ item.items['00']|raw }}</h4>
                                        <p>{{ item.items['01']|raw }}</p>
                                    {% endif %}
                                {% else %}
                                    <p>{{ item|raw }}</p>
                                {% endif %}

                            {% endfor %}

                        {% endfor %}

                </div>

        </div>

    </div>

</section>
