{# =============================================================================

    Talent Cloud
    Applicant: Static Credentialing Sidebar

============================================================================= #}
<div
    class="sidebar-wrapper box lg-1of4">

    <nav
        class="sidebar">

        <span
            class="sidebar-label">
            {{ faq.sidebar_label }}
        </span>

        <a
            class="sidebar-link"
            href="#to-know"
            title="{{ faq.know.sidebar_title }}">
            {{ faq.know.sidebar_title }}
        </a>

        <a
            class="sidebar-link"
            href="#post-application"
            title="{{ faq.speed.sidebar_title }}">
            {{ faq.speed.sidebar_title }}
        </a>

        <a
            class="sidebar-link"
            href="#skill-recognition"
            title="{{ faq.skills.sidebar_title }}">
            {{ faq.skills.sidebar_title }}
        </a>

        <a
            class="sidebar-link"
            href="#levels"
            title="{{ faq.levels.sidebar_title }}">
            {{ faq.levels.sidebar_title }}
        </a>

        <a
            class="sidebar-link"
            href="#benefits"
            title="{{ faq.benefits.sidebar_title }}">
            {{ faq.benefits.sidebar_title }}
        </a>

    </nav>

</div>
