{# =============================================================================

    Talent Cloud
    Applicant: Static Credentialing Sidebar

============================================================================= #}
<div class="sidebar-wrapper box lg-1of4">
    <nav class="clone-sidebar" data-c-padding="top(triple)">
        {# Applicants #}
        <button class="sidebar-trigger {{ applicant_sidebar_active }}">{{ faq.sidebar.users.applicants }}<i class="fas fa-chevron-down"></i></button>
        <ul class="{{ applicant_sidebar_active ? '' : 'hidden' }}">
            {% for section in faq.applicants.sections %}
                <li>
                    <a href="#{{ section.hash }}" title="{{ section.title }}">
                    {{ section.title }}</a>
                </li>
            {% endfor %}
        </ul>
        {# Managers #}
        <button class="sidebar-trigger {{ manager_sidebar_active }}">{{ faq.sidebar.users.managers }}<i class="fas fa-chevron-down"></i></button>
        <ul class="{{ manager_sidebar_active ? '' : 'hidden' }}">
            {% for section in faq.hiring.sections %}
                <li>
                    <a href="#{{ section.hash }}" title="{{ section.title }}">
                    {{ section.title }}</a>
                </li>
            {% endfor %}
        </ul>
        {# HR Advisors #}
        <button class="sidebar-trigger {{ hr_sidebar_active }}">{{ faq.sidebar.users.hr }}<i class="fas fa-chevron-down"></i></button>
        <ul class="{{ hr_sidebar_active ? '' : 'hidden' }}">
            {% for section in faq.hr.sections %}
                <li>
                    <a href="#{{ section.hash }}" title="{{ section.title }}">
                    {{ section.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
