{# =============================================================================

    Talent Cloud
    Applicant: Static Credentialing Sidebar

============================================================================= #}
<section class="faq" data-clone>
    <div data-c-background="white(100)">
        <div data-c-container="large">
            <div class="flex-grid">
                {# Include Sidebar #}
                {% include "applicant/static/credentialing_sidebar" %}
                {# FAQ Content #}
                <div data-clone class="faq__content box lg-3of4">
                    <div data-c-padding="bottom(triple)">
                        {# Applicant Content ================================ #}
                        <span id="{{ faq.applicants.hash }}"></span>
                        <h2 data-c-margin="top(triple)" data-c-font-size="h2">{{ faq.applicants.title }}</h2>
                        {% for section in faq.applicants.sections %}
                            {% include "./applicant/static/faq-layout" %}
                        {% endfor %}
                        {# Manager Content ================================== #}
                        <span id="{{ faq.hiring.hash }}"></span>
                        <h2 data-c-margin="top(triple)" data-c-font-size="h2">{{ faq.hiring.title }}</h2>
                        {% for section in faq.hiring.sections %}
                            {% include "./applicant/static/faq-layout" %}
                        {% endfor %}
                        {# HR Content ======================================= #}
                        <span id="{{ faq.hr.hash }}"></span>
                        <h2 data-c-margin="top(triple)" data-c-font-size="h2">{{ faq.hr.title }}</h2>
                        {% for section in faq.hr.sections %}
                            {% include "./applicant/static/faq-layout" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
