{# =============================================================================

    Talent Cloud
    Applicant: Static Credentialing Sidebar

============================================================================= #}
<div class="sidebar-wrapper box lg-1of4">

    <nav class="clone-sidebar" data-c-padding="tb(triple)">

        <p data-c-font-size="h3" data-c-font-weight="bold">
            {{ faq.sidebar_label }}
        </p>

        <p data-c-margin="tb(normal)">
            <a href="#to-know" title="{{ faq.know.sidebar_title }}">
                {{ faq.know.sidebar_title }}</a>
        </p>

        <p data-c-margin="tb(normal)">
            <a href="#partners" title="{{ faq.partners.sidebar_title }}">
            {{ faq.partners.sidebar_title }}</a>
        </p>

        <p data-c-margin="tb(normal)">
            <a href="#post-application" title="{{ faq.speed.sidebar_title }}">
            {{ faq.speed.sidebar_title }}</a>
        </p>

        <p data-c-margin="tb(normal)">
            <a href="#skill-recognition" title="{{ faq.skills.sidebar_title }}">
            {{ faq.skills.sidebar_title }}</a>
        </p>

        <p data-c-margin="tb(normal)">
            <a href="#levels" title="{{ faq.levels.sidebar_title }}">
            {{ faq.levels.sidebar_title }}</a>
        </p>

    </nav>

</div>
