<div data-c-padding="tb(3)" id="how" class="flourish-wrapper" data-c-border="tb(thin, solid, gray)">
    <img alt="{{ response.canadian_maple_leaf_alt }}" class="flourish-icon-right" src="/images/maple-leaf.svg">
    <div data-c-container="large">
        <h2 data-c-heading="h2" data-c-margin="bottom(1)">{{ response.how.title }}</h2>
        <div class="response-list-item">
            <img src="/images/canadian-flag.svg" alt="{{ response.how.canadian_maple_leaf_icon }}">
            <p data-c-margin="bottom(1)" class="response-copy-container">{{ response.how.canadians_helping }}</p>
        </div>
        <div class="home-hiw" data-c-grid="gutter">
            <div data-c-grid-item="tl(1of3)">
                {% for button in response.how.button_list %}
                <button class="{% if loop.index == 1 %}active{% endif %}" {% if loop.index != 1 %}data-c-margin="top(.5)"{% endif %} data-c-align="centre" data-c-button="solid(c2)" data-c-radius="rounded" data-tc-hiw-id="0{{ loop.index }}" data-c-hover-color="c5" data-c-color="white" data-tc-hiw-trigger>
                    <span data-c-font-size="h4" data-c-font-weight="bold">
                        {{ button }}
                    </span>
                </button>
                {% endfor %}
            </div>
            <div data-c-grid-item="tl(2of3)">
                {% for content in response.how.list_content %}
                <div class="home-hiw-content {% if loop.index == 1 %}active{% endif %}" data-c-align="left" data-c-background="c1(100)" data-c-padding="double" data-c-radius="rounded" data-tc-hiw-id="0{{ loop.index }}">
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold" data-c-margin="bottom(normal)">
                        {{ content.title }}
                    </span>
                    <p data-c-margin="top(normal)" data-c-colour="white">{{ content.body }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
