{# =============================================================================

    Talent Cloud
    Applicant: Application - Post: Sidebar

============================================================================= #}
<div 
    class="application-post__subnav-wrapper box lg-1of4">

    <nav 
        class="application-post__subnav-sticky-wrapper">

        {% if application.step == "3" %}
            <h4 
                class="application-post_subnav-label">
                {{ application.essential_sidebar_label }}
            </h4>
        {% elseif application.step == "4" %}
            <h4 
                class="application-post_subnav-label">
                {{ application.asset_sidebar_label }}
            </h4>
        {% endif %}

        {% for jobSkill in job.skills %}

            {% if application.step == "3" %}
                
                {% if jobSkill.requirement == "essential" %}

                    <a
                        class="application-post__subnav-item"
                        href="#skill{{ jobSkill.name }}"
                        title="{{ application.sidebar_item_title }}">
                        {{ jobSkill.name }}
                    </a>

                {% endif %}

            {% elseif application.step == "4" %}
                
                {% if jobSkill.requirement == "asset" %}

                    <a
                        class="application-post__subnav-item"
                        href="#skill{{ jobSkill.name }}"
                        title="{{ application.sidebar_item_title }}">
                        {{ jobSkill.name }}
                    </a>

                {% endif %}

            {% endif %}

        {% endfor %}

    </nav>

</div>