{# =============================================================================

    Talent Cloud
    Applicant: Application - Education & Experience Sidebar

============================================================================= #}
<div class="sidebar" data-c-padding="top(3)">
    <nav>
        <p data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="bottom(1)">On this page:</p>
        <ul>
            {% if application_step == "3" %}
                {% for criterion in criteria.essential %}
                    <li>
                        <a href="#skill{{ criterion.skill.id }}" title="{{ application_template.sidebar_item_title }}">{{ criterion.skill.name }}</a>
                    </li>
                {% endfor %}
            {% elseif application_step == "4" %}
                {% for criterion in criteria.asset %}
                    <li>
                        <a href="#skill{{ criterion.skill.id }}" title="{{ application_template.sidebar_item_title }}">{{ criterion.skill.name }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
</div>
