{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Tracker

============================================================================= #}
<section
    class="application-post__skills-layout">

    <div
        class="container--copy">

        {% if application.step == "3" %}
            <h3>
                {{ application.essential_title }}
            </h3>
            <p>
                {{ application.essential_context }}
            </p>
        {% elseif application.step == "4" %}
            <h3>
                {{ application.asset_title }}
            </h3>
            <p>
                {{ application.asset_context }}
            </p>
        {% endif %}

        <a
            class="button--blue light-bg"
            href="#begin"
            {% if application.step == "3" %}
                title="{{ application.essential_start_button_title }}"
            {% elseif application.step == "4" %}
                title="{{ application.asset_start_button_title }}"
            {% endif %}>
            {{ application.skills_start_button_label }}
        </a>

    </div>

    <div
        class="container--layout">

        <div
            class="flex-grid">

            {# Include Sidebar #}

                {% include "applicant/application_post/common/sidebar" %}

            {# Skills Content #}

                <div class="application-post__content-wrapper box lg-3of4">

                    <a
                        aria-hidden="true"
                        class="application-post__anchor"
                        id="begin">
                    </a>

                    {# Skills Layout #}

                        {# Profile List (Soft Skills) #}

                            <div
                                class="profile-list">

                                {# Profile List Header #}

                                    <div
                                        class="profile-list__header flex-grid middle">

                                        <div
                                            class="box med-1of2">

                                            {% if application.step == "3" %}
                                                <h3>{{ application.skills_section.essential_title }}</h3>
                                            {% elseif application.step == "4" %}
                                                <h3>{{ application.skills_section.asset_title }}</h3>
                                            {% endif %}

                                        </div>

                                        <div
                                            class="box med-1of2">

                                        </div>

                                    </div>

                                {# Set Locale #}

                                    {% set locale = "application" %}

                                {# Profile Element Template (Sample) #}

                                    {% include "common/skill" %}

                                {# Profile Element List #}

                                    <div
                                        class="profile-element-list">

                                        {% for criteria in job.skills %}

                                            {% if application.step == "3" %}

                                                {% if criteria.requirement == "essential" %}

                                                    {# Get User Skill #}

                                                        {% set skill = false %}

                                                        {% for skillDeclaration in applicant.skill_declarations %}

                                                            {% if criteria.name|capitalize == skillDeclaration.name|capitalize %}

                                                                {% set skill_declaration = skillDeclaration %}

                                                            {% endif %}

                                                        {% endfor %}

                                                    {# Get Skill Type #}

                                                        {% set skillType = false %}

                                                        {% for siteSkill in skills %}

                                                            {% if criteria.name|capitalize == siteSkill.name|capitalize %}

                                                                {% if siteSkill.type == "soft" %}

                                                                    {% set skillType = "soft" %}

                                                                {% elseif siteSkill.type == "hard" %}

                                                                    {% set skillType = "hard" %}

                                                                {% endif %}

                                                            {% endif %}

                                                        {% endfor %}

                                                    {# Import Skill Template #}

                                                        <a
                                                            class="application-post__anchor"
                                                            id="skill{{ criteria.name }}"></a>

                                                        {% include "common/skill" %}

                                                {% endif %}

                                            {% endif %}

                                            {% if application.step == "4" %}

                                                {% if criteria.requirement == "asset" %}

                                                    {# Get User Skill #}

                                                        {% set skill = false %}

                                                        {% for skillDeclaration in applicant.skill_declarations %}

                                                            {% if criteria.name|capitalize == skillDeclaration.name|capitalize %}

                                                                {% set skill_declaration = skillDeclaration %}

                                                            {% endif %}

                                                        {% endfor %}

                                                    {# Get Skill Type #}

                                                        {% set skillType = false %}

                                                        {% for siteSkill in skills %}

                                                            {% if criteria.name|capitalize == siteSkill.name|capitalize %}

                                                                {% if siteSkill.type == "soft" %}

                                                                    {% set skillType = "soft" %}

                                                                {% elseif siteSkill.type == "hard" %}

                                                                    {% set skillType = "hard" %}

                                                                {% endif %}

                                                            {% endif %}

                                                        {% endfor %}

                                                    {# Import Skill Template #}

                                                        <a
                                                            class="application-post__anchor"
                                                            id="skill{{ criteria.name }}"></a>

                                                        {% include "common/skill" %}

                                                {% endif %}

                                            {% endif %}

                                        {% endfor %}

                                    </div>

                            </div>

                </div>

        </div>

    </div>

    <div
        class="container--copy">

        {# Save Buttons #}

            <div
                class="flex-grid middle application-post__action-wrapper">

                <div
                    class="box med-1of2">

                    <button
                        class="button--blue light-bg">
                        {{ application.save_quit_button_label }}
                    </button>

                </div>

                <div
                    class="box med-1of2">

                    <button
                        class="button--blue light-bg">
                        {{ application.save_continue_button_label }}
                    </button>

                </div>

            </div>

    </div>

</section>
