{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Skill

============================================================================= #}
<a 
    aria-hidden="true"
    class="application-post__anchor"
    id="skill{{ item.id }}">
</a>

<div 
    class="application-post__skill">

    <h4>
        {{ item.title }}
    </h4>

    <p>
        {{ item.description }}
    </p>

    <div
        class="application-post__skill-declaration accordion active 
        {% for declaration in user.declarations %}
            {% if declaration.skill_id == item.id %}
                {% if declaration.status == "complete" %}
                    complete
                {% endif %}
            {% endif %}
        {% endfor %}">

        <div
            class="application-post__skill-declaration-trigger accordion-trigger">

            <div
                class="">
                <i class="fas fa-exclamation-triangle"></i>
                <i class="fas fa-check"></i>
            </div>

            <h5>
                {{ application.skill_ui.declaration_title }}
            </h5>

            <i class="fas fa-chevron-up"></i>

        </div>

        <div
            class="application-post__skill-declaration-content accordion-content"
            data-accordion-target="skill{{ item.id }}">
            
            <div 
                class="flex-grid">

                <div 
                    class="box full">
                    <button
                        class="application-post__skill-declaration-help-button">
                        {{ application.skill_ui.declaration_level_help_label }}
                    </button>
                </div>

                <div
                    class="box full">

                    <div
                        aria-orientation="horizontal"
                        class="form__radio-group" 
                        role="radiogroup">

                        <label 
                            class="form__label"
                            for="">
                            {{ application.skill_ui.declaration_expertise_title }}
                        </label>

                        <div class="flex-grid">

                            {% set counter = 0 %}

                            {% for expertise in application.skill_ui.declaration_expertise %}

                                {% set counter = counter + 1 %}

                                <label 
                                    class="box form__radio-group-label small-1of{{ application.skill_ui.declaration_expertise|length }}"
                                    for="expertise-{{ item.id }}-{{ counter }}">
                                    <span 
                                        class="hidden">
                                        {{ expertise }}
                                    </span>
                                    <input 
                                        class="form__radio-group-input"
                                        id="expertise-{{ item.id }}-{{ counter }}"
                                        name="expertise-{{ item.id }}"
                                        type="radio"
                                        {% for declaration in user.declarations %}
                                            {% if declaration.skill_id == item.id %}
                                                {% if declaration.expertise == counter %}
                                                    checked
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}/>
                                    <span 
                                        class="form__radio-group-span">
                                        {{ expertise }}
                                    </span>
                                </label>

                            {% endfor %}

                        </div>

                    </div>

                </div>

                <div
                    class="box full">
                    
                    <div
                        aria-orientation="horizontal"
                        class="form__radio-group" 
                        role="radiogroup">

                        <label 
                            class="form__label"
                            for="">
                            {{ application.skill_ui.declaration_experience_title }}
                        </label>

                        <div class="flex-grid">

                            {% set counter = 0 %}

                            {% for experience in application.skill_ui.declaration_experience %}

                                {% set counter = counter + 1 %}

                                <label 
                                    class="box form__radio-group-label small-1of{{ application.skill_ui.declaration_experience|length }}"
                                    for="experience-{{ item.id }}-{{ counter }}">
                                    <span 
                                        class="hidden">
                                        {{ experience }}
                                    </span>
                                    <input 
                                        class="form__radio-group-input"
                                        id="experience-{{ item.id }}-{{ counter }}"
                                        name="experience-{{ item.id }}"
                                        type="radio"
                                        {% for declaration in user.declarations %}
                                            {% if declaration.skill_id == item.id %}
                                                {% if declaration.experience == counter %}
                                                    checked
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}/>
                                    <span 
                                        class="form__radio-group-span">
                                        {{ experience }}
                                    </span>
                                </label>

                            {% endfor %}

                        </div>

                    </div>

                </div>

                <div
                    class="box full">

                    <div 
                        class="form__input-wrapper--float 
                        {% for declaration in user.declarations %}
                            {% if declaration.skill_id == item.id %}
                                {% if declaration.knowledge != null %}
                                    active
                                {% endif %}
                            {% endif %}
                        {% endfor %}">

                        <label 
                            class="form__label" 
                            for="{{ question.input_name }}">
                            {{ application.skill_ui.declaration_knowledge_label }}
                        </label>

                        <textarea
                            class="form__textarea"
                            name="{{ question.input_name }}">{% for declaration in user.declarations %}{% if declaration.skill_id == item.id %}{% if declaration.knowledge != null %}{{ declaration.knowledge }}{% endif %}{% endif %}{% endfor %}</textarea>

                    </div>

                </div>

                <div 
                    class="box med-1of2">
                    {# <button
                        class="button--red light-bg">
                        {{ application.skill_ui.delete_button_label }}
                    </button> #}
                </div>

                <div 
                    class="box med-1of2">
                    <button
                        class="button--blue light-bg">
                        {{ application.skill_ui.save_button_label }}
                    </button>
                </div>

            </div>

        </div>

    </div>

</div>