{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Tracker

============================================================================= #}
<section
    class="application-post__tracker">

    <div 
        class="container--layout">

        <div
            class="flex-grid middle">

            <div 
                class="box lg-1of2 flex-grid middle">

                <div 
                    class="box small-1of3 lg-1of4">

                    <div 
                        class="application-post__tracker-user-photo"
                        style="background-image:url('{{ user.photo }}');">
                    </div>

                </div>

                <div
                    class="box small-2of3 lg-3of4">

                    <span
                        class="application-post__tracker-job-title">
                        {{ job.title }}
                    </span>

                    <span
                        class="application-post__tracker-job-department">
                        {{ job.department }}
                    </span>

                </div>

            </div>

            <div 
                class="box lg-1of2">

                <span
                    class="application-post__tracker-step">
                    {{ application.tracker_label }} {{ application.step }}/4
                </span>

                {% for item in application.tracker %}

                    <a
                        class="application-post__tracker-item 
                            {% if item.status == "error" %}
                                error 
                            {% elseif item.status == "complete" %}
                                complete 
                            {% endif %}
                            {% if item.step == application.step %}
                                active 
                            {% endif %}
                        "
                        href="/applications/{{ application.id }}{{ item.url }}"
                        title="{{ application.tracker_link_title }} {{ item.step }}.">
                    </a>

                {% endfor %}

            </div>

        </div>

    </div>

</section>