{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Tracker

============================================================================= #}
<section
    class="application-post__tracker">

    <div
        class="container--layout">

        <div
            class="flex-grid middle">

            <div
                class="box lg-1of2 flex-grid middle">

                <div
                    class="box small-1of3 lg-1of4">

                    <div
                        class="application-post__tracker-user-photo"
                        {% if user.photo %}
                            style="background-image:url('{{ user.photo }}');"
                        {% else %}
                            style="background-image:url('/images/user.png');"
                        {% endif %}>
                    </div>

                </div>

                <div
                    class="box small-2of3 lg-3of4">

                    <a
                        class="application-post__tracker-job-title"
                        href="{{ job.link }}"
                        target="_blank"
                        title="{{ application_tracker.job_link_title }}">
                        {{ job.title }}
                    </a>

                    <span
                        class="application-post__tracker-job-department">
                        {{ job.department.value }}
                    </span>

                </div>

            </div>

            <div
                class="box lg-1of2">

                <span
                    class="application-post__tracker-step">
                    {{ application_template.tracker_label }} {{ application_step }} / 5
                </span>

                {% for item in application_tracker.items %}

                    <a
                        class="application-post__tracker-item
                            {% if item.status == "error" %}
                                error
                            {% elseif item.status == "complete" %}
                                complete
                            {% endif %}
                            {% if item.step == application_step %}
                                active
                            {% endif %}
                        "
                        href="{{ item.url }}"
                        title="{{ application_tracker.tracker_link_title }} {{ item.step }}.">

                        <i class="fas fa-times-circle"></i>

                        <i class="fas fa-circle"></i>

                        <i class="fas fa-check-circle"></i>

                    </a>

                {% endfor %}

            </div>

        </div>

    </div>

</section>
