{# =============================================================================

    Talent Cloud
    Manager: Create Job Task

============================================================================= #}
{% if prefix %}
    {% set name_prefix = prefix ~ "[criteria][:template][:criteria_type][:skill_type][:id]"|replace({":criteria_type":criteriaKey, ":skill_type":skillTypeKey}) %}
    {% set id_prefix = name_prefix %}
{% else %}
    {% set name_prefix = "criteria[:template][:criteria_type][:skill_type][:id]"|replace({":criteria_type":criteriaKey, ":skill_type":skillTypeKey}) %}
    {% set id_prefix = name_prefix %}
{% endif %}

{% if savedCriteria %}
    {% set name_prefix = name_prefix|replace({":template":"old", ":id":savedCriteria.id}) %}
    {% set id_prefix = id_prefix|replace({":template":"old", ":id":savedCriteria.id}) %}
{% endif %}

<div
    class="manager-jobs__create-skill {% if savedCriteria == false %}template{% endif %}"
    data-item-id="{% if savedCriteria == false %}0{% else %}{{ savedCriteria.id }}{% endif %}">

    <fieldset
        class="form__fieldset">

        <legend>

            <div
                class="flex-grid">

                <div
                    class="box small-2of3">
                    {{ criterion_l10n.skill_information }}
                </div>

                <div
                    class="box small-1of3">
                    <button
                        type="button"
                        class="manager-jobs__delete-skill-button">
                        <i class="fas fa-trash-alt"></i>
                        <span class="hidden">{{ menu.delete_label }}</span>
                    </button>
                </div>

            </div>

        </legend>

        <div
            class="flex-grid">

            <div
                class="box med-1of2">

                <div
                    class="form__input-wrapper--select">

                    <label
                        class="form__label"
                        for="{{ id_prefix }}criteriaSkill">
                        {{criterion_l10n.select_skill}}
                    </label>

                    <div
                        class="form__select-wrapper fas fa-chevron-down">

                        <select
                            id="{{ id_prefix }}criteriaSkill"
                            class="form__input"
                            name="{{ name_prefix }}[skill_id]">

                            <option value="" disabled selected>
                                {{ criterion_l10n.select_skill_default_option }}
                            </option>

                            {% for id, skill in skillType %}

                            <option
                                value="{{ id }}"
                                {% if savedCriteria.skill.id == id %}selected{% endif %}>{{ skill }}</option>

                            {% endfor %}

                        </select>

                    </div>
                </div>

            </div>

            <div
                class="box med-1of2">

                <div
                    class="form__input-wrapper--select">
                    <label
                        class="form__label"
                        for="{{ id_prefix }}criteriaLevel">
                        {{criterion_l10n.select_level_required}}
                    </label>
                    <div
                        class="form__select-wrapper fas fa-chevron-down">
                        <select
                            id="{{ id_prefix }}criteriaLevel"
                            class="form__input"
                            name="{{ name_prefix }}[skill_level_id]">

                            <option value="" disabled selected>
                                {{ criterion_l10n.select_level_required_default_option }}
                            </option>

                            {% for id, level in skillLevel %}

                                <option
                                    value="{{ id }}"
                                    {% if savedCriteria.skill_level_id == id %}selected{% endif %}
                                    >{{ level }}</option>

                            {% endfor %}

                        </select>
                    </div>
                </div>

            </div>

            <div
                class="box med-1of2">

                <div
                    class="form__input-wrapper--float {% if savedCriteria.translate('en').description != null %}active{% endif %}">

                    <label
                        class="form__label"
                        for="{{ id_prefix }}[description][en]">
                        {{criterion_l10n.skill_context_english}}
                    </label>

                    <textarea
                        class="form__textarea"
                        id="{{ id_prefix }}[description][en]"
                        name="{{ name_prefix }}[description][en]">{{ savedCriteria.translate('en').description }}</textarea>

                </div>

            </div>

            <div
                class="box med-1of2">

                <div
                    class="form__input-wrapper--float {% if savedCriteria.translate('fr').description != null %}active{% endif %}">

                    <label
                        class="form__label"
                        for="{{ id_prefix }}[description][fr]">
                        {{criterion_l10n.skill_context_french}}
                    </label>

                    <textarea
                        class="form__textarea"
                        id="{{ id_prefix }}[description][fr]"
                        name="{{ name_prefix }}[description][fr]">{{ savedCriteria.translate('fr').description }}</textarea>

                </div>

            </div>

        </div>

    </fieldset>

</div>
