{# =============================================================================

    Talent Cloud
    Manager: Create Job Form

============================================================================= #}
<form
    class="form__wrapper manager-jobs__create-form"
    action="{{ form_action_url }}"
    method="post">

    {# Builds an input field for CSRF token validation #}
    {{ csrf_field() }}

    <a
        aria-hidden="true"
        id="details">
    </a>

    <div
        class="manager-jobs__create-form-section">

        <h4>{{form_l10n.job_details}}</h4>

        {# Job Title #}

            <fieldset
                class="form__fieldset">

                <legend
                    class="form__legend">
                    {{form_l10n.job_title}}
                </legend>

                <div
                class="flex-grid">

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float {% if job.translate('en').title != null %}active{% endif %}">

                            <label
                                class="form__label"
                                for="createJobTitleEN">
                                {{form_l10n.job_title_english}}
                            </label>

                            <input
                                {# required #}
                                class="form__input"
                                id="createJobTitleEN"
                                type="text"
                                name="title[en]"
                                value="{{ job.translate('en').title }}">

                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float {% if job.translate('fr').title != null %}active{% endif %}">

                            <label
                                class="form__label"
                                for="createJobTitleFR">
                                {{form_l10n.job_title_french}}
                            </label>

                            <input
                                {# required #}
                                class="form__input"
                                id="createJobTitleFR"
                                type="text"
                                name="title[fr]"
                                value="{{ job.translate('fr').title }}">

                        </div>

                    </div>

                </div>

            </fieldset>

        {# Salary #}

            <fieldset
                class="form__fieldset">

                <legend
                    class="form__legend">
                    {{form_l10n.salary_range}}
                </legend>

                <div
                class="flex-grid">

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float {% if job.salary_min != null %}active{% endif %}">

                            <label
                                class="form__label"
                                for="createJobSalaryMin">
                                {{form_l10n.minimum_value}}
                            </label>

                            <input
                                required
                                class="form__input"
                                id="createJobSalaryMin"
                                type="number"
                                name="salary_min"
                                value="{{ job.salary_min }}">

                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float {% if job.salary_max != null %}active{% endif %}">

                            <label
                                class="form__label"
                                for="createJobSalaryMax">
                                {{form_l10n.maximum_value}}
                            </label>

                            <input
                                required
                                class="form__input"
                                id="createJobSalaryMax"
                                type="number"
                                name="salary_max"
                                value="{{ job.salary_max }}">

                        </div>

                    </div>

                </div>

            </fieldset>

        {# Classifications #}

            <fieldset
                class="form__fieldset">

                <legend
                    class="form__legend">
                    {{form_l10n.classifications}}
                </legend>

                <div
                class="flex-grid">

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float {% if job.classification != null %}active{% endif %}">

                            <label
                                class="form__label"
                                for="createJobClassification">
                                {{form_l10n.occupational_group}}
                            </label>

                            <input
                                required
                                class="form__input"
                                id="createJobClassification"
                                type="text"
                                name="classification"
                                value="{{ job.classification }}">

                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float {% if job.noc != null %}active{% endif %}">

                            <label
                                class="form__label"
                                for="createJobNoc">
                                {{form_l10n.noc_code}}
                            </label>

                            <input
                                class="form__input"
                                id="createJobNoc"
                                type="number"
                                name='noc'
                                value="{{ job.noc }}">

                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--select">
                            <label
                                class="form__label"
                                for="createJobSecurityClearance">
                                {{form_l10n.security_clearance}}
                            </label>
                            <div
                                class="form__select-wrapper fas fa-chevron-down">
                                <select
                                    required
                                    class="form__input form__input__select"
                                    id="createJobSecurityClearance"
                                    name="security_clearance">

                                    <option value="" disabled selected>
                                        {{ form_l10n.security_clearance_default_option}}
                                    </option>

                                    {% for clearance in security_clearances %}
                                        <option
                                            value="{{ clearance.id }}"
                                            {% if clearance.id == job.security_clearance_id %}selected="selected"{% endif %}
                                            >{{ clearance.value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--select">
                            <label
                                class="form__label"
                                for="createJobLanguageRequirement">
                                {{form_l10n.language_requirement}}
                            </label>
                            <div
                                class="form__select-wrapper fas fa-chevron-down">
                                <select
                                    required
                                    class="form__input"
                                    id="createJobLanguageRequirement"
                                    name="language_requirement">

                                    <option value="" disabled selected>
                                        {{ form_l10n.language_requirement_default_option }}
                                    </option>

                                    {% for language in language_requirments %}
                                        <option
                                            value="{{ language.id }}"
                                            {% if language.id == job.language_requirement_id %}selected="selected"{% endif %}
                                            >{{ language.value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                </div>

            </fieldset>

        {# Location #}

            <fieldset
                class="form__fieldset">

                <legend
                    class="form__legend">
                    {{form_l10n.location}}
                </legend>

                <div
                    class="flex-grid">

                    <div
                        class="box full">

                        <div
                            class="form__input-wrapper--checkbox">

                            <label
                                class="form__label"
                                for="remoteWork">

                                <span
                                    class="hidden">
                                    {{form_l10n.remote_work_allowed}}
                                </span>

                                <input
                                    class="form__input"
                                    id="remoteWork"
                                    name="remote_work_allowed"
                                    type="checkbox"
                                    value="true"
                                    {% if job.remote_work_allowed %}checked{% endif%}/>
                                {{form_l10n.remote_work_allowed}}

                            </label>

                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float {% if job.city != null %}active{% endif %}">

                            <label
                                class="form__label"
                                for="createJobCity">
                                {{form_l10n.city}}
                            </label>

                            <input
                                {# required #}
                                class="form__input"
                                id="createJobCity"
                                type="text"
                                name="city"
                                value="{{ job.city }}">

                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--select">
                            <label
                                class="form__label"
                                for="createJobProvince">
                                {{form_l10n.province}}
                            </label>
                            <div
                                class="form__select-wrapper fas fa-chevron-down">
                                <select
                                    required
                                    class="form__input"
                                    id="createJobProvince"
                                    name="province">

                                    <option value="" disabled selected>
                                        {{ form_l10n.province_default_option }}
                                    </option>

                                    {% for province in provinces %}
                                        <option
                                            value="{{ province.id }}"
                                            {% if province.id == job.province_id %}selected="selected"{% endif %}
                                            >{{ province.value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                </div>

            </fieldset>

        {# Timetable #}

            <fieldset
                class="form__fieldset">

                <legend
                    class="form__legend">
                    {{form_l10n.timetable}}
                </legend>

                <div
                    class="flex-grid">

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--date">

                            <label
                                class="form__label"
                                for="createJobOpenDate">
                                {{form_l10n.accepting_applications_from}}
                            </label>

                            <input
                                required
                                class="form__input"
                                id="createJobOpenDate"
                                type="date"
                                name="open_date"
                                value="{{ job.open_date_time|date("Y-m-d") }}">

                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--date">

                            <label
                                class="form__label"
                                for="createJobCloseDate">
                                {{form_l10n.accepting_applications_to}}
                            </label>

                            <input
                                required
                                class="form__input"
                                id="createJobCloseDate"
                                type="date"
                                name="close_date"
                                value="{{ job.close_date_time|date("Y-m-d")}}">

                        </div>

                    </div>

                    <div
                        class="box full">

                        <div
                            class="form__input-wrapper--date">

                            <label
                                class="form__label"
                                for="createJobStartDate">
                                {{form_l10n.position_start}}
                            </label>

                            <input
                                required
                                class="form__input"
                                id="createJobStartDate"
                                type="date"
                                name="start_date"
                                value="{{ job.start_date_time|date("Y-m-d") }}">

                        </div>

                    </div>

                    <div
                        class="box med-full">

                        <div
                            class="form__input-wrapper--float {% if job.term_qty != null %}active{% endif %}">

                            <label
                                class="form__label"
                                for="createJobDuration">
                                {{form_l10n.position_duration}}
                            </label>

                            <input
                                {# required #}
                                class="form__input"
                                id="createJobDuration"
                                type="number"
                                name="term_qty"
                                value="{{ job.term_qty }}"
                                >

                        </div>

                    </div>

                </div>

            </fieldset>

        {# Departmental Information #}

            <fieldset
                class="form__fieldset">

                <legend
                    class="form__legend">
                    {{form_l10n.departmental_information}}
                </legend>

                <div
                    class="flex-grid">

                    <div
                        class="box full">

                        <div
                            class="form__input-wrapper--select">
                            <label
                                class="form__label"
                                for="createJobDepartment">
                                {{form_l10n.department}}
                            </label>
                            <div
                                class="form__select-wrapper fas fa-chevron-down">
                                <select
                                    required
                                    class="form__input"
                                    id="createJobDepartment"
                                    name="department">

                                    <option value="" disabled selected>
                                        {{ form_l10n.departmental_info_default_option }}
                                    </option>

                                    {% for department in departments %}
                                        <option
                                            value="{{ department.id }}"
                                            {% if (department.id == job.department_id) or
                                                (job.department_id == null and department.id == manager.department_id) %}selected="selected"{% endif %}>
                                            {{ department.value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float {% if job.translate('en').branch != null or manager.translate('en').branch %}active{% endif %}">
                            <label
                                class="form__label"
                                for="createJobBranchEN">
                                {{form_l10n.branch_english}}
                            </label>
                            <input
                                class="form__input"
                                id="createJobBranchEN"
                                type="text"
                                name="branch[en]"
                                {# Default value comes from job, if set. Otherwise, comes from manager #}
                                value="{{ job.translate('en').branch ?
                                    job.translate('en').branch :
                                    manager.translate('en').branch }}">
                            </input>
                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float
                            {% if job.translate('fr').branch != null or
                                manager.translate('fr').branch %}
                                active
                            {% endif %}">
                            <label class="form__label" for="createJobBranchFR">
                                {{form_l10n.branch_french}}
                            </label>
                            <input
                                class="form__input"
                                id="createJobBranchFR"
                                type="text"
                                name="branch[fr]"
                                {# Default value comes from job, if set. Otherwise, comes from manager #}
                                value="{{ job.translate('fr').branch ?
                                    job.translate('fr').branch :
                                    manager.translate('fr').branch }}">
                            </input>
                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div class="form__input-wrapper--float
                            {% if job.translate('en').divison != null or
                                manager.translate('en').division != null %}
                                active
                            {% endif %}">
                            <label
                                class="form__label"
                                for="createJobDivisionEN">
                                {{form_l10n.division_english}}
                            </label>
                            <input
                                class="form__input"
                                id="createJobDivisionEN"
                                type="text"
                                name="division[en]"
                                {# Default value comes from job, if set. Otherwise, comes from manager #}
                                value="{{ job.translate('en').division ?
                                    job.translate('en').division :
                                    manager.translate('en').division }}">
                            </input>
                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div class="form__input-wrapper--float
                            {% if job.translate('fr').divison != null or
                                manager.translate('fr').division %}
                                active
                            {% endif %}
                            ">
                            <label
                                class="form__label"
                                for="createJobDivisionFR">
                                {{form_l10n.division_french}}
                            </label>
                            <input
                                class="form__input"
                                id="createJobDivisionFR"
                                type="text"
                                name="division[fr]"
                                {# Default value comes from job, if set. Otherwise, comes from manager #}
                                value="{{ job.translate('fr').division ?
                                    job.translate('fr').division :
                                    manager.translate('fr').division }}">
                            </input>
                        </div>

                    </div>

                </div>

            </fieldset>

        {# Impact #}

            <fieldset
                class="form__fieldset">

                <legend
                    class="form__legend">
                    {{form_l10n.impact}}
                </legend>

                <div
                    class="flex-grid">

                    <div
                        class="box med-1of2">

                        <div class="form__input-wrapper--float
                            {% if job.translate('en').impact != null %}active{% endif %}">
                            <label
                                class="form__label"
                                for="createJobImpactEN">
                                 {{form_l10n.impact_english}}
                            </label>
                            <textarea
                                {# required #}
                                class="form__textarea"
                                id="createJobImpactEN"
                                name="impact[en]">{{ job.translate('en').impact }}</textarea>
                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div class="form__input-wrapper--float
                            {% if job.translate('fr').impact != null %}active{% endif %}">
                            <label class="form__label" for="createJobImpactFR">
                                 {{form_l10n.impact_french}}
                            </label>
                            <textarea
                                {# required #}
                                class="form__textarea"
                                id="createJobImpactFR"
                                name="impact[fr]">{{ job.translate('fr').impact }}</textarea>
                        </div>

                    </div>

                </div>

            </fieldset>

    </div>

    <a
        aria-hidden="true"
        id="tasks">
    </a>

    <div
        class="manager-jobs__create-form-section">

        <h4> {{form_l10n.key_tasks}}</h4>

        {# Task List #}

            <div
                class="manager-jobs__create-task-wrapper">

                {% set taskCounter = 0 %}

                {% for task in job.job_poster_key_tasks %}

                    {% set taskCounter = taskCounter + 1 %}

                    {% include "manager/job_create/task" with { 'task_l10n': form_l10n.task } %}

                {% endfor %}

                {# Tasks get added here. #}

            </div>

        {# Task Controls #}

            <div
                class="manager-jobs__create-action-wrapper">

                <button
                    type="button"
                    class="button--blue light-bg"
                    id="addTaskButton">
                    {{form_l10n.add_a_task}}
                </button>

            </div>

    </div>

    <a
        aria-hidden="true"
        id="skills">
    </a>

    <div
        class="manager-jobs__create-form-section">

        <h4>{{form_l10n.skills_n_competencies}}</h4>

        {# Education #}

            <fieldset
                class="form__fieldset">

                <legend
                    class="form__legend">
                    {{form_l10n.education_or_equivalency}}
                </legend>

                <div
                class="flex-grid">

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float {% if job.translate('en').education != null %}active{% endif %}">

                            <label
                                class="form__label"
                                for="createJobEducationEN">
                                {{form_l10n.education_english}}
                            </label>

                            <textarea
                                {# required #}
                                class="form__textarea"
                                id="createJobEducationEN"
                                name="education[en]">{{ job.translate('en').education }}</textarea>

                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float {% if job.translate('fr').education != null %}active{% endif %}">

                            <label
                                class="form__label"
                                for="createJobEducationFR">
                                {{form_l10n.education_french}}
                            </label>

                            <textarea
                                {# required #}
                                class="form__textarea"
                                id="createJobEducationFR"
                                name="education[fr]">{{ job.translate('fr').education }}</textarea>

                        </div>

                    </div>

                </div>

            </fieldset>

            <br>

            <br>

        {# Essential Skills #}

        {% set loopIteration = 1 %}

        {% for criteriaKey, criteria in skills %}

            {% for skillTypeKey, skillType in criteria %}

                {% set skillLevel = attribute(skill_levels, skillTypeKey) %}

                <h5>{{ form_l10n.criteria_heading | replace({":criteria_type":criteriaKey|title}) | replace({":skill_type":skillTypeKey|title}) }}</h5>

                <div
                    class="manager-jobs__skill-wrapper">

                    <div
                        class="manager-jobs__create-skill-wrapper">

                        {% for savedCriteria in job.criteria %}

                            {% if savedCriteria.criteria_type.name == criteriaKey and savedCriteria.skill.skill_type.name == skillTypeKey %}

                                {% include "manager/job_create/criteria" with { 'skillLevel' : skillLevel, 'criterion_l10n': form_l10n.criterion } %}

                            {% endif %}

                        {% endfor %}

                        {# Skills get added here. #}

                    </div>

                    {# Skill Template #}

                    {% include "manager/job_create/criteria" with { 'criterion_l10n': form_l10n.criterion } %}

                    {# Skill Controls #}

                    <div
                        class="manager-jobs__create-action-wrapper">

                        <button
                            type="button"
                            class="manager-jobs__add-skill-button"
                            id="addSkillButton{{ loopIteration }}">

                            {{ form_l10n.add_a_skill | replace({":criteria_type":criteriaKey|title}) | replace({":skill_type":skillTypeKey|title}) }}
                        </button>

                    </div>

                </div>

                {% set loopIteration = loopIteration + 1 %}

            {% endfor %}

        {% endfor %}

    </div>

    <a
        aria-hidden="true"
        id="questions">
    </a>

    <div
        class="manager-jobs__create-form-section">

        <h4>{{form_l10n.questions_for_applicant}}</h4>

        {# Question List #}

            <div
                class="manager-jobs__create-question-wrapper">

                {% set questionCounter = 0 %}

                {% for question in job.job_poster_questions %}

                    {% set questionCounter = questionCounter + 1 %}

                    {% include "manager/job_create/question" with { 'question_l10n': form_l10n.question }%}

                {% endfor %}

                {# Questions get added here. #}

            </div>

        {# Question Controls #}

            <div
                class="manager-jobs__create-action-wrapper">

                <button
                    type="button"
                    class="button--blue light-bg"
                    id="addQuestionButton">
                    {{form_l10n.add_a_question}}
                </button>

            </div>

    </div>

    <div
        class="manager-jobs__create-form-section">

        <div
            class="flex-grid manager-jobs__create-submission-wrapper">

            <div
                class="box med-full">

                <button
                    class="button--blue light-bg"
                    type="submit"
                    name="submit"
                    value="save">
                    {{form_l10n.save_and_preview}}
                </button>

            </div>

        </div>

    </div>

</form>

{# Templates are placed outside the form, to avoid submitting them #}

{# Question Template #}

{% include "manager/job_create/question" with {'question_l10n': form_l10n.question } %}

{# Task Template #}

{% include "manager/job_create/task" with { 'task_l10n': form_l10n.task } %}
