{# =============================================================================

    Talent Cloud
    Manager: Create Job Form

============================================================================= #}
<form
    class="form__wrapper manager-jobs__create-form"
    action="{{ form_action_url }}"
    method="post">

    {# Builds an input field for CSRF token validation #}
    {{ csrf_field() }}

    <a
        aria-hidden="true"
        id="questions">
    </a>

    <div
        class="manager-jobs__create-form-section">

        <h2>{{form_l10n.questions_for_applicant}}</h2>

        {# Question List #}

            <div
                class="manager-jobs__create-question-wrapper">

                {% set questionCounter = 0 %}

                {% for question in job.job_poster_questions %}

                    {% set questionCounter = questionCounter + 1 %}

                    {% include "manager/job_create/question" with { 'question_l10n': form_l10n.question }%}

                {% endfor %}

                {# Questions get added here. #}

            </div>

        {# Question Controls #}

            <div
                class="manager-jobs__create-action-wrapper">

                <button
                    type="button"
                    class="button--blue light-bg"
                    id="addQuestionButton">
                    {{form_l10n.add_a_question}}
                </button>

            </div>

    </div>

    <div
        class="manager-jobs__create-form-section">

        <div
            class="flex-grid manager-jobs__create-submission-wrapper">

            <div
                class="box med-full">

                <button
                    class="button--blue light-bg"
                    type="submit"
                    name="submit"
                    value="save">
                    {{form_l10n.save_and_preview}}
                </button>

            </div>

        </div>

    </div>

</form>

{# Templates are placed outside the form, to avoid submitting them #}

{# Question Template #}

{% include "manager/job_create/question" with {'question_l10n': form_l10n.question } %}
