{# =============================================================================

    Talent Cloud
    Manager: Create Job Form

============================================================================= #}
<form
    class="form__wrapper manager-jobs__create-form"
    action="{{ form_action_url }}"
    method="post">

    {# Builds an input field for CSRF token validation #}
    {{ csrf_field() }}

    <a
        aria-hidden="true"
        id="details">
    </a>

    <div
        class="manager-jobs__create-form-section">

        <h2>{{form_l10n.job_details}}</h2>

        {# Salary #}

            <fieldset
                class="form__fieldset">

                <legend
                    class="form__legend">
                    {{form_l10n.salary_range}}
                </legend>

                <div
                class="flex-grid">

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float {% if job.salary_min != null %}active{% endif %}">

                            <label
                                class="form__label"
                                for="createJobSalaryMin">
                                {{form_l10n.minimum_value}}
                            </label>

                            <input
                                required
                                class="form__input"
                                id="createJobSalaryMin"
                                type="number"
                                name="salary_min"
                                value="{{ job.salary_min }}">

                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float {% if job.salary_max != null %}active{% endif %}">

                            <label
                                class="form__label"
                                for="createJobSalaryMax">
                                {{form_l10n.maximum_value}}
                            </label>

                            <input
                                required
                                class="form__input"
                                id="createJobSalaryMax"
                                type="number"
                                name="salary_max"
                                value="{{ job.salary_max }}">

                        </div>

                    </div>

                </div>

            </fieldset>

        {# Classifications #}

            <fieldset
                class="form__fieldset">

                <legend
                    class="form__legend">
                    {{form_l10n.classifications}}
                </legend>

                <div
                class="flex-grid">

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float {% if job.noc != null %}active{% endif %}">

                            <label
                                class="form__label"
                                for="createJobNoc">
                                {{form_l10n.noc_code}}
                            </label>

                            <input
                                class="form__input"
                                id="createJobNoc"
                                type="number"
                                name='noc'
                                value="{{ job.noc }}">

                        </div>

                    </div>

                </div>

            </fieldset>

        {# Timetable #}

            <fieldset
                class="form__fieldset">

                <legend
                    class="form__legend">
                    {{form_l10n.timetable}}
                </legend>

                <div
                    class="flex-grid">

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--date">

                            <label
                                class="form__label"
                                for="createJobOpenDate">
                                {{form_l10n.accepting_applications_from}}
                            </label>

                            <input
                                required
                                class="form__input"
                                id="createJobOpenDate"
                                type="date"
                                name="open_date"
                                value="{{ job.open_date_time|date("Y-m-d") }}">

                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--date">

                            <label
                                class="form__label"
                                for="createJobCloseDate">
                                {{form_l10n.accepting_applications_to}}
                            </label>

                            <input
                                required
                                class="form__input"
                                id="createJobCloseDate"
                                type="date"
                                name="close_date"
                                value="{{ job.close_date_time|date("Y-m-d")}}">

                        </div>

                    </div>

                    <div
                        class="box full">

                        <div
                            class="form__input-wrapper--date">

                            <label
                                class="form__label"
                                for="createJobStartDate">
                                {{form_l10n.position_start}}
                            </label>

                            <input
                                required
                                class="form__input"
                                id="createJobStartDate"
                                type="date"
                                name="start_date"
                                value="{{ job.start_date_time|date("Y-m-d") }}">

                        </div>

                    </div>

                </div>

            </fieldset>

    </div>

    <a
        aria-hidden="true"
        id="questions">
    </a>

    <div
        class="manager-jobs__create-form-section">

        <h2>{{form_l10n.questions_for_applicant}}</h2>

        {# Question List #}

            <div
                class="manager-jobs__create-question-wrapper">

                {% set questionCounter = 0 %}

                {% for question in job.job_poster_questions %}

                    {% set questionCounter = questionCounter + 1 %}

                    {% include "manager/job_create/question" with { 'question_l10n': form_l10n.question }%}

                {% endfor %}

                {# Questions get added here. #}

            </div>

        {# Question Controls #}

            <div
                class="manager-jobs__create-action-wrapper">

                <button
                    type="button"
                    class="button--blue light-bg"
                    id="addQuestionButton">
                    {{form_l10n.add_a_question}}
                </button>

            </div>

    </div>

    <div
        class="manager-jobs__create-form-section">

        <div
            class="flex-grid manager-jobs__create-submission-wrapper">

            <div
                class="box med-full">

                <button
                    class="button--blue light-bg"
                    type="submit"
                    name="submit"
                    value="save">
                    {{form_l10n.save_and_preview}}
                </button>

            </div>

        </div>

    </div>

</form>

{# Templates are placed outside the form, to avoid submitting them #}

{# Question Template #}

{% include "manager/job_create/question" with {'question_l10n': form_l10n.question } %}
