{# =============================================================================

    Talent Cloud
    Manager: Create Job Sidebar

============================================================================= #}
<div
    class="sidebar-wrapper box lg-1of4">

    <nav
        class="sidebar">

        <h2
            class="sidebar-label">
            {{sidebar_l10n.poster_sections}}
        </h2>

        <a
            class="sidebar-link"
            href="#details"
            title="">
            {{sidebar_l10n.job_details}}
        </a>

        <a
            class="sidebar-link"
            href="#tasks"
            title="">
            {{sidebar_l10n.key_tasks}}
        </a>

        <a
            class="sidebar-link"
            href="#skills"
            title="">
            {{sidebar_l10n.skills_n_competencies}}
        </a>

        <a
            class="sidebar-link"
            href="#questions"
            title="">
            {{sidebar_l10n.questions}}
        </a>

    </nav>

</div>
