{# =============================================================================

    Talent Cloud
    Manager: Create Job Task

============================================================================= #}
<div
    class="manager-jobs__create-task {% if task == false %}template{% endif %}"
    data-task-id="{% if task == false %}0{% else %}{{ taskCounter }}{% endif %}">

    <fieldset
        class="form__fieldset">

        <legend>

            <div
                class="flex-grid">

                <div
                    class="box small-2of3">
                    {{task_l10n.task_information}}
                </div>

                <div
                    class="box small-1of3">
                    <button
                        class="manager-jobs__delete-task-button">
                        <i class="fas fa-trash-alt"></i>
                        <span class="hidden">{{ menu.delete_label }}</span>
                    </button>
                </div>

            </div>

        </legend>

        <div
            class="flex-grid">

            <div
                class="box med-1of2">

                <div
                    class="form__input-wrapper--float {% if task.translate('en').description != false %}active{% endif %}"
                    data-form-id="task-english">

                    <label
                        class="form__label"
                        for="createJobTaskEN">
                         {{task_l10n.task_name_english}}
                    </label>

                    <input
                        {# required #}
                        class="form__input"
                        id="createJobTaskEN"
                        type="text"
                        name="task[{{ task ? task.id : ':id' }}][en]"
                        value="{{ task.translate('en').description }}">

                </div>

            </div>

            <div
                class="box med-1of2">

                <div
                    class="form__input-wrapper--float {% if task.translate('fr').description != false %}active{% endif %}"
                    data-form-id="task-french">

                    <label
                        class="form__label"
                        for="createJobTaskFR">
                         {{task_l10n.task_name_french}}
                    </label>

                    <input
                        {# required #}
                        class="form__input"
                        id="createJobTaskFR"
                        type="text"
                        name="task[{{ task ? task.id : ':id' }}][fr]"
                        value="{{ task.translate('fr').description }}">

                </div>

            </div>

        </div>

    </fieldset>

</div>
