{# =============================================================================

    Talent Cloud
    Applicant: Job Poster - Heading Information

    This UI provides the most basic metadata about the job the applicant is
    viewing.

============================================================================= #}
<div data-clone>
    <header data-c-align="base(center) tl(left)" data-c-overlay="black(80)" data-c-padding="bottom(3)" style="background-image: url('{{ asset("/images/bg_crowd.jpg") }}');">
        {% include "common/menu" %}
        <div data-c-container="large" data-c-padding="top(3)" id="home-heading">
            <div data-c-grid="gutter(all, 1)">
                <div data-c-grid-item="tl(2of3)">
                    <p data-c-margin="bottom(1)">
                        <span>
                            {% if job.close_date_time.isFuture() %}
                                {{ job_post.header.apply_by_label|trans }} {{ humanizeLastDay(job.close_date_time) }}
                            {% else %}
                                {{ job_post.header.job_closed }}
                            {% endif %}
                        </span>
                        <span data-c-color="gray" data-c-padding="rl(.5)">|</span>
                        <span>
                            {{ job_post.header.applicants_so_far|trans_choice(job.submitted_applications_count()) }}
                        </span>
                    </p>
                </div>
                <div data-c-grid-item="tl(1of3)" data-c-align="base(center) tl(right)">
                    <p>{{ job_post.header.reference_id|replace({':id':job.id}) }}</p>
                </div>
            </div>
            <h1 data-c-heading="h1" data-c-margin="bottom(1)">{{ job.title ?: job_post.header.empty_title }}</h1>
            <p data-c-margin="bottom(1)">{{ job.department.name }}</p>
            <p><i class="fas fa-map-marker-alt" data-c-color="c2" data-c-margin="right(.25)"></i>{{ job.city ?: job_post.header.city }}, {{ job.province_id ? job.province.value : job_post.header.province }}</p>
            <p><i class="fas fa-home" data-c-color="c2" data-c-margin="right(.25)"></i>{{ job_post.header.remote_work_allowed[job.remote_work_allowed] }}</p>
            <div data-c-margin="top(2)">
                <div data-c-grid="gutter(all, 1)">
                    <div data-c-grid-item="tl(1of2)">
                        {% include "common/breadcrumbs" %}
                    </div>
                    <div data-c-grid-item="tl(1of2)" data-c-align="base(center) tl(right)">
                        <span data-c-colour="white">{{ job_post.header.pilot }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
