{# =============================================================================

    Talent Cloud
    Applicant: Home - About

============================================================================= #}
<section
    class="home__about">

    <div
        class="container--copy">

        <div
            class="home__about-card">

            <div
                class="home__about-card-icon">
                <i class="fas fa-flask"></i>
            </div>

            <span>
                {{ home.about_card_copy_01 }}
                <br>
                <br>
                {{ home.about_card_copy_02 }}
            </span>

        </div>

        <p>
            {{ home.about_cta }}
        </p>

        <p>
            {{ home.about_copy }}
        </p>

        <p>
            <br>
            {{ home.about_copy_2 }}
            <br>
            {{ home.about_copy_3 }}
        </p>

    </div>

</section>
