{# =============================================================================

    Talent Cloud
    Applicant: Home - How

============================================================================= #}
<section
    class="home__how">

    <div
        class="container--copy">

        <h3
            class="home__how-title heading--03">
            {{ home.how_title }}
        </h3>

        <p>
            {{ home.how_intro }}
        </p>

        <ul
            class="home__how-list">

            <li
                class="flex-grid middle">

                <div
                    class="home__how-list-icon">
                    <i class="fas fa-map-signs"></i>
                </div>

                <div
                    class="home__how-list-copy">
                    <h4
                        class="heading--04">
                        Own Your Story
                    </h4>
                    <p>
                        Everyone is unique. Participate in a job selection process that lets you tell your story your way.
                    </p>
                </div>

            </li>

            <li
                class="flex-grid middle">

                <div
                    class="home__how-list-icon">
                    <i class="fas fa-search"></i>
                </div>

                <div
                    class="home__how-list-copy">
                    <h4
                        class="heading--04">
                        Get Found
                    </h4>
                    <p>
                        Learn about the work environment and teams that are part of the jobs you’re interested in. Showcase your unique skills and experiences for hiring managers across the country.
                    </p>
                </div>

            </li>

            <li
                class="flex-grid middle">

                <div
                    class="home__how-list-icon">
                    <i class="fas fa-handshake"></i>
                </div>

                <div
                    class="home__how-list-copy">
                    <h4
                        class="heading--04">
                        Contribute
                    </h4>
                    <p>
                        Find meaningful work that has an impact on Canadians... and be part of the effort to design a new platform for project-based work in Government.
                    </p>
                </div>

            </li>

        </ul>

        <p>
            {{ home.how_copy }}
        </p>

        <p>
            {{ home.how_cta_copy }}
            <a
                class=""
                href="mailto:{{ home.how_cta_link }}"
                title="{{ home.how_cta_title }}">
                {{ home.how_cta_label }}
            </a>
        </p>

    </div>

</section>
