{# =============================================================================

    Talent Cloud
    Applicant: Home - How

============================================================================= #}
<section
    class="home__how">

    <div
        class="container--copy">

        <h3
            class="home__how-title heading--03">
            {{ home.how_title }}
        </h3>

        <p>
            {{ home.how_intro }}
        </p>

        <p>
            {{ home.how_intro_2 }}
            <br>
            {{ home.how_intro_3 }}
        </p>

        <ul
            class="home__how-list">

            <li>

                <div
                    class="home__how-list-icon">
                    <i class="fas fa-map-signs"></i>
                </div>

                <div
                    class="home__how-list-copy">
                    <h4
                        class="heading--04">
                        {{ home.how_step01_title }}
                    </h4>
                    <p>
                        {{ home.how_step01_copy }}
                    </p>
                </div>

            </li>

            <li>

                <div
                    class="home__how-list-icon">
                    <i class="fas fa-search"></i>
                </div>

                <div
                    class="home__how-list-copy">
                    <h4
                        class="heading--04">
                        {{ home.how_step02_title }}
                    </h4>
                    <p>
                        {{ home.how_step02_copy }}
                    </p>
                </div>

            </li>

            <li>

                <div
                    class="home__how-list-icon">
                    <i class="fas fa-users"></i>
                </div>

                <div
                    class="home__how-list-copy">
                    <h4
                        class="heading--04">
                        {{ home.how_step03_title }}
                    </h4>
                    <p>
                        {{ home.how_step03_copy }}
                    </p>
                </div>

            </li>
            
            {# <li>

                <div
                    class="home__how-list-icon">
                    <i class="fas fa-award"></i>
                </div>

                <div
                    class="home__how-list-copy">
                    <h4
                        class="heading--04">
                        {{ home.how_step04_title }}
                    </h4>
                    <p>
                        {{ home.how_step04_copy }}
                    </p>
                    <a href='{{ home.how_step04_link }}' title='{{ home.how_step04_link_title }}'>{{ home.how_step04_link_label }}</a>
                </div>

            </li> #}

        </ul>

        <p>
            {{ home.how_copy }}
        </p>

        {# <p>
            {{ home.how_cta_copy }}
            <a
                class=""
                href="mailto:{{ home.how_cta_link }}"
                title="{{ home.how_cta_title }}">
                {{ home.how_cta_label }}
            </a>
        </p> #}

    </div>

</section>
