{# =============================================================================

    Talent Cloud
    Applicant: Home - Team

============================================================================= #}
<section
    class="home__team"
    style="background-image: url('/images/bg_crowd.jpg');">

    <div
        class="container--copy">

        <h2
            class="home__team-title heading--03">
            {{ home.team_title }}
        </h2>

        <p>
            {{ home.team_copy }}
        </p>

        <a
            class="button--blue"
            href="{{ home.team_button_gccollab_link }}"
            target="_blank"
            rel="noopener noreferrer"
            title="{{ home.team_button_gccollab_title }}">
            {{ home.team_button_gccollab_label }}
        </a>

        <a
            class="button--blue"
            href="{{ home.team_button_twitter_link }}"
            target="_blank"
            rel="noopener noreferrer"
            title="{{ home.team_button_twitter_title }}">
            {{ home.team_button_twitter_label }}
        </a>

        <a
            class="button--blue"
            href="mailto:{{ home.team_button_email_link }}"
            title="{{ home.team_button_email_title }}">
            {{ home.team_button_email_label }}
        </a>

    </div>

</section>
