{# =============================================================================

    Talent Cloud
    Applicant: Jobs - Post: Apply

============================================================================= #}
<a aria-hidden="true" class="job-post__anchor" id="apply"></a>
<section data-clone>
    <div data-c-border="all(thin, solid, c1)" data-c-radius="rounded">
        <div data-c-padding="all(1)" data-c-background="c1(10)">
            <h3 data-c-font-size="h3" data-c-font-weight="bold" data-c-color="c1" data-c-margin="bottom(1)" data-c-border="bottom(thin, solid, c1)" data-c-padding="bottom(1)">{{ job_post.apply.title }}</h3>
            <div data-c-margin="bottom(1)">
                <div data-c-grid="gutter(all, 1)">
                    <div data-c-grid-item="tl(1of7)" data-c-align="base(center)">
                        <i class="fas fa-flag" data-c-font-size="h1" data-c-color="c1"></i>
                    </div>
                    <div data-c-grid-item="tl(6of7)">
                        <p data-c-color="c1">{{ job_post.strategic_response.current_employee_alert }}</p>
                    </div>
                </div>
            </div>
            <div>
                <div data-c-grid="gutter(all, 1)">
                    <div data-c-grid-item="tl(1of7)" data-c-align="base(center)">
                        <i class="fas fa-check-circle" data-c-font-size="h1" data-c-color="c1"></i>
                    </div>
                    <div data-c-grid-item="tl(6of7)">
                        <p data-c-color="c1">{{ job_post.strategic_response.management_approval_alert }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% if apply_button.href == null %}
            <div data-c-align="base(center)" data-c-background="gray(30)" data-c-padding="all(1)" data-c-border="top(thin, solid, c1)">
                <p data-c-color="gray" data-c-font-size="h3" data-c-font-weight="bold">{{ apply_button.text }}</p>
            </div>
        {% else %}
            <a href="{{ apply_button.href }}" title="{{ apply_button.title }}" class="response-apply-button" data-c-display="block" data-c-align="base(center)" data-c-background="c1(100)" data-c-padding="all(1)" data-c-color="white" data-c-font-size="h3" data-c-font-weight="bold" data-c-hover-color="white">{{ apply_button.text }}</a>
        {% endif %}
    </div>
</section>
