{# =============================================================================

    Talent Cloud
    Applicant: Response Job Poster - Heading Information

    This UI provides the most basic metadata about the job the applicant is
    viewing.

============================================================================= #}
<header>
    <div data-c-overlay="white(80)" style="background-image: url('/images/response-wall.jpg')">
        <div data-c-container="large" data-c-padding="tb(3)" data-c-align="base(center) tl(left)">
            <h1 data-c-heading="h1" data-c-color="black" data-c-margin="bottom(1)">{{ job.talent_stream.name }}
                -
                {{ job.talent_stream_category.name }}
                -
                {{ job.job_skill_level.name }}</h1>
            <div data-c-grid="gutter(all, 1)">
                <div data-c-grid-item="tl(2of3)" data-c-align="base(center) tl(left)">
                    <p data-c-color="black">{{ job_post.strategic_response.various_departments }}</p>
                </div>
                <div data-c-grid-item="tl(1of3)" data-c-align="base(center) tl(right)">
                    <span data-c-color="black">{{ job_post.header.pilot }}</span>
                </div>
            </div>
            <div data-c-grid="gutter(all, 1)">
                <div data-c-grid-item="tl(2of3)"></div>
                <div data-c-grid-item="tl(1of3)" data-c-align="base(center) tl(right)">
                    <p data-c-color="black">{{ job_post.header.reference_id|replace({':id':job.id}) }}</p>
                </div>
            </div>
        </div>
    </div>
</header>
