{# =============================================================================

    Talent Cloud
    Manager - Job Index Item

============================================================================= #}
<div data-jobid="{{ job.id }}" class="poster {{
    job.isClosed() ? "closed"
    : (job.isOpen() ? "published"
    : (job.isVisibleToHr() ? "submitted"
    : "draft"
    ))
    }}">
	<div class="flex-grid middle gutter">
		<div class="box med-1of12 poster-status poster-center">
			<i class="fas fa-pencil-alt"></i>
			<i class="fas fa-hourglass-half"></i>
			<i class="fas fa-exclamation-circle action-required"></i>
		</div>
		<div class="box med-4of12">
			{% if not job.isPublic() %}
				<h3 class="heading--04 poster-title--preview">
					<a href="{{ route('manager.jobs.summary', job) }}" title="{{ jobs_l10n.view_summary_title }}">
						{{ job.trans_required ? jobs_l10n.trans_title_placeholder ~ ' - ' }}
						{{ not job.title ? jobs_l10n.empty_title ~ ' - ' }}
						{{ job.title }}
						{{ jobs_l10n.preview }}
					</a>
				</h3>
			{% endif %}
			{% if job.isPublic() %}
				<h3 class="heading--04 poster-title--link">
					<a href="{{ route('manager.jobs.summary', job) }}" title="{{ jobs_l10n.view_summary_title }}">
						{{ job.title }}
					</a>
				</h3>
			{% endif %}
			{% if job.created_at %}
				<span class="poster-date-time--draft">{{ job.classification_message }}
					-
					{{ jobs_l10n.created_on }}
					{{ humanizeDate(job.created_at) }}</span>
			{% endif %}
			{% if job.close_date_time %}
				<span class="poster-date-time--closed">{{ job.classification_message }}
					-
					{{ jobs_l10n.closed_on }}
					{{ humanizeDate(job.close_date_time) }}</span>
			{% endif %}
		</div>
		<div class="box med-2of12 poster-measurements">
			{# Note: The "measurement--comments element is removed from the UI until commenting is built. There is nothing to do with this element until then. #}
			{# <div class="measurement--comments"> #}
			{# <i class="fas fa-comments"></i> #}
			{# <span>3 Comments</span> #}
			{# </div> #}
			{% if job.close_date_time %}
				<div class="measurement--countdown">
					<i class="fas fa-clock"></i>
					<span>{{ humanizeDateDiff(job.close_date_time) }}
						{{ jobs_l10n.remaining }}</span>
				</div>
			{% endif %}
		</div>
		<div class="box med-2of12 poster-measurements">
			{% if job.submitted_applications_count %}
				<div class="measurement--applicants">
					<i class="fas fa-users"></i>
					<span>{{ job.submitted_applications_count }}
						{{ jobs_l10n.applicants }}</span>
				</div>
			{% endif %}
		</div>
		<div class="box med-2of12">
			<a class="button--blue poster-center" href="{{ route('manager.jobs.summary', job) }}" title="{{ jobs_l10n.view_summary_title }}">
				{{ jobs_l10n.view_job_summary }}
			</a>
		</div>
		<div class="box med-1of12 poster-deletion">
			{# This needs to trigger a confirmation modal and then delete the draft job poster via an AJAX call. #}
			{# This button is only visible when the job poster has the "draft" class on it. #}
			{# This button should be disabled server side if the job is not in a draft state. #}
				{% if job.isEditable() %}
					<button data-action="delete" data-locale="{{ App.getLocale() }}" data-jobid="{{ job.id }}" data-href="{{ route('manager.jobs.destroy', job) }}" title="{{ jobs_l10n.delete_this_poster }}" type="button"> <i class="fas fa-trash-alt"></i>
				</button>
			{% endif %}
		</div>
	</div>
</div>
