{# =============================================================================

    Talent Cloud
    Manager - Job Index Layout

============================================================================= #}
<div class="manager-job-index__section-wrapper manager-job-index__temp">

    <div class="container--layout-xl">

        {% for job in jobs %}

            <div>

                <h3>{{ job.title }}</h3>

                <a href="{{ route('manager.jobs.show', job) }}">{{temp_layout_l10n.job_poster}}</a>
                {% if not job.published %}<a href="{{ route('manager.jobs.edit', job) }}">{{temp_layout_l10n.edit}}</a>{% endif %}
                {% if job.published %}<a href="{{ route('manager.jobs.screening_plan', job) }}">{{temp_layout_l10n.screening_plan_builder}}</a>{% endif %}

                <div class="container--layout-xl">

                <h4>{{temp_layout_l10n.veteran_applicants}}</h4>
                    <div class="container--layout-xl">
                        {% if veteran_applications[job.id]|length > 0 %}
                            {% for application in veteran_applications[job.id] %}
                                    {% include "manager/application_post/application_review" with {'review': temp_layout_l10n.review} %}
                            {% endfor %}
                        {% else %}
                            <p>{{temp_layout_l10n.none}}</p>
                        {% endif %}
                    </div>

                <h4>{{temp_layout_l10n.citizen_applicants}}</h4>
                    <div class="container--layout-xl">
                        {% if citizen_applications[job.id]|length > 0 %}
                            {% for application in citizen_applications[job.id] %}
                                    {% include "manager/application_post/application_review" with {'review': temp_layout_l10n.review} %}
                            {% endfor %}
                        {% else %}
                            <p>{{temp_layout_l10n.none}}</p>
                        {% endif %}
                    </div>

                <h4>{{temp_layout_l10n.other_applicants}}</h4>
                    <div class="container--layout-xl">
                        {% if other_applications[job.id]|length > 0 %}
                            {% for application in other_applications[job.id] %}
                                    {% include "manager/application_post/application_review" with {'review': temp_layout_l10n.review} %}
                            {% endfor %}
                        {% else %}
                            <p>{{temp_layout_l10n.none}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

</div>
