{# =============================================================================

    Talent Cloud
    Applicant: Profile - Header

============================================================================= #}
<div
    class="applicant-profile__header">

    <div
        class="container--copy">

        {# Profile Photo #}

            <button
                class="applicant-profile__header-photo"
                onclick="">
                <div
                    style="background-image:url('{{ user.photo }}')">
                </div>
            </button>

        {# Name #}

            <h3>
                {{ user.name }}
            </h3>

        {# Tagline #}

            {% if user.tagline %}
                <span>
                    {{ user.tagline }}
                </span>
            {% endif %}

        {# Social Accounts #}

            {% if user.twitter or user.linkedin %}

                <ul
                    class="applicant-profile__social-links">

                    <li>
                        <a
                            href="{{ user.twitter.url }}"
                            target="_blank"
                            title="{{ user.twitter.title }}">
                            <i class="far fa-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a
                            href="{{ user.linkedin.url }}"
                            target="_blank"
                            title="{{ user.linkedin.title }}">
                            <i class="far fa-linkedin"></i>
                        </a>
                    </li>

                </ul>

            {% endif %}

        {# Edit Profile Trigger #}

            {#<div class="applicant-profile__header-edit-wrapper">
                <a href="javascript:void(0)" class="profileBasicInfoEdit" onclick="JobSeekerAPI.showJobSeekerProfileBasicInfoEdit()" title="Edit my profile.">
                    <span class="hidden">Edit your profile</span>
                    <i class="fa fa-pencil-square"></i>
                </a>
            </div>#}

    </div>

</div>
