{# =============================================================================

    Talent Cloud
    Applicant: Profile - Header

============================================================================= #}
<div
    class="applicant-profile__header">

    <div
        class="container--copy">

        {# Profile Photo #}

            {# <button
                class="applicant-profile__header-photo"
                onclick=""
                type="button">
                <div
                    style="background-image:url('{{ profile_photo_url }}')">
                </div>
            </button> #}

        {# Name #}

            <h2>
                {{ user.name }}
            </h2>

        {# Tagline #}

            {% if applicant.tagline %}
                <span>
                    {{ applicant.tagline }}
                </span>
            {% endif %}

        {# Social Accounts #}

            {% if applicant.twitter_username or applicant.linkedin_url %}

                <ul
                    class="applicant-profile__social-links">

                    <li>
                        <a
                            href="{{ urls.twitter|replace({":username":manager.twitter_username}) }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            title="{{ profile.twitter_link_title|replace(":name":user.name) }}">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a
                            href="{{ applicant.linkedin_url }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            title="{{ profile.linkedin_link_title|replace(":name":user.name) }}">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>

                </ul>

            {% endif %}

        {# Edit Profile Trigger #}

            {#<div class="applicant-profile__header-edit-wrapper">
                <a href="javascript:void(0)" class="profileBasicInfoEdit" onclick="JobSeekerAPI.showJobSeekerProfileBasicInfoEdit()" title="Edit my profile.">
                    <span class="hidden">Edit your profile</span>
                    <i class="fa fa-pencil-square"></i>
                </a>
            </div>#}

    </div>

</div>
