{# =============================================================================

    Talent Cloud
    Manager: Applicant Profile

============================================================================= #}
{% extends "layouts/base" %}

{% block body %}

	{# Alert #}

		{% include "common/alert" %}

	{# Government of Canada #}

    	{% include "common/goc" %}

    {# Page Header #}

    	{% include "common/header" with {"header":profile} %}

		<a id="skipLink"></a>

    {# Content #}

    	<section
    		class="applicant-profile-preview">

	    	<div
	    		class="container--copy">

	    		<h3>{{ profile.content.whose_profile | replace({":name":applicant.user.name}) }}</h3>

	    		{# {{ applicant }} #}

	    		{% if applicant.applicant_profile_answers is empty %}

	    			<p>{{profile.content.no_applicant_answers}}</p>

		    	{% else %}

		    		{% for question in applicant.applicant_profile_answers %}

						<div class="question">

							<h4>{{ question.applicant_profile_question.question }}</h4>

							<p>{{ question.applicant_profile_question.description }}</p>

							<p><span class="bold">{{ profile.content.their_answer }}</span>{{ question.answer }}</p>

						</div>

		    		{% endfor %}

		    	{% endif %}

	    	</div>

    	</section>

{% endblock %}
