{% extends "layouts/base" %}
{% block title %}
	{{ application_template.view_title }}:
	{{ applicant.user.first_name }}
	{{ applicant.user.last_name }}
{% endblock %}
{% block body %}
    {% include "common/header" with {'header': {'title': ":title: :fname :lname"|replace({':title':application_template.view_title, ':fname':applicant.user.first_name, ':lname':applicant.user.last_name, })}} %}

    <a id="skipLink"></a>

    <section
        data-clone
        class="application__view-layout submitted">
        {% if show_review %}
        <div id="application-review-container"
            data-portal="{{ is_hr_portal ? "hr" : "manager" }}"
            data-application-id="{{ job_application.id }}"
        >
        </div>
        {% endif %}

        {% include application_view_template %}

    </section>

{% endblock %}
{% block scripts %}
	<script async defer src="{{ asset(mix('/js/ApplicationReviewRoot.js')) }}"></script>
{% endblock %}
