{% extends "layouts/base" %}
{% block title %}
	{{ application_template.view_title }}:
	{{ applicant.user.first_name }}
	{{ applicant.user.last_name }}
{% endblock %}
{% block body %}
	{% include "common/goc" %}
	{% include "common/alert" %}
	{% include "common/header" with {'header': {'title': ":title: :fname :lname"|replace({':title': application_template.view_title, ':fname': applicant.user.first_name, ':lname': applicant.user.last_name, })}} %}
	<a id="skipLink"></a>
	<section class="application__view-layout submitted">
		<div id="application-review-container" data-application="{{ job_application|json_encode() }}" data-review-statuses="{{ review_statuses|json_encode() }}" data-locale="{{ App.getLocale() }}"></div>
		{% include "common/application/view/view_layout" %}
	</section>
{% endblock %}
{% block scripts %}
	<script async defer src="{{ mix('/js/ApplicationReviewRoot.js') }}"></script>
{% endblock %}
