<div data-clone>
    <div data-c-background="c1(100)" data-c-padding="tb(double)">
        <div data-c-container="large" data-c-align="base(center)">
            <p data-c-color="white"><i data-c-font-size="h4" data-c-margin="right(double)" data-c-color="white" class="fas fa-id-badge"></i> {{ notification.first }} <a data-c-font-weight="bold" href="{{ route('manager.faq') }}{{ notification.link.href }}" title="{{ notification.title }}">{{ notification.link.text }}</a> {{ notification.second }}</p>
        </div>
    </div>
</div>
