{# =============================================================================

    Talent Cloud
    Review Applicants

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ jobs_l10n.review_applicants }}{% endblock %}

{% block body %}

	{% include "common/alert" %}

    {% include "common/goc" %}

    {% include "common/header" with {'header': {'title': job.title}} %}

    <a id="skipLink"></a>

    <div
        id="review-applications-container"
        data-job="{{ job|json_encode() }}"
        data-applications="{{ applications|json_encode() }}"
        data-review-statuses="{{ review_statuses|json_encode() }}"
        data-locale="{{App.getLocale()}}"
    >
    </div>

{% endblock %}

{% block scripts %}

    <script async defer
        src="{{ mix('/js/reviewApplicationsRoot.js', '/js/') }}">
    </script>

    <script async defer
        src="{{ mix('/js/getPdf.js', '/js/') }}">
    </script>

{% endblock %}
