{# =============================================================================

    Talent Cloud
    Manager: Screening Plan

============================================================================= #}

{% extends "layouts/base" %}

{% block body %}

    {# Alert #}

        {% include "common/alert" %}

    {# Government of Canada #}

        {% include "common/goc" %}

    {# Page Header #}

        {% include "common/header" with {"header":screening} %}

    {# Content #}

        <section class="screening-plan-layout">

            <div class="container--layout-xl">

                {# Templates #}

                    {# Assessment Selection #}

                        {% include "manager/components/skill-assessment-select" with {"template":true} %}

                    {# Screening Plan #}

                        {# Screening Plan Layout #}

                            {% include "manager/components/screening-plan" with {"template":true} %}

                        {# Screening Plan Skill #}

                            {% include "manager/components/screening-plan-skill" with {"template":true} %}

                {# Plan Generator #}

                    <h2 class="page-category">{{ screening.interface.job_id_copy }} <span>{{ job.title }}</span></h2>

                    <p class="narrative-warning">{{ screening.interface.narrative_warning }}</p>

                    {# Essential Criteria #}

                        <h3 class="skill-category">{{ screening.interface.essential_skills_label }}</h3>

                        <div class="skill-assessment-builder">

                            {% set essentialCriteria = 0 %}

                            {% for criterion in job.criteria %}

                                {% if criterion.type == "essential" %}

                                    {% include "manager/components/skill-assessment-builder" %}

                                    {% set essentialCriteria = essentialCriteria + 1 %}

                                {% endif %}

                            {% endfor %}

                            {% if essentialCriteria == 0 %}

                                <p class="skill-null-state">{{ screening.interface.essential_skills_null_copy }}</p>

                            {% endif %}

                        </div>

                    {# Asset Criteria #}

                        <h3 class="skill-category">{{ screening.interface.asset_skills_label }}</h3>

                        <div class="skill-assessment-builder">

                            {% set assetCriteria = 0 %}

                            {% for criterion in job.criteria %}

                                {% if criterion.type == "asset" %}

                                    {% include "manager/components/skill-assessment-builder" %}

                                    {% set assetCriteria = assetCriteria + 1 %}

                                {% endif %}

                            {% endfor %}

                            {% if assetCriteria == 0 %}

                                <p class="skill-null-state">{{ screening.interface.asset_skills_null_copy }}</p>

                            {% endif %}

                        </div>

                    {# Generation Button #}

                        <div class="generate-wrapper">

                            <button class="button--blue light-bg" type="button">{{ screening.interface.build_button_label }}</button>

                        </div>

                {# Screening Plans #}

                    <h2 class="page-category">{{ screening.interface.screening_plan_section_label }}</h2>

                    <p class="screening-plan-context">{{ screening.interface.screening_plan_section_context }}</p>

                    <div class="screening-plan-list">

                        {% include "manager/components/screening-plan" %}

                    </div>

            </div>

        </section>

{% endblock %}
