{# =============================================================================

    Talent Cloud
    Manager: Screening Plan

============================================================================= #}

{% extends "layouts/base" %}

{% block body %}

    {# Alert #}

        {% include "common/alert" %}

    {# Government of Canada #}

        {% include "common/goc" %}

    {# Page Header #}

        {% include "common/header" with {"header":screening_l10n} %}

        <a id="skipLink"></a>

    {# Content #}

        <section class="screening-plan-layout">

            <div class="container--layout-xl">

                {# Templates #}

                    {# Assessment Selection #}

                    {# no-prefix marks that partials in this div aren't passed an id prefix. #}
                    {# This is used in app.js individualizeFormIdsAndNames() to avoid overwriting :id in template id. #}
                    <div class="no-prefix">
                        {% include "manager/components/skill-assessment-select" with {"template":true} %}
                    </dev>

                    {# Screening Plan #}

                        {# Screening Plan Layout #}

                            {# {% include "manager/components/screening-plan" with {"template":true} %} #}

                {# Plan Generator #}

                    <h2 class="page-category">{{ screening_l10n.generate_plan_for }} <span>{{ job.title }}</span></h2>

                    <p class="narrative-warning">{{ screening_l10n.narrative_warning }}</p>

                    <form action="{{ route('manager.jobs.screening_plan.store', job) }}" method="POST">

                        {# Builds an input field for CSRF token validation #}
                        {{ csrf_field() }}

                        {# Essential Criteria #}

                        <h3 class="skill-category">{{ screening_l10n.essential_skills }}</h3>

                        <div class="skill-assessment-builder">

                            {% set essentialCriteria = 0 %}

                            {% for criterion in job.criteria %}

                                {% if criterion.criteria_type.name == "essential" %}

                                    {% include "manager/components/skill-assessment-builder" with { 'skill_builder_l10n':screening_l10n.skill_builder } %}

                                    {% set essentialCriteria = essentialCriteria + 1 %}

                                {% endif %}

                            {% endfor %}

                            {% if essentialCriteria == 0 %}

                                <p class="skill-null-state">{{ screening_l10n.essential_skills_empty }}</p>

                            {% endif %}

                        </div>

                        {# Asset Criteria #}

                        <h3 class="skill-category">{{ screening_l10n.asset_skills }}</h3>

                        <div class="skill-assessment-builder">

                            {% set assetCriteria = 0 %}

                            {% for criterion in job.criteria %}

                                {% if criterion.criteria_type.name == "asset" %}

                                    {% include "manager/components/skill-assessment-builder" with { 'skill_builder_l10n':screening_l10n.skill_builder } %}

                                    {% set assetCriteria = assetCriteria + 1 %}

                                {% endif %}

                            {% endfor %}

                            {% if assetCriteria == 0 %}

                                <p class="skill-null-state">{{ screening_l10n.asset_empty }}</p>

                            {% endif %}

                        </div>

                        {# Generation Button #}

                        <div class="generate-wrapper">

                            <button class="button--blue light-bg" type="submit">{{ screening_l10n.build_new_plan }}</button>

                        </div>

                    </form>

                {# Screening Plans #}

                    <h2 class="page-category">{{ screening_l10n.my_screening_plans }}</h2>

                    <p class="screening-plan-context">{{ screening_l10n.screening_plan_here }}</p>

                    <div class="screening-plan-list">

                        {% for plan in job.screening_plans %}

                            {% include "manager/components/screening-plan" with { 'plan_l10n': screening_l10n.plan } %}

                        {% endfor %}

                    </div>

                    {% include "common/modals/delete_confirmation" with {"modal_id":"deleteScreeningPlan", "modal":screening_l10n.delete_plan_modal} %}

            </div>

        </section>

{% endblock %}
