{# =============================================================================

    Talent Cloud
    Course

============================================================================= #}
{% if prefix %}
    {% set name_prefix = prefix ~ "[courses][:template][:id]" %}
    {% set id_prefix = name_prefix %}
{% else %}
    {% set name_prefix = "courses[:template][:id]" %}
    {% set id_prefix = name_prefix %}
{% endif %}

{% if course %}
    {% set name_prefix = name_prefix|replace({":template":"old", ":id":course.id}) %}
    {% set id_prefix = id_prefix|replace({":template":"old", ":id":course.id}) %}
{% endif %}

<div
    class="profile-element accordion course {% if course == false %}template active{% endif %} modal-target-object"
    data-item-saved="{{ course ? "true" : "" }}"
    data-item-url="{{ route("courses.destroy", ":id") }}"
    data-item-id="{{ course ? course.id : 0 }}">

    {# Accordion Trigger #}

        <button
            {% if course == false %}
                aria-expanded="true"
            {% else %}
                aria-expanded="false"
            {% endif %}
            class="accordion-trigger"
            tabindex="0"
            type="button">

            <span
                class="accordion-title">
                {% if course == false %}
                    {{ course_template.new_course_label }}
                {% else %}
                    {{ course.name }}
                {% endif %}
            </span>

            <span class="invisible">{{ course_template.accordion_sr_helper }}</span>

            <i class="fas fa-chevron-up"></i>

        </button>

    {# Accordion Content #}

        <div
            {% if course == false %}
                aria-hidden="false"
            {% else %}
                aria-hidden="true"
            {% endif %}
            class="accordion-content">

            {% if locale == "application-view" %}

                <div
                    class="profile-element__preview flex-grid">

                    <div
                        class="box med-1of2">

                        <span>
                            {{ course_template.name_label }}
                        </span>

                        <p>
                            {{ course.name }}
                        </p>

                    </div>

                    <div
                        class="box med-1of2">

                        <span>
                            {{ course_template.institution_label }}
                        </span>

                        <p>
                            {{ course.institution }}
                        </p>

                    </div>

                    <div
                        class="box full">

                        <span>
                            {{ course_template.status_label }}
                        </span>

                        <p>
                            {% for status in course_status %}
                                {% if course.course_status.id == status.id %}{{ course_template.statuses[status.name] }}{% endif %}
                            {% endfor %}
                        </p>

                    </div>

                    <div
                        class="box med-1of2">

                        <span>
                            {{ course_template.start_date_label }}
                        </span>

                        <p>
                            {{ course.start_date|date("Y-m-d") }}
                        </p>

                    </div>

                    <div
                        class="box med-1of2">

                        <span>
                            {{ course_template.end_date_label }}
                        </span>

                        <p>
                            {{ course.end_date|date("Y-m-d") }}
                        </p>

                    </div>

                </div>

            {% else %}

                <div
                    class="form__wrapper">

                    <div
                        class="flex-grid">

                        <div
                            class="box med-1of2">

                            <div
                                class="form__input-wrapper--float {% if course.name == true %}active{% endif %}">
                                <label
                                    class="form__label"
                                    for="{{ id_prefix }}courseName">
                                    {{ course_template.name_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="{{ id_prefix }}courseName"
                                    type="text"
                                    name="{{ name_prefix }}[name]"
                                    value="{{ course.name }}" />
                            </div>

                        </div>

                        <div
                            class="box med-1of2">

                            <div
                                class="form__input-wrapper--float {% if course.institution == true %}active{% endif %}">
                                <label
                                    class="form__label"
                                    for="{{ id_prefix }}courseInstitution">
                                    {{ course_template.institution_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="{{ id_prefix }}courseInstitution"
                                    type="text"
                                    name="{{ name_prefix }}[institution]"
                                    value="{{ course.institution }}" />
                            </div>

                        </div>

                        <div
                            class="box full">

                            <div
                                class="form__input-wrapper--select">
                                <label
                                    class="form__label"
                                    for="{{ id_prefix }}courseStatus">
                                    {{ course_template.status_label }}
                                </label>
                                <div
                                    class="form__select-wrapper fas fa-chevron-down">
                                    <select
                                        class="form__input"
                                        id="{{ id_prefix }}courseStatus"
                                        name="{{ name_prefix }}[course_status_id]">
                                        <option value="" disabled {% if course.course_status.id == status.id %}selected{% endif %}>{{ course_template.status_default_option }}</option>
                                        {% for status in course_status %}
                                            <option
                                                {% if course.course_status.id == status.id %}selected="selected"{% endif %}
                                                value="{{ status.id }}">{{ course_template.statuses[status.name] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div
                            class="box med-1of2">

                            <div
                                class="form__input-wrapper--date">

                                <label
                                    class="form__label"
                                    for="{{ id_prefix }}courseStartDate">
                                    {{ course_template.start_date_label }}
                                </label>

                                <input
                                    class="form__input"
                                    id="{{ id_prefix }}courseStartDate"
                                    type="date"
                                    name="{{ name_prefix }}[start_date]"
                                    value="{{ course.start_date|date("Y-m-d") }}">

                            </div>

                        </div>

                        <div
                            class="box med-1of2">

                            <div
                                class="form__input-wrapper--date">

                                <label
                                    class="form__label"
                                    for="{{ id_prefix }}courseEndDate">
                                    {{ course_template.end_date_label }}
                                </label>

                                <input
                                    class="form__input"
                                    id="{{ id_prefix }}courseEndDate"
                                    type="date"
                                    name="{{ name_prefix }}[end_date]"
                                    value="{{ course.end_date|date("Y-m-d") }}">

                            </div>

                        </div>

                    </div>

                </div>

                <div
                    class="accordion-actions flex-grid">

                    <div
                        class="box med-1of2">
                        <button
                            class="button--red light-bg modal-trigger"
                            data-modal-id="deleteCourse"
                            type="button">
                            {{ course_template.action_01 }}
                        </button>
                    </div>

                    <div
                        class="box med-1of2">
                        <button
                            class="button--blue light-bg"
                            type="submit"
                            name="submit"
                            value="{{ name_prefix }}">
                            {{ course_template.action_02 }}
                        </button>
                    </div>

                </div>

            {% endif %}

        </div>

</div>
