{# =============================================================================

    Talent Cloud
    Recurring Elements: Course Accordion

============================================================================= #}
{% if prefix %}
    {% set name_prefix = prefix ~ "[courses][:template][:id]" %}
    {% set id_prefix = name_prefix %}
{% else %}
    {% set name_prefix = "courses[:template][:id]" %}
    {% set id_prefix = name_prefix %}
{% endif %}
{% if course %}
    {% set name_prefix = name_prefix|replace({":template":"old", ":id":course.id}) %}
    {% set id_prefix = id_prefix|replace({":template":"old", ":id":course.id}) %}
{% endif %}
<!-- Accordion -->
<div data-c-accordion data-c-card data-c-margin="top(.5)" class="clone-accordion profile-element course {% if course == false %}template active{% endif %} modal-target-object" data-item-saved="{{ course ? "true" : "" }}" data-item-url="{{ route("courses.destroy", ":id") }}" data-item-id="{{ course ? course.id : 0 }}">
    <button data-c-accordion-trigger tabindex="0" type="button"
        {% if course == false %}
            aria-expanded="true"
        {% else %}
            aria-expanded="false"
        {% endif %}>
        <div data-c-padding="all(1)">
            {% if course == false %}
                <p data-c-font-weight="bold" data-c-font-size="h4">{{ course_template.new_course_label }}</p>
            {% else %}
                <p data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="bottom(.25)">{{ course.name }}</p>
                <p data-c-color="c2">{{ course.institution|title }}</p>
            {% endif %}
        </div>
        <span data-c-visibility="invisible">Click to view...</span>
        <i aria-hidden="true" data-c-color="c1" data-c-accordion-add data-c-font-size="h3" data-c-font-weight="bold">+</i>
        <i aria-hidden="true" data-c-color="c1" data-c-accordion-remove data-c-font-size="h3" data-c-font-weight="bold">-</i>
    </button>
    <div data-c-accordion-content
        {% if course == false %}
            aria-hidden="false"
        {% else %}
            aria-hidden="true"
        {% endif %}>
        <hr data-c-hr="thin(gray)">
        <div data-c-padding="all(1)">
            {# Course (Readable) #}
            {% if locale == "application-view" %}
                <div data-c-grid="gutter(all, 1)">
                    {# Course Name #}
                    <div data-c-grid-item="base(1of1) tl(1of2)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ course_template.name_label }}</p>
                        <p>{{ course.name }}</p>
                    </div>
                    {# Institution #}
                    <div data-c-grid-item="base(1of1) tl(1of2)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ course_template.institution_label }}</p>
                        <p>{{ course.institution }}</p>
                    </div>
                    {# Status #}
                    <div data-c-grid-item="base(1of1)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ course_template.status_label }}</p>
                        <p>
                            {% for status in course_status %}
                                {% if course.course_status.id == status.id %}{{ course_template.statuses[status.name] }}{% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    {# Start Date #}
                    <div data-c-grid-item="base(1of1) tl(1of2)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ course_template.start_date_label }}</p>
                        <p>{{ course.start_date|date("Y-m-d") }}</p>
                    </div>
                    {# End Date #}
                    <div data-c-grid-item="base(1of1) tl(1of2)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ course_template.end_date_label }}</p>
                        <p>{{ course.end_date|date("Y-m-d") }}</p>
                    </div>
                </div>
            {# Course (Editable) #}
            {% else %}
                <div data-c-grid="gutter(all, 1)">
                    {# Course Name #}
                    <div data-c-input="text" data-c-grid-item="base(1of1) tl(1of2)" data-c-required>
                        <label for="{{ id_prefix }}courseName">{{ course_template.name_label }}</label>
                        <span>Required</span>
                        <div>
                            <input id="{{ id_prefix }}courseName" name="{{ name_prefix }}[name]" value="{{ course.name }}" {{course ? required : "data-required" }} type="text" />
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    {# Institution #}
                    <div data-c-input="text" data-c-grid-item="base(1of1) tl(1of2)" data-c-required>
                        <label for="{{ id_prefix }}courseInstitution">{{ course_template.institution_label }}</label>
                        <span>Required</span>
                        <div>
                            <input id="{{ id_prefix }}courseInstitution" name="{{ name_prefix }}[institution]" value="{{ course.institution }}" {{course ? required : "data-required" }} type="text" />
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    {# Status #}
                    <div data-c-input="select" data-c-grid-item="base(1of1)" data-c-required>
                        <label for="{{ id_prefix }}courseStatus">{{ course_template.status_label }}</label>
                        <span>Required</span>
                        <div>
                            <i class="fas fa-caret-down"></i>
                            <select id="{{ id_prefix }}courseStatus" name="{{ name_prefix }}[course_status_id]" {{course ? required : "data-required" }}>
                                <option value="" disabled {% if course.course_status.id == status.id %}selected{% endif %}>{{ course_template.status_default_option }}</option>
                                {% for status in course_status %}
                                    <option
                                        {% if course.course_status.id == status.id %}selected="selected"{% endif %}
                                        value="{{ status.id }}">{{ course_template.statuses[status.name] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    {# Start Date #}
                    <div data-c-input="date" data-c-grid-item="base(1of1) tl(1of2)">
                        <label for="{{ id_prefix }}courseStartDate">{{ course_template.start_date_label }}</label>
                        <span>Required</span>
                        <div>
                            <input id="{{ id_prefix }}courseStartDate" type="date" required placeholder="yyyy-mm-dd" name="{{ name_prefix }}[start_date]" value="{{ course.start_date|date("Y-m-d") }}"/>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    {# End Date #}
                    <div data-c-input="date" data-c-grid-item="base(1of1) tl(1of2)">
                        <label for="{{ id_prefix }}courseEndDate">{{ course_template.end_date_label }}</label>
                        <span>Required</span>
                        <div>
                            <input id="{{ id_prefix }}courseEndDate" type="date" required placeholder="yyyy-mm-dd" name="{{ name_prefix }}[end_date]" value="{{ course.end_date|date("Y-m-d") }}"/>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    <div data-c-grid-item="base(1of1)">
                        <hr data-c-hr="thin(gray)" data-c-margin="bottom(.5)">
                    </div>
                    <div data-c-grid-item="base(1of1) tl(1of2)" data-c-align="base(left) tl(left)">
                        <button class="modal-trigger" data-c-button="outline(stop)" data-c-radius="rounded" data-modal-id="deleteCourse" type="button">
                            {{ course_template.action_01 }}
                        </button>
                    </div>
                    <div data-c-grid-item="base(1of1) tl(1of2)" data-c-align="base(left) tl(right)">
                        <button data-c-button="solid(c1)" data-c-radius="rounded" type="submit" name="submit" value="{{ name_prefix }}">
                            {{ course_template.action_02 }}
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
