{# =============================================================================

    Talent Cloud
    Degree

============================================================================= #}
{% if prefix %}
    {% set name_prefix = prefix ~ "[degrees][:template][:id]" %}
    {% set id_prefix = name_prefix %}
{% else %}
    {% set name_prefix = "degrees[:template][:id]" %}
    {% set id_prefix = name_prefix %}
{% endif %}

{% if degree %}
    {% set name_prefix = name_prefix|replace({":template":"old", ":id":degree.id}) %}
    {% set id_prefix = id_prefix|replace({":template":"old", ":id":degree.id}) %}
{% endif %}

<div
    class="profile-element accordion degree {% if degree == false %}template active{% endif %} modal-target-object"
    data-item-saved="{{ degree ? "true" : "" }}"
    data-item-url="{{ route("degrees.destroy", ":id") }}"
    data-item-id="{{ degree ? degree.id : 0 }}">

    {# Accordion Trigger #}

        <button
            {% if degree == false %}
                aria-expanded="true"
            {% else %}
                aria-expanded="false"
            {% endif %}
            class="accordion-trigger"
            tabindex="0"
            type="button">

            <span
                class="accordion-title">
                {% if degree == false %}
                    {{ degree_template.new_degree_label }}
                {% else %}
                    {{ degree_template.types[degree.degree_type.name]|title }}, {{ degree.area_of_study }}
                {% endif %}
            </span>

            <span class="invisible">{{ degree_template.accordion_sr_helper }}</span>

            <i class="fas fa-chevron-up"></i>

        </button>

    {# Accordion Content #}

        <div
            {% if degree == false %}
                aria-hidden="false"
            {% else %}
                aria-hidden="true"
            {% endif %}
            class="accordion-content">

            {% if locale == "application-view" %}

                <div
                    class="profile-element__preview flex-grid">

                    <div
                        class="box full">

                        <span>
                            {{ degree_template.type_label }}
                        </span>

                        <p>
                            {% for degree_type in degree_types %}
                                {% if degree.degree_type.id == degree_type.id %}{{ degree_template.types[degree_type.name] }}{% endif %}
                            {% endfor %}
                        </p>

                    </div>

                    <div
                        class="box med-1of2">

                        <span>
                            {{ degree_template.aoe_label }}
                        </span>

                        <p>
                            {{ degree.area_of_study }}
                        </p>

                    </div>

                    <div
                        class="box med-1of2">

                        <span>
                            {{ degree_template.institution_label }}
                        </span>

                        <p>
                            {{ degree.institution }}
                        </p>

                    </div>

                    <div
                        class="box med-1of2">

                        <span>
                            {{ degree_template.thesis_label }}
                        </span>

                        <p>
                            {{ degree.thesis }}
                        </p>

                    </div>

                    <div
                        class="box med-1of2">

                        <span>
                            {{ degree_template.blockcert_label }}
                        </span>

                        <p>
                            {{ degree.blockcert_url }}
                        </p>

                    </div>

                    <div
                        class="box med-1of2">

                        <span>
                            {{ degree_template.start_date_label }}
                        </span>

                        <p>
                            {{ degree.start_date|date("Y-m-d") }}
                        </p>

                    </div>

                    <div
                        class="box med-1of2">

                        <span>
                            {{ degree_template.end_date_label }}
                        </span>

                        <p>
                            {{ degree.end_date|date("Y-m-d") }}
                        </p>

                    </div>

                </div>

            {% else %}

                <div
                    class="form__wrapper">

                    <div
                        class="flex-grid">

                        <div
                            class="box full">

                            <div
                                class="form__input-wrapper--select">
                                <label
                                    class="form__label"
                                    for="{{ id_prefix }}degreeType">
                                    {{ degree_template.type_label }}
                                </label>
                                <div
                                    class="form__select-wrapper fas fa-chevron-down">
                                    <select
                                        class="form__input"
                                        id="{{ id_prefix }}degreeType"
                                        name="{{ name_prefix }}[degree_type_id]">
                                        <option value="" disabled selected>{{ degree_template.type_default_option }}</option>
                                        {% for degree_type in degree_types %}
                                            <option
                                                {% if degree.degree_type.id == degree_type.id %}selected="selected"{% endif %}
                                                value="{{ degree_type.id }}"
                                                >{{ degree_template.types[degree_type.name] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div
                            class="box med-1of2">

                            <div
                                class="form__input-wrapper--float {% if degree.area_of_study == true %}active{% endif %}">
                                <label
                                    class="form__label"
                                    for="{{ id_prefix }}degreeArea">
                                    {{ degree_template.aoe_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="{{ id_prefix }}degreeArea"
                                    type="text"
                                    name="{{ name_prefix }}[area_of_study]"
                                    value="{{ degree.area_of_study }}" />
                            </div>

                        </div>

                        <div
                            class="box med-1of2">

                            <div
                                class="form__input-wrapper--float {% if degree.institution == true %}active{% endif %}">
                                <label
                                    class="form__label"
                                    for="{{ id_prefix }}degreeInstitution">
                                    {{ degree_template.institution_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="{{ id_prefix }}degreeInstitution"
                                    type="text"
                                    name="{{ name_prefix }}[institution]"
                                    value="{{ degree.institution }}" />
                            </div>

                        </div>

                        <div
                            class="box med-1of2">

                            <div
                                class="form__input-wrapper--float {% if degree.thesis == true %}active{% endif %}">
                                <label
                                    class="form__label"
                                    for="{{ id_prefix }}degreeThesis">
                                    {{ degree_template.thesis_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="{{ id_prefix }}degreeThesis"
                                    type="text"
                                    name="{{ name_prefix }}[thesis]"
                                    value="{{ degree.thesis }}" />
                            </div>

                        </div>

                        <div
                            class="box med-1of2">

                            <div
                                class="form__input-wrapper--float {% if degree.blockcert_url == true %}active{% endif %}">
                                <label
                                    class="form__label"
                                    for="{{ id_prefix }}degreeBlockcertUrl">
                                    {{ degree_template.blockcert_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="{{ id_prefix }}degreeBlockcertUrl"
                                    type="url"
                                    name="{{ name_prefix }}[blockcert_url]"
                                    value="{{ degree.blockcert_url }}" />
                            </div>

                        </div>

                        <div
                            class="box med-1of2">

                            <div
                                class="form__input-wrapper--date">

                                <label
                                    class="form__label"
                                    for="{{ id_prefix }}degreeStartDate">
                                    {{ degree_template.start_date_label }}
                                </label>

                                <input
                                    class="form__input"
                                    id="{{ id_prefix }}degreeStartDate"
                                    type="date"
                                    name="{{ name_prefix }}[start_date]"
                                    value="{{ degree.start_date|date("Y-m-d") }}">

                            </div>

                        </div>

                        <div
                            class="box med-1of2">

                            <div
                                class="form__input-wrapper--date">

                                <label
                                    class="form__label"
                                    for="{{ id_prefix }}degreeEndDate">
                                    {{ degree_template.end_date_label }}
                                </label>

                                <input
                                    class="form__input"
                                    id="{{ id_prefix }}degreeEndDate"
                                    type="date"
                                    name="{{ name_prefix }}[end_date]"
                                    value="{{ degree.end_date|date("Y-m-d") }}">

                            </div>

                        </div>

                    </div>

                </div>

                <div
                    class="accordion-actions flex-grid">

                    <div
                        class="box med-1of2">
                        <button
                            class="button--red light-bg modal-trigger"
                            data-modal-id="deleteDegree"
                            type="button">
                            {{ degree_template.action_01 }}
                        </button>
                    </div>

                    <div
                        class="box med-1of2">
                        <button
                            class="button--blue light-bg"
                            type="submit"
                            name="submit"
                            value="{{ name_prefix }}">
                            {{ degree_template.action_02 }}
                        </button>
                    </div>

                </div>

            {% endif %}

        </div>

</div>
