{# =============================================================================

    Talent Cloud
    Recurring Elements: Degree Accordion

============================================================================= #}
{% if prefix %}
    {% set name_prefix = prefix ~ "[degrees][:template][:id]" %}
    {% set id_prefix = name_prefix %}
{% else %}
    {% set name_prefix = "degrees[:template][:id]" %}
    {% set id_prefix = name_prefix %}
{% endif %}
{% if degree %}
    {% set name_prefix = name_prefix|replace({":template":"old", ":id":degree.id}) %}
    {% set id_prefix = id_prefix|replace({":template":"old", ":id":degree.id}) %}
{% endif %}
<!-- Accordion -->
<div data-c-accordion data-c-card data-c-margin="bottom(.5)" class="clone-accordion profile-element degree {% if degree == false %}template active{% endif %} modal-target-object" data-item-saved="{{ degree ? "true" : "" }}" data-item-url="{{ route("degrees.destroy", ":id") }}" data-item-id="{{ degree ? degree.id : 0 }}">
    <button data-c-accordion-trigger tabindex="0" type="button"
        {% if degree == false %}
            aria-expanded="true"
        {% else %}
            aria-expanded="false"
        {% endif %}>
        <div data-c-padding="all(1)">
            {% if degree == false %}
                <p data-c-font-weight="bold" data-c-font-size="h4">{{ degree_template.new_degree_label }}</p>
            {% else %}
                <p data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="bottom(.25)">{{ degree_template.types[degree.degree_type.name]|title }}, {{ degree.area_of_study }}</p>
                <p data-c-color="c2">{{ degree.institution|title }}</p>
            {% endif %}
        </div>
        <span data-c-visibility="invisible">Click to view...</span>
        <i aria-hidden="true" data-c-color="c1" data-c-accordion-add data-c-font-size="h3" data-c-font-weight="bold">+</i>
        <i aria-hidden="true" data-c-color="c1" data-c-accordion-remove data-c-font-size="h3" data-c-font-weight="bold">-</i>
    </button>
    <div data-c-accordion-content
        {% if course == false %}
            aria-hidden="false"
        {% else %}
            aria-hidden="true"
        {% endif %}>
        <hr data-c-hr="thin(gray)">
        <div data-c-padding="all(1)">
            {# Degree (Readable) #}
            {% if locale == "application-view" %}
                <div data-c-grid="gutter(all, 1)">
                    {# Degree Type #}
                    <div data-c-grid-item="base(1of1)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ degree_template.type_label }}</p>
                        <p>
                            {% for degree_type in degree_types %}
                                {% if degree.degree_type.id == degree_type.id %}{{ degree_template.types[degree_type.name] }}{% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    {# Area of Study #}
                    <div data-c-grid-item="base(1of1) tl(1of2)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ degree_template.aoe_label }}</p>
                        <p>{{ degree.area_of_study }}</p>
                    </div>
                    {# Institution #}
                    <div data-c-grid-item="base(1of1) tl(1of2)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ degree_template.institution_label }}</p>
                        <p>{{ degree.institution }}</p>
                    </div>
                    {# Thesis #}
                    <div data-c-grid-item="base(1of1)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ degree_template.thesis_label }}</p>
                        {% if degree.thesis %}
                            <p>{{ degree.thesis }}</p>
                        {% else %}
                            <p data-c-color="gray">N/A</p>
                        {% endif %}
                    </div>
                    {# Blockcert Link #}
                    <div data-c-grid-item="base(1of1)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ degree_template.blockcert_label }}</p>
                        {% if degree.blockcert_url %}
                            <p>{{ degree.blockcert_url }}</p>
                        {% else %}
                            <p data-c-color="gray">N/A</p>
                        {% endif %}
                    </div>
                    {# Start Date #}
                    <div data-c-grid-item="base(1of1) tl(1of2)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ degree_template.start_date_label }}</p>
                        <p>{{ degree.start_date|date("Y-m-d") }}</p>
                    </div>
                    {# End Date #}
                    <div data-c-grid-item="base(1of1) tl(1of2)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(.25)">{{ degree_template.end_date_label }}</p>
                        <p>{{ degree.end_date|date("Y-m-d") }}</p>
                    </div>
                </div>
            {# Degree (Editable) #}
            {% else %}
                <div data-c-grid="gutter(all, 1)">
                    {# Type of Degree #}
                    <div data-c-input="select" data-c-grid-item="base(1of1)">
                        <label for="{{ id_prefix }}degreeType">{{ degree_template.type_label }}</label>
                        <span>Required</span>
                        <div>
                            <i class="fas fa-caret-down"></i>
                            <select required id="{{ id_prefix }}degreeType" name="{{ name_prefix }}[degree_type_id]">
                                <option value="" disabled {% if degree.degree_type.id == degree_type.id %}selected{% endif %}>{{ degree_template.type_default_option }}</option>
                                {% for degree_type in degree_types %}
                                    <option
                                        {% if degree.degree_type.id == degree_type.id %}selected="selected"{% endif %}
                                        value="{{ degree_type.id }}"
                                        >{{ degree_template.types[degree_type.name] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    {# Area of Study #}
                    <div data-c-input="text" data-c-grid-item="base(1of1) tl(1of2)">
                        <label for="{{ id_prefix }}degreeArea">{{ degree_template.aoe_label }}</label>
                        <span>Required</span>
                        <div>
                            <input id="{{ id_prefix }}degreeArea" name="{{ name_prefix }}[area_of_study]" value="{{ degree.area_of_study }}" required type="text" />
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    {# Institution #}
                    <div data-c-input="text" data-c-grid-item="base(1of1) tl(1of2)">
                        <label for="{{ id_prefix }}degreeInstitution">{{ degree_template.institution_label }}</label>
                        <span>Required</span>
                        <div>
                            <input id="{{ id_prefix }}degreeInstitution" name="{{ name_prefix }}[institution]" value="{{ degree.institution }}" required type="text" />
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    {# Thesis #}
                    <div data-c-input="text" data-c-grid-item="base(1of1) tl(1of2)">
                        <label for="{{ id_prefix }}degreeThesis">{{ degree_template.thesis_label }}</label>
                        <span>Required</span>
                        <div>
                            <input id="{{ id_prefix }}degreeThesis" name="{{ name_prefix }}[thesis]" value="{{ degree.thesis }}" type="text" />
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    {# Blockcert URL #}
                    <div data-c-input="url" data-c-grid-item="base(1of1) tl(1of2)">
                        <label for="{{ id_prefix }}degreeBlockcertUrl">{{ degree_template.blockcert_label }}</label>
                        <span>Required</span>
                        <div>
                            <input id="{{ id_prefix }}degreeBlockcertUrl" name="{{ name_prefix }}[blockcert_url]" type="url" value="{{ degree.blockcert_url }}" />
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    {# Start Date #}
                    <div data-c-input="date" data-c-grid-item="base(1of1) tl(1of2)">
                        <label for="{{ id_prefix }}degreeStartDate">{{ degree_template.start_date_label }}</label>
                        <span>Required</span>
                        <div>
                            <input id="{{ id_prefix }}degreeStartDate" type="date" required placeholder="yyyy-mm-dd" name="{{ name_prefix }}[start_date]" value="{{ degree.start_date|date("Y-m-d") }}"/>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    {# End Date #}
                    <div data-c-input="date" data-c-grid-item="base(1of1) tl(1of2)">
                        <label for="{{ id_prefix }}degreeEndDate">{{ degree_template.end_date_label }}</label>
                        <span>Required</span>
                        <div>
                            <input id="{{ id_prefix }}degreeEndDate" type="date" required placeholder="yyyy-mm-dd" name="{{ name_prefix }}[end_date]" value="{{ degree.end_date|date("Y-m-d") }}"/>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    <div data-c-grid-item="base(1of1)">
                        <hr data-c-hr="thin(gray)" data-c-margin="bottom(.5)">
                    </div>
                    <div data-c-grid-item="base(1of1) tl(1of2)" data-c-align="base(left) tl(left)">
                        <button class="modal-trigger" data-c-button="outline(stop)" data-c-radius="rounded" data-modal-id="deleteDegree" type="button">
                            {{ degree_template.action_01 }}
                        </button>
                    </div>
                    <div data-c-grid-item="base(1of1) tl(1of2)" data-c-align="base(left) tl(right)">
                        <button data-c-button="solid(c1)" data-c-radius="rounded" type="submit" name="submit" value="{{ name_prefix }}">
                            {{ degree_template.action_02 }}
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
