{# =============================================================================
    Talent Cloud
    Footer
============================================================================= #}
<div data-clone>
    <footer data-c-alignment="base(centre)" data-c-background="grey(10)" data-c-padding="top(double) bottom(double)">
        <div data-c-container="full">
            <div data-c-grid="gutter middle">
                <div data-c-alignment="tp(left)" data-c-grid-item="tp(5of7)">
                    <nav class="footer-nav">
                        <ul>
                            <li>
                                <a
                                    href="mailto:{{ footer.feedback.link }}"
                                    title="{{ footer.feedback.title }}">
                                    {{ footer.feedback.label }}
                                </a>
                            </li>
                            <li>
                                <a
                                    href="{{ footer.terms.link }}"
                                    title="{{ footer.terms.title }}">
                                    {{ footer.terms.label }}
                                </a>
                            </li>
                            <li>
                                <a
                                    href="{{ footer.privacy.link }}"
                                    title="{{ footer.privacy.title }}">
                                    {{ footer.privacy.label }}
                                </a>
                            </li>
                            <li>
                                <a
                                    href="{{ footer.canada.link }}"
                                    title="{{ footer.canada.title }}">
                                    {{ footer.canada.label }}
                                </a>
                            </li>
                        </ul>
                        <p data-c-colour="grey" data-c-font-size="small" data-c-margin="top(normal)">{{ footer.modified }} {{ date_modified }}</p>
                    </nav>
                </div>
                <div data-c-alignment="tp(right)" data-c-grid-item="tp(2of7)">
                    <a class="footer-logo" href="{{ footer.logo_link }}" target="_blank" title="{{ footer.logo_link_title }}" rel="noopener noreferrer">
                        <img alt="{{ footer.logo_alt }}" class="" src="{{ footer.logo_url }}">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
