{# =============================================================================

    Talent Cloud
    Footer

============================================================================= #}
<footer
    class="footer">

    <div
        class="footer__grid flex-grid middle">

        {# SubMenu Links #}

            <nav
                class="box med-1of2">

                <ul>

                    <li>
                        <a
                            class=""
                            href="{{ footer.terms.link }}"
                            title="{{ footer.terms.link_title }}">
                            {{ footer.terms.link_label }}
                        </a>
                    </li>

                    <li>&bull;
                        <a
                            class=""
                            href="{{ footer.privacy.link }}"
                            title="{{ footer.privacy.link_title }}">
                            {{ footer.privacy.link_label }}
                        </a>
                    </li>

                    <li>&bull;
                        <a
                            class=""
                            href="{{ footer.canada.link }}"
                            title="{{ footer.canada.link_title }}">
                            {{ footer.canada.link_label }}
                        </a>
                    </li>

                </ul>

            </nav>

        {# Feedback Link #}

            <div
                class="box med-1of2">

                <a
                    class=""
                    href="{{ footer.logo_link }}"
                    target="_blank"
                    title="{{ footer.logo_link_title }}"
                    rel="noreferrer">
                    <img
                        alt="{{ footer.logo_alt }}"
                        class=""
                        src="{{ footer.logo_url }}">
                </a>

            </div>

    </div>

</footer>
