{# =============================================================================

    Talent Cloud
    Government of Canada Banner

============================================================================= #}
<section
    class="goc">

    <div
        class="goc__grid flex-grid middle">

        {# Government Logo #}

            <div
                class="box med-1of3">

                <a
                    class=""
                    href="{{ goc.logo_link }}"
                    target="_blank"
                    title="{{ goc.logo_link_title }}"
                    rel="noreferrer">
                    <img
                        alt="{{ goc.logo_alt }}"
                        class=""
                        src="{{ goc.logo_url }}">
                </a>

            </div>

        {# Talent Cloud Portal #}

            <div
                class="box med-1of3">

                {{ goc.talent_cloud }}
                <i class="fas fa-cloud"></i>
                {# {% if "manager" in app.request.uri %}
                    {{ goc.admin_portal }}
                {% else %}
                    {{ goc.portal }}
                {% endif %} #}

            </div>

        {# Language Toggle #}

            {% include "common/lang_menu" %}

    </div>

</section>
