<div data-h2-system id="browserBanner">
  <div
    data-h2-padding="b(tb, 1)"
    style="background-color: #1c51a0">
    <div data-h2-container="b(center, large)">
      <p
        data-h2-font-color="b(white)"
        data-h2-font-size="b(h4)"
        data-h2-font-weight="b(bold)">
        <i
          class="fab fa-internet-explorer"
          data-h2-margin="b(right, .5)"></i>{{ internet_explorer.banner.title }}</p>
      <p
        data-h2-font-color="b(white)"
        data-h2-margin="b(top, .5) b(bottom, 1)">
       {{ internet_explorer.banner.paragraph_1.text_1 }}</p>
      <p data-h2-font-color="b(white)" data-h2-margin="b(top, .5) b(bottom, 1)">{{ internet_explorer.banner.paragraph_2.text_1 }} <a href="{{ internet_explorer.banner.paragraph_2.link_url }}" title="{{ internet_explorer.banner.paragraph_2.link_title }}">{{ internet_explorer.banner.paragraph_2.link_text }}</a> {{ internet_explorer.banner.paragraph_2.text_2 }}</p>
      <button
        data-h2-button="white, round, small, outline"
        type="button"
        id="browserDismissButton"
      >
        <span data-h2-button-label>{{ internet_explorer.banner.dismiss_trigger }}</span>
      </button>
    </div>
  </div>
</div>
