<div data-h2-system id="browserBanner">
  <div
    data-h2-padding="b(tb, 1)"
    style="background-color: #1c51a0">
    <div data-h2-container="b(center, large)">
      <p
        data-h2-font-color="b(white)"
        data-h2-font-size="b(h4)"
        data-h2-font-weight="b(bold)">
        <i
          class="fab fa-internet-explorer"
          data-h2-margin="b(right, .5)"></i>{{ internet_explorer.banner.title }}</p>
      <p
        data-h2-font-color="b(white)"
        data-h2-margin="b(top, .5) b(bottom, 1)">
       {{ internet_explorer.banner.paragraph_1.text_1 }}. {{ internet_explorer.banner.paragraph_1.text_2 }}, <a href="mailto:{{ internet_explorer.banner.paragraph_1.link_email }}" title="{{ internet_explorer.banner.paragraph_1.link_title }}">{{ internet_explorer.banner.paragraph_1.link_text }}</a>.</p>
      <button
        data-h2-button="white, round, small, outline"
        data-h2-dialog-trigger="ieDialog"
        type="button">
        <span data-h2-button-label>{{ internet_explorer.banner.dialog_trigger }}</span>
      </button>
      <button
        data-h2-button="white, round, small, clear"
        type="button"
        id="browserDismissButton"
      >
        <span data-h2-button-label>{{ internet_explorer.banner.dismiss_trigger }}</span>
      </button>
    </div>
  </div>
</div>
{% block scripts %}
    <script src="{{ asset(mix('/js/browserMessage.js')) }}"></script>
{% endblock %}
