<div data-h2-system>
  <div
    aria-hidden="true"
    aria-describedby="ieDialogContent"
    aria-labelledby="ieDialogTitle"
    data-h2-dialog="ieDialog"
    tabindex="-1"
    role="dialog">
    <div
      data-h2-dialog-wrapper
      data-h2-radius="b(round)">
      <div
        data-h2-dialog-title
        data-h2-bg-color="b(theme-2, 1)"
        data-h2-padding="b(tb, 1) b(left, 1) b(right, 3)">
        <h5
          data-h2-focus
          data-h2-font-color="b(white)"
          id="ieDialogTitle">{{ internet_explorer.dialog.title }}</h5>
        <button
          data-h2-dialog-exit-trigger
          data-h2-button="white, round, medium, outline"
          type="button">
          <span>x</span>
        </button>
      </div>
      <div
        data-h2-dialog-content
        data-h2-padding="b(all, 1)">
        <div id="ieDialogContent">
          <p>{{ internet_explorer.dialog.paragraph_1 }}</p>
          <p data-h2-margin="b(tb, 1)">{{ internet_explorer.dialog.paragraph_2.text_1 }} <a href="{{ internet_explorer.dialog.paragraph_2.link_url }}" title="{{ internet_explorer.dialog.paragraph_2.link_title }}">{{ internet_explorer.dialog.paragraph_2.link_text }}</a>, {{ internet_explorer.dialog.paragraph_2.text_2 }}</p>
            <ul>
              <li>
                <a
                  href="https://www.microsoft.com/en-us/edge"
                  title="">Microsoft Edge</a>
              </li>
              <li>
                <a
                  href="https://www.apple.com/ca/safari/"
                  title="">Apple Safari</a>
              </li>
              <li>
                <a
                  href="https://www.google.ca/chrome/"
                  title="">Google Chrome</a>
              </li>
              <li>
                <a
                  href="https://www.mozilla.org/en-CA/firefox/new/"
                  title="">Mozilla Firefox</a>
              </li>
            </ul>
            <p data-h2-margin="b(top, 1)">{{ internet_explorer.dialog.paragraph_3.text_1 }} <a href="mailto:{{ internet_explorer.dialog.paragraph_3.link_email }}" title="{{ internet_explorer.dialog.paragraph_3.link_title }}">{{ internet_explorer.dialog.paragraph_3.link_text }}.</a></p>
        </div>
      </div>
      <div
        data-h2-dialog-actions
        data-h2-align="b(right)"
        data-h2-border="b(gray-9, top, solid, thin)"
        data-h2-padding="b(all, 1)">
        <button
          data-h2-dialog-trigger="ieDialog"
          data-h2-button="theme-1, round, medium, outline"
          type="button">
          {{ internet_explorer.dialog.close_trigger }}
        </button>
      </div>
    </div>
  </div>
</div>
