{# =============================================================================

    Talent Cloud
    Menu

============================================================================= #}
<nav class="menu" data-c-background="black(60)">
    <div data-c-container="large">
        <div data-c-grid>
            <div data-c-grid-item="base(1of1) tl(3of4)">
                <ul data-c-align="base(center) tl(left)">
                    {% for key,item in menu.items %}
                        <li>
                            <a class="{{ item.active ? 'active' : '' }}" href="{{ item.link }}" title="Visit {{ item.name }}." data-c-padding="all(.5)" data-c-color="white" data-c-hover-color="white">
                                {{ item.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div data-c-grid-item="base(1of1) tl(1of4)">
                <ul data-c-align="base(center) tl(right)">
                    {% if auth_guest() %}
                        <li>
                            <a href="{{ login_modals.login_link }}" data-c-padding="all(.5)" data-c-color="white" data-c-hover-color="white">{{ menu.login }}</a>
                        </li>
                        <li>
                            <a href="{{ login_modals.register_link }}" data-c-padding="all(.5)" data-c-color="white" data-c-hover-color="white">{{ menu.register }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ login_modals.logout_link }}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" data-c-padding="all(.5)" data-c-color="white" data-c-hover-color="white">
                                {{ menu.logout }}
                            </a>
                            <form id="logout-form" action="{{ login_modals.logout_link }}" method="POST" style="display: none;">
                                {{ csrf_field() }}
                            </form>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
