{# =============================================================================

    Talent Cloud
    Menu

============================================================================= #}
<nav
    class="menu">

    <button
        class="menu__mobile-trigger"
        onclick="">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
        {{ nav.mobile_trigger_label }}
    </button>

    <ul class="menu__list">

        {% for item in menu.items %}

            <li>

                <a
                    class="{% if item.active == true %}active{% endif %}"
                    href="{{ item.link }}"
                    title="Visit {{ item.name }}.">
                    {{ item.name }}
                </a>

            </li>

        {% endfor %}

        {% if auth_guest() %}

        <li>
            <button
                class="modal-trigger"
                data-modal-id="login"
                title="">
                {{ menu.register }}
            </button>
        </li>

        <li>

            <button
                class="modal-trigger"
                data-modal-id="login"
                title="">
                {{ menu.login }}
            </button>

        </li>

        {% else %}

        <li>

            <button
                class="modal-trigger"
                data-modal-id="logout"
                title="">
                {{ menu.logout }}
            </button>
        </li>

        {% endif %}

    </ul>

</nav>
