{# =============================================================================

    Talent Cloud
    Menu

============================================================================= #}
<nav
    class="menu">

    <button
        class="menu__mobile-trigger"
        onclick="">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
        {{ nav.mobile_trigger_label }}
    </button>

    <ul class="menu__list">

        {% if "admin" in app.request.uri %}
            
            {% for item in menu %}

                {% if item.access.manager == true %}

                    <li>

                        <a
                            class="{% if item.active == true %}active{% endif %}"
                            href="{{ item.link }}"
                            title="Visit {{ item.name }}.">
                            {{ item.name }}
                        </a>

                    </li>

                {% endif %}

            {% endfor %}

        {% else %}

            {% for item in menu %}

                {% if item.access.applicant == true %}

                    <li>

                        <a
                            class="{% if item.active == true %}active{% endif %}"
                            href="{{ item.link }}"
                            title="Visit {{ item.name }}.">
                            {{ item.name }}
                        </a>

                    </li>

                {% endif %}

            {% endfor %}

        {% endif %}

        <li>

            <button
                class="modal-trigger"
                data-modal-id="login"
                title="">
                Register
            </button>

        </li>

        <li>

            <button
                class="modal-trigger"
                data-modal-id="login"
                title="">
                Login
            </button>

        </li>

        <li>

            <button
                class="modal-trigger"
                data-modal-id="logout"
                title="">
                Logout
            </button>

        </li>

    </ul>

</nav>
