{# =============================================================================

    Talent Cloud
    Modals

============================================================================= #}
<div
    class="modal-overlay modal-cancel-trigger"></div>

{% for modal in page.modals %}

    <div
        aria-hidden="true"
        aria-labelledby="dialogLabel{{ modal.id }}"
        aria-modal="true"
        class="modal"
        data-modal-id="{{ modal.id }}"
        role="dialog">

        <div
            class="modal-heading">

            <h1
                id="dialogLabel{{ modal.id }}">{{ modal.title }}</h1>

            <button
                type="button">
                <i class="fas fa-times modal-cancel-trigger"></i>
                <span class="invisible">{{ menu.modal_cancel_label }}</span>
            </button>

        </div>

        <div
            class="modal-content">

            <div
                class="modal-scroll-wrapper">

                {% if modal.type == "confirmation" %}

                    <div
                        class="modal-copy">

                        {% for item in modal.content %}

                            <p>{{ item }}</p>

                        {% endfor %}

                    </div>

                    <div
                        class="flex-grid modal-action-wrapper">

                        <div
                            class="flex-grid">

                            <div
                                class="box small-1of2">

                                <button
                                    class="modal-cancel-trigger button--blue light-bg"
                                    type="button">
                                    {{ modal.action_01 }}
                                </button>

                            </div>

                            <div
                                class="box small-1of2">

                                <button
                                    class="button--blue light-bg"
                                    type="button">
                                    {{ modal.action_02 }}
                                </button>

                            </div>

                        </div>

                    </div>

                {% endif %}

                {% if modal.type == "deleteConfirmation" %}

                    <div
                        class="modal-copy">

                        {% for item in modal.content %}

                            <p>{{ item }}</p>

                        {% endfor %}

                    </div>

                    <div
                        class="flex-grid modal-action-wrapper">

                        <div
                            class="flex-grid">

                            <div
                                class="box small-1of2">

                                <button
                                    class="modal-cancel-trigger button--blue light-bg"
                                    type="button">
                                    {{ modal.action_01 }}
                                </button>

                            </div>

                            <div
                                class="box small-1of2">

                                <button
                                    class="modal-delete-trigger button--red light-bg"
                                    type="button">
                                    <span class="modal-delete-default-copy">{{ modal.action_02 }}</span>
                                    <span class="modal-delete-progress-copy">{{ modal.action_02_progress }}</span>
                                </button>

                            </div>

                        </div>

                    </div>

                {% endif %}

                {% if modal.type == "login" %}

                    <div
                        class="modal-copy">

                        {% for item in modal.content %}

                            <p>{{ item }}</p>

                        {% endfor %}

                    </div>

                    <div
                        class="flex-grid modal-action-wrapper">

                        <div
                            class="flex-grid">

                            <div
                                class="box small-1of2">

                                <a
                                    class="button--blue light-bg"
                                    href="{{ login_modals.register_link }}"
                                    title="">
                                    {{ modal.action_01 }}
                                </a>

                            </div>

                            <div
                                class="box small-1of2">

                                <a
                                    class="button--blue light-bg"
                                    href=" {{ login_modals.login_link }}"
                                    title="">
                                    {{ modal.action_02 }}
                                </a>

                            </div>

                        </div>

                    </div>

                {% endif %}

                {% if modal.type == "logout" %}

                    <div
                        class="modal-copy">

                        {% for item in modal.content %}

                            <p>{{ item }}</p>

                        {% endfor %}

                    </div>

                    <div
                        class="flex-grid modal-action-wrapper">

                        <div
                            class="flex-grid">

                            <div
                                class="box small-1of2">

                                <button
                                    class="modal-cancel-trigger button--blue light-bg"
                                    type="button">
                                    {{ modal.action_01 }}
                                </button>

                            </div>

                            <div
                                class="box small-1of2">

                                <a
                                    class="button--red light-bg"
                                    href=" {{ login_modals.logout_link }}"
                                    title="">
                                    {{ modal.action_02 }}
                                </a>

                            </div>

                        </div>

                    </div>

                {% endif %}

                {% if modal.type == "createReference" %}

                    {% include "common/modals/create_reference" %}

                {% endif %}

                {% if modal.type == "createSample" %}

                    {% include "common/modals/create_sample" %}

                {% endif %}

            </div>

        </div>

    </div>

{% endfor %}
