{# =============================================================================

    Talent Cloud
    Recurring Elements: Reference Accordion

============================================================================= #}
{% if prefix %}
    {% set name_prefix = prefix ~ "[references][:id]" %}
    {% set id_prefix = name_prefix %}
{% else %}
    {% set name_prefix = "references[:id]" %}
    {% set id_prefix = name_prefix %}
{% endif %}
{% if reference %}
    {% set name_prefix = name_prefix|replace({":id":reference.id}) %}
    {% set id_prefix = id_prefix|replace({":id":reference.id}) %}
{% endif %}
<!-- Accordion -->
<div data-c-accordion data-c-card data-c-margin="top(.5)" class="clone-accordion profile-element reference ajax-form {% if template %}template active{% endif %} modal-target-object" data-item-saved="{{ reference ? "true" : "" }}" data-item-url="{{ route("references.destroy", ":id") }}" data-item-id="{{ reference ? reference.id : 0 }}">
    <button data-c-accordion-trigger tabindex="0" type="button"
        {% if reference == false %}
            aria-expanded="true"
        {% else %}
            aria-expanded="false"
        {% endif %}>
        <div data-c-padding="all(1)">
            <p class="reference-title" data-c-font-weight="bold">
                {% if reference == false %}
                    {{ reference_template.new_reference_title }}
                {% else %}
                    {{ reference.name }}
                {% endif %}
            </p>
        </div>
        <span data-c-visibility="invisible">{{ reference_template.accordion_sr_helper }}</span>
        <i aria-hidden="true" data-c-color="c1" data-c-accordion-add data-c-font-size="h3" data-c-font-weight="bold">+</i>
        <i aria-hidden="true" data-c-color="c1" data-c-accordion-remove data-c-font-size="h3" data-c-font-weight="bold">-</i>
    </button>
    <div data-c-accordion-content
        {% if reference == false %}
            aria-hidden="false"
        {% else %}
            aria-hidden="true"
        {% endif %}>
        <form action="{{ reference ? route("references.update", reference) : route("references.create") }}" method="POST">
            <hr data-c-hr="thin(gray)">
            <div data-c-padding="all(1)" data-c-background="gray(20)">
                <div class="form-error"></div>
                {# Builds an input field for CSRF token validation #}
                {{ csrf_field() }}
                <input name="_method" type="hidden" value="{{ reference ? "PUT" : "POST" }}">
                <div data-c-grid="gutter(all, 1)">
                    {# Name #}
                    <div data-c-input="text" data-c-grid-item="tl(1of2)">
                        <label for="{{ id_prefix }}referenceName">{{ reference_template.name_label }}</label>
                        <span>{{ reference_template.required_label }}</span>
                        <div>
                            <input id="{{ id_prefix }}referenceName" name="name" required value="{{ reference.name }}" type="text" />
                        </div>
                        <span>{{ reference_template.input_error }}</span>
                    </div>
                    {# Relationship #}
                    <div data-c-input="select" data-c-grid-item="tl(1of2)">
                        <label for="{{ id_prefix }}referenceRelationship">{{ reference_template.relationship_label }}</label>
                        <span>{{ reference_template.required_label }}</span>
                        <div>
                            <i class="fas fa-caret-down"></i>
                            <select name="relationship_id" required id="{{ id_prefix }}referenceRelationship" {% if template %}disabled{% endif %}>
                                <option value="" disabled {% if reference.relationship_id == relationship.id %}selected{% endif %}>{{ reference_template.relationship_default_option }}</option>
                                {% for relationship in relationships %}
                                    <option
                                        value="{{ relationship.id }}"
                                        {% if reference.relationship_id == relationship.id %}selected="selected"{% endif %}
                                        >{{ reference_template.relationships[relationship.name] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <span>{{ reference_template.input_error }}</span>
                    </div>
                    {# Email #}
                    <div data-c-input="email" data-c-grid-item="base(1of1)">
                        <label for="{{ id_prefix }}referenceEmail">{{ reference_template.email_label }}</label>
                        <span>{{ reference_template.required_label }}</span>
                        <div>
                            <input id="{{ id_prefix }}referenceEmail" {% if template %}disabled{% endif %} type="email" name="email" required value="{{ reference.email }}" />
                        </div>
                        <span>{{ reference_template.input_error }}</span>
                    </div>
                    {# Descrption #}
                    <div data-c-input="textarea" data-form-id="experience-description" data-c-grid-item="base(1of1)">
                        <label for="{{ id_prefix }}referenceDescription">{{ reference_template.description_label }}</label>
                        <span>{{ reference_template.required_label }}</span>
                        <div>
                            <textarea id="{{ id_prefix }}referenceDescription" id="{{ id_prefix }}referenceDescription" {% if template %}disabled{% endif %} name="description" required >{{ reference.description }}</textarea>
                        </div>
                        <span>{{ reference_template.input_error }}</span>
                    </div>
                </div>
            </div>
            {# Linked Skills #}
            <hr data-c-hr="thin(gray)">
            <div data-c-padding="all(1)" class="application-relative-list">
                <div data-c-grid="gutter(all, 1) middle">
                    <div data-c-grid-item="base(1of1) tl(1of2)" data-c-align="base(center) tl(left)">
                        <p data-c-font-weight="bold"><i class="fas fa-link"data-c-color="c1" data-c-margin="right(.5)"></i>{{ relative_template.project.title }}</p>
                    </div>
                    {# Add a Work Sample Trigger #}
                    <div data-c-grid-item="base(1of1) tl(1of2)" data-c-align="base(center) tl(right)">
                        <button class="profile-relative__add-trigger" data-c-button="outline(c1)" data-c-radius="rounded" type="button" disabled>
                            {{ relative_template.project.add_label }}
                        </button>
                    </div>
                </div>
                {# Project Template #}
                {# no-prefix marks that partials in this div aren't passed an id prefix. #}
                {# This is used in app.js individualizeFormIdsAndNames() to avoid overwriting :id in template id. #}
                <div class="no-prefix">
                    {% include "common/relatives-projects" with {"template": true, "prefix": id_prefix} %}
                </div>
                {# Project List #}
                {% set relativeCounter = 0 %}
                <div class="profile-relative-list__wrapper" data-c-margin="top(1)">
                    {% for relative in reference.projects %}
                        {% set relativeCounter = relativeCounter + 1 %}
                        {% include "common/relatives-projects" with {"relativeToken": "projects"} %}
                    {% endfor %}
                </div>
                {# Project State #}
                {% if reference.projects|length == 0 %}
                    {% if relativeCounter == 0 %}
                        <p class="profile-relative__null active" data-c-background="gray(20)" data-c-border="all(thin, solid, gray)" data-c-radius="rounded" data-c-margin="top(1)" data-c-padding="all(1)" data-c-align="base(center)" data-c-color="gray">You haven't added any projects to this reference. Use the button above to add one.</p>
                    {% endif %}
                {% endif %}
            </div>
            {# Skill Action Buttons #}
            <hr data-c-hr="thin(gray)">
            <div data-c-padding="all(1)">
                <div data-c-grid="gutter(all, 1)">
                    <div data-c-grid-item="base(1of1) pl(1of2)" data-c-align="base(center) pl(left)">
                        <button class="modal-trigger" data-modal-id="deleteReference" data-c-button="outline(stop)" data-c-radius="rounded" type="button" disabled>
                            <span>{{ reference_template.action_01 }}</span>
                        </button>
                    </div>
                    <div data-c-grid-item="base(1of1) pl(1of2)" data-c-align="base(center) pl(right)">
                        <button data-c-button="solid(c1)" data-c-radius="rounded" name="submit" type="submit" value="{{ name_prefix }}" disabled>
                            <span>
                                <span class="submit-default">{{ reference_template.action_02 }}</span>
                                <span class="submit-working">{{ reference_template.action_02_working }}</span>
                                <span class="submit-saved">{{ reference_template.action_02_saved }}</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
