{# =============================================================================

    Talent Cloud
    Reference

============================================================================= #}
{% if prefix %}
    {% set name_prefix = prefix ~ "[references][:id]" %}
    {% set id_prefix = name_prefix %}
{% else %}
    {% set name_prefix = "references[:id]" %}
    {% set id_prefix = name_prefix %}
{% endif %}

{% if reference %}
    {% set name_prefix = name_prefix|replace({":id":reference.id}) %}
    {% set id_prefix = id_prefix|replace({":id":reference.id}) %}
{% endif %}

<div
    class="profile-element accordion reference ajax-form {% if template %}template active{% endif %} modal-target-object"
    data-item-saved="{{ reference ? "true" : "" }}"
    data-item-url="{{ route("references.destroy", ":id") }}"
    data-item-id="{{ reference ? reference.id : 0 }}">

    {# Accordion Trigger #}

        <button
            {% if reference == false %}
                aria-expanded="true"
            {% else %}
                aria-expanded="false"
            {% endif %}
            class="accordion-trigger"
            tabindex="0"
            type="button">

            {% if locale == "profile" %}

            {% else %}

                <span
                    class="accordion-status">

                    <i class="fas fa-check"></i>

                    <i class="fas fa-exclamation-circle"></i>

                </span>

            {% endif %}

            <span
                class="accordion-title">
                {% if reference == false %}
                    {{ reference_template.new_reference_title }}
                {% else %}
                    {{ reference.name }}
                {% endif %}
            </span>

            <span class="invisible">{{ reference_template.accordion_sr_helper }}</span>

            <i class="fas fa-chevron-up"></i>

        </button>

    {# Accordion Content #}

        <div
            {% if reference == false %}
                aria-hidden="false"
            {% else %}
                aria-hidden="true"
            {% endif %}
            class="accordion-content">

            <form
            action="{{ reference ? route("references.update", reference) : route("references.create") }}"
            method="POST">

             {# Builds an input field for CSRF token validation #}
                {{ csrf_field() }}

                <input name="_method" type="hidden" value="{{ reference ? "PUT" : "POST" }}">


                <div
                    class="form__wrapper">

                    {# Holds errors from ajax form submission #}
                    <div class="form-error box"></div>

                    <div
                        class="flex-grid">

                        <div
                            class="box med-1of2">

                            <div class="form__input-wrapper--float {% if reference.name == true %}active{% endif %}">
                                <label class="form__label" for="{{ id_prefix }}referenceName">
                                    {{ reference_template.name_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="{{ id_prefix }}referenceName"

                                    type="text"
                                    name="name"
                                    required
                                    value="{{ reference.name }}" />
                            </div>

                        </div>

                        <div
                            class="box med-1of2">

                            <div class="form__input-wrapper--select">
                                <label class="form__label" for="{{ id_prefix }}referenceRelationship">
                                    {{ reference_template.relationship_label }}
                                </label>
                                <div
                                    class="form__select-wrapper fas fa-chevron-down">
                                    <select
                                        id="{{ id_prefix }}referenceRelationship"
                                        class="form__input"
                                        {% if template %}disabled{% endif %}
                                        name="relationship_id"
                                        required>
                                        <option value="" disabled {% if reference.relationship_id == relationship.id %}selected{% endif %}>{{ reference_template.relationship_default_option }}</option>
                                        {% for relationship in relationships %}
                                            <option
                                                value="{{ relationship.id }}"
                                                {% if reference.relationship_id == relationship.id %}selected="selected"{% endif %}
                                                >{{ reference_template.relationships[relationship.name] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div
                            class="box full">

                            <div class="form__input-wrapper--float {% if reference.email == true %}active{% endif %}">
                                <label class="form__label" for="{{ id_prefix }}referenceEmail">
                                    {{ reference_template.email_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="{{ id_prefix }}referenceEmail"
                                    {% if template %}disabled{% endif %}
                                    type="email"
                                    name="email"
                                    required
                                    value="{{ reference.email }}" />
                            </div>

                        </div>

                        <div
                            class="box full">

                            <div
                                class="form__input-wrapper--float {% if reference.description != null%}active{% endif %}"
                                data-form-id="experience-description">

                                <label
                                    class="form__label"
                                    for="{{ id_prefix }}referenceDescription">
                                    {{ reference_template.description_label }}
                                </label>

                                <textarea
                                    class="form__textarea"
                                    id="{{ id_prefix }}referenceDescription"
                                    {% if template %}disabled{% endif %}
                                    name="description"
                                    required
                                    >{{ reference.description }}</textarea>

                            </div>

                        </div>

                    </div>

                    {# Relatives (Projects) #}

                        <div
                            class="profile-relative-list">

                            {# Relative List Title & Creation Trigger #}

                                <div
                                    class="profile-relative-list__header flex-grid middle">

                                    <div
                                        class="box small-1of2">

                                        <span
                                            class="profile-relative-list__label">
                                            {{ relative_template.project.title }}
                                        </span>

                                    </div>

                                    <div
                                        class="box small-1of2">

                                    </div>

                                </div>

                            {# Relative Template #}

                            {# no-prefix marks that partials in this div aren't passed an id prefix. #}
                            {# This is used in app.js individualizeFormIdsAndNames() to avoid overwriting :id in template id. #}
                            <div class="no-prefix">
                                {% include "common/relatives-projects" with {"template": true, "prefix": id_prefix} %}
                            </div>

                            {# Relative List #}

                                {% set relativeCounter = 0 %}

                                <div
                                    class="profile-relative-list__wrapper">

                                    {% for relative in reference.projects %}

                                        {% set relativeCounter = relativeCounter + 1 %}

                                        {% include "common/relatives-projects" with {"relativeToken": "projects"} %}

                                    {% endfor %}

                                </div>

                            {# Add Relative Trigger #}

                                <div
                                    class="profile-relative__add-trigger-wrapper">

                                    <button
                                        class="profile-relative__add-trigger">
                                        {{ relative_template.project.add_label }}
                                    </button>

                                </div>

                        </div>

                    {# Relatives (SKills) #}

                        <div
                            class="profile-relative-list">

                            {# Relative List Title & Creation Trigger #}

                                <div
                                    class="profile-relative-list__header flex-grid middle">

                                    <div
                                        class="box small-1of2">

                                        <span
                                            class="profile-relative-list__label">
                                            {{ relative_template.skill.title }}
                                        </span>

                                    </div>

                                    <div
                                        class="box small-1of2">

                                    </div>

                                </div>

                            {# Relative Template #}

                             {# no-prefix marks that partials in this div aren't passed an id prefix. #}
                            {# This is used in app.js individualizeFormIdsAndNames() to avoid overwriting :id in template id. #}
                            <div class="no-prefix">
                                {% include "common/relatives" with {"template": true, "relativeToken": "skills", "prefix": id_prefix } %}
                            </div>

                            {# Relative List #}

                                {% set relativeCounter = 0 %}

                                <div
                                    class="profile-relative-list__wrapper">

                                    {% for relative in reference.skill_declarations %}

                                        {% set relativeCounter = relativeCounter + 1 %}

                                        {% include "common/relatives" with {"relativeToken": "skills"} %}

                                    {% endfor %}

                                </div>

                            {# Add Relative Trigger #}

                                <div
                                    class="profile-relative__add-trigger-wrapper">

                                    {% if applicant.skill_declarations|length > 0 %}
                                        <button
                                        class="profile-relative__add-trigger">
                                        {{ relative_template.skill.add_label }}
                                    </button>
                                    {% else %}
                                        <p
                                            class="profile-relative__null">
                                            {{ relative_template.skill.null_copy }}
                                        </p>
                                    {% endif %}

                                </div>

                        </div>

                </div>

                <div
                    class="accordion-actions flex-grid">

                    <div
                        class="box med-1of2">
                        <button
                            class="button--red light-bg modal-trigger"
                            data-modal-id="deleteReference"
                            type="button">
                            {{ reference_template.action_01 }}
                        </button>
                    </div>

                    <div
                        class="box med-1of2">
                        <button
                            class="button--blue light-bg"
                            type="submit"
                            name="submit"
                            value="{{ name_prefix }}">
                            <span class="submit-default">{{ reference_template.action_02 }}</span>
                            <span class="submit-working">{{ reference_template.action_02_working }}</span>
                            <span class="submit-saved">{{ reference_template.action_02_saved }}</span>
                        </button>
                    </div>

                </div>

            </form>

        </div>

</div>
