<div
    class="profile-relative project {% if relative == null %}template{% endif %}"
    data-item-id="{{ relative ? relative.id : 0 }}">

    {% if relative %}
        {% set name_suffix = "[old][:id]"|replace({":id":relative.id}) %}
        {% set id_suffix = "_old_:id"|replace({":id":relative.id}) %}
    {% else %}
        {% set name_suffix = "[:template]" %}
        {% set id_suffix = "_new" %}
    {% endif %}

    <button
        class="profile-relative__remove-trigger"
        title="{{ relative_template.project.delete_title }}">
        <i class="fas fa-times"></i>
    </button>

    <div
        class="flex-grid">

        <div
            class="box full">

            <div class="form__input-wrapper--float {% if relative.name == true %}active{% endif %}">
                <label class="form__label" for="projectName{{ id_suffix }}">
                    {{ relative_template.project.name_label }}
                </label>
                <input
                    class="form__input"
                    id="projectName{{ id_suffix }}"
                    type="text"
                    name="project_name{{ name_suffix }}"
                    value="{{ relative.name }}" />
            </div>

        </div>

        <div
            class="box med-1of2">

            <div
                class="form__input-wrapper--date">

                <label
                    class="form__label"
                    for="relativeStartDate{{ id_suffix }}">
                    {{ relative_template.project.start_date_label }}
                </label>

                <input
                    class="form__input"
                    id="relativeStartDate{{ id_suffix }}"
                    type="date"
                    name="relative_start_date{{ name_suffix }}"
                    value="{{ relative.start_date|date("Y-m-d") }}">

            </div>

        </div>

        <div
            class="box med-1of2">

            <div
                class="form__input-wrapper--date">

                <label
                    class="form__label"
                    for="relativeEndDate{{ id_suffix }}">
                    {{ relative_template.project.end_date_label }}
                </label>

                <input
                    class="form__input"
                    id="relativeEndDate{{ id_suffix }}"
                    type="date"
                    name="relative_end_date{{ name_suffix }}"
                    value="{{ relative.end_date|date("Y-m-d") }}">

            </div>

        </div>

    </div>

</div>
