{# =============================================================================

    Talent Cloud
    Recurring Element: Reference Projects

============================================================================= #}
{% if prefix %}
    {% set name_prefix = "projects[:id]" %}
    {% set id_prefix = prefix ~ "[projects][:id]" %}
{% else %}
    {% set name_prefix = "projects[:id]" %}
    {% set id_prefix = "projects[:id]" %}
{% endif %}
{% if relative %}
    {% set name_prefix = name_prefix|replace({":id": relative.id}) %}
    {% set id_prefix = id_prefix|replace({":id": relative.id}) %}
{% elseif item_id %}
    {% set name_prefix = name_prefix|replace({":id":item_id}) %}
    {% set id_prefix = id_prefix|replace({":id":item_id}) %}
{% endif %}
<div data-c-border="all(thin, solid, gray)" data-c-radius="rounded" data-c-padding="all(1)" data-c-margin="top(.5)" class="profile-relative project {% if template %}template{% endif %}" data-item-id="{{ relative ? relative.id : 0 }}">
    <div data-c-grid="gutter(all, 1)">
        <div data-c-grid-item="tp(1of2)" data-c-align="base(center) tp(left)">
            <p data-c-margin="bottom(.5)" data-c-color="c1">Project Information</p>
        </div>
        <div data-c-grid-item="tp(1of2)" data-c-align="base(center) tp(right)">
            <button data-c-button="reset" data-c-radius="rounded" class="profile-relative__remove-trigger" title="{{ relative_template.project.delete_title }}" type="button">
                <i class="fas fa-times"></i>
                <span>{{ relative_template.project.delete_title }}</span>
            </button>
        </div>
        <div data-c-input="text" data-c-grid-item="base(1of1)">
            <label for="{{ id_prefix }}projectName">{{ relative_template.project.name_label }}</label>
            <span>Required</span>
            <div>
                <input id="{{ id_prefix }}projectName" required name="{{ name_prefix }}[name]" {% if template %}disabled{% endif %} value="{{ relative.name }}" type="text" />
            </div>
            <span>This input has an error.</span>
        </div>
        <div data-c-input="date" data-c-grid-item="tl(1of2)">
            <label for="{{ id_prefix }}relativeStartDate">{{ relative_template.project.start_date_label }}</label>
            <span>Required</span>
            <div>
                <input id="{{ id_prefix }}relativeStartDate" type="date" placeholder="yyyy-mm-dd" required name="{{ name_prefix }}[start_date]" {% if template %}disabled{% endif %} value="{{ relative.start_date|date("Y-m-d") }}"/>
            </div>
            <span>This input has an error.</span>
        </div>
        <div data-c-input="date" data-c-grid-item="tl(1of2)">
            <label for="{{ id_prefix }}relativeEndDate">{{ relative_template.project.end_date_label }}</label>
            <span>Required</span>
            <div>
                <input id="{{ id_prefix }}relativeEndDate" type="date" placeholder="yyyy-mm-dd" required name="{{ name_prefix }}[end_date]" value="{{ relative.end_date|date("Y-m-d") }}"/>
            </div>
            <span>This input has an error.</span>
        </div>
    </div>
</div>
