{% if prefix %}
    {% set name_prefix = prefix ~ "[projects][:id]" %}
    {% set id_prefix = name_prefix %}
{% else %}
    {% set name_prefix = "projects[:id]" %}
    {% set id_prefix = name_prefix %}
{% endif %}

{% if relative %}
    {% set name_prefix = name_prefix|replace({":id": relative.id}) %}
    {% set id_prefix = id_prefix|replace({":id": relative.id}) %}
{% elseif item_id %}
    {% set name_prefix = name_prefix|replace({":id":item_id}) %}
    {% set id_prefix = id_prefix|replace({":id":item_id}) %}
{% endif %}

<div
    class="profile-relative project {% if template %}template{% endif %}"
    data-item-id="{{ relative ? relative.id : 0 }}">

    <button
        class="profile-relative__remove-trigger"
        title="{{ relative_template.project.delete_title }}"
        type="button">
        <i class="fas fa-times"></i>
        <span class="invisible">{{ relative_template.project.delete_title }}</span>
    </button>

    <div
        class="flex-grid">

        <div
            class="box full">

            <div class="form__input-wrapper--float {% if relative.name %}active{% endif %}">
                <label class="form__label" for="{{ id_prefix }}projectName">
                    {{ relative_template.project.name_label }}
                </label>
                <input
                    class="form__input"
                    id="{{ id_prefix }}projectName"
                    type="text"
                    required
                    name="{{ name_prefix }}[name]"
                    {% if template %}disabled{% endif %}
                    value="{{ relative.name }}" />
            </div>

        </div>

        <div
            class="box med-1of2">

            <div
                class="form__input-wrapper--date">

                <label
                    class="form__label"
                    for="{{ id_prefix }}relativeStartDate">
                    {{ relative_template.project.start_date_label }}
                </label>

                <input
                    class="form__input"
                    id="{{ id_prefix }}relativeStartDate"
                    type="date"
                    required
                    name="{{ name_prefix }}[start_date]"
                    {% if template %}disabled{% endif %}
                    value="{{ relative.start_date|date("Y-m-d") }}">

            </div>

        </div>

        <div
            class="box med-1of2">

            <div
                class="form__input-wrapper--date">

                <label
                    class="form__label"
                    for="{{ id_prefix }}relativeEndDate">
                    {{ relative_template.project.end_date_label }}
                </label>

                <input
                    class="form__input"
                    id="{{ id_prefix }}relativeEndDate"
                    {% if template %}disabled{% endif %}
                    type="date"
                    required
                    name="{{ name_prefix }}[end_date]"
                    value="{{ relative.end_date|date("Y-m-d") }}">

            </div>

        </div>

    </div>

</div>
