{# =============================================================================

    Talent Cloud
    Recurring Element: Work Samples

============================================================================= #}
{% if prefix %}
    {% set name_prefix = prefix ~ "[work_samples][:id]" %}
    {% set id_prefix = name_prefix %}
{% else %}
    {% set name_prefix = "work_samples[:id]" %}
    {% set id_prefix = name_prefix %}
{% endif %}
{% if sample %}
    {% set name_prefix = name_prefix|replace({":id":sample.id}) %}
    {% set id_prefix = id_prefix|replace({":id":sample.id}) %}
{% endif %}
<!-- Accordion -->
<div data-c-accordion data-c-card data-c-margin="top(.5)" class="clone-accordion profile-element sample ajax-form {% if template %}template active{% endif %} modal-target-object" data-item-saved="{{ sample ? "true" : "" }}" data-item-url="{{ route("work_samples.destroy", ":id") }}" data-item-id="{{ sample ? sample.id : 0 }}">
    <button data-c-accordion-trigger tabindex="0" type="button"
        {% if sample == false %}
            aria-expanded="true"
        {% else %}
            aria-expanded="false"
        {% endif %}>
        <div data-c-padding="all(1)">
            <p data-c-font-weight="bold">
                {% if sample == false %}
                    {{ sample_template.new_sample_label }}
                {% else %}
                    {{ sample.name }}
                {% endif %}
            </p>
        </div>
        <span data-c-visibility="invisible">{{ sample_template.accordion_sr_helper }}</span>
        <i aria-hidden="true" data-c-color="c1" data-c-accordion-add data-c-font-size="h3" data-c-font-weight="bold">+</i>
        <i aria-hidden="true" data-c-color="c1" data-c-accordion-remove data-c-font-size="h3" data-c-font-weight="bold">-</i>
    </button>
    <div data-c-accordion-content
        {% if sample == false %}
            aria-hidden="false"
        {% else %}
            aria-hidden="true"
        {% endif %}>
        <form action="{{ sample ? route("work_samples.update", sample) : route("work_samples.create") }}" method="POST">
            <hr data-c-hr="thin(gray)">
            <div data-c-padding="all(1)" data-c-background="gray(20)">
                <div class="form-error"></div>
                {# Builds an input field for CSRF token validation #}
                {{ csrf_field() }}
                <input name="_method" type="hidden" value="{{ refesamplerence ? "PUT" : "POST" }}">
                <div data-c-grid="gutter(all, 1)">
                    {# Name #}
                    <div data-c-input="text" data-c-grid-item="base(1of1)">
                        <label for="{{ id_prefix }}sampleName">{{ sample_template.name_label }}</label>
                        <span>{{ sample_template.required_label }}</span>
                        <div>
                            <input id="{{ id_prefix }}sampleName" name="name" required type="text" {% if template %}disabled{% endif %} value="{{ sample.name }}" />
                        </div>
                        <span>{{ sample_template.input_error }}</span>
                    </div>
                    {# Project Type #}
                    <div data-c-input="select" data-c-grid-item="tl(1of2)">
                        <label for="{{ id_prefix }}sampleType">{{ sample_template.type_label }}</label>
                        <span>{{ sample_template.required_label }}</span>
                        <div>
                            <i class="fas fa-caret-down"> </i>
                            <select required id="{{ id_prefix }}sampleType" {% if template %}disabled{% endif %} name="file_type_id">
                                <option value="" disabled {% if sample.file_type_id == option.id %}selected{% endif %}>{{ sample_template.type_default_option }}</option>
                                {% for option in file_types %}
                                    <option
                                        value="{{ option.id }}"
                                        {% if sample.file_type_id == option.id %}selected="selected"{% endif %}
                                        >{{ sample_template.types[option.name] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <span>{{ sample_template.input_error }}</span>
                    </div>
                    {# Sample Link #}
                    <div data-c-input="url" data-c-grid-item="tl(1of2)">
                        <label for="{{ id_prefix }}sampleLink">{{ sample_template.link_label }}</label>
                        <span>{{ sample_template.required_label }}</span>
                        <div>
                            <input id="{{ id_prefix }}sampleLink" placeholder="e.g. https://talent.canada.ca" required type="url" name="url" {% if template %}disabled{% endif %} value="{{ sample.url }}"/>
                        </div>
                        <span>{{ sample_template.input_error }}</span>
                    </div>
                    {# Description #}
                    <div data-c-input="textarea" data-c-grid-item="base(1of1)">
                        <label for="{{ id_prefix }}sampleDescription">{{ sample_template.description_label }}</label>
                        <span>{{ sample_template.required_label }}</span>
                        <div>
                            <textarea id="{{ id_prefix }}sampleDescription" required name="description" {% if template %}disabled{% endif %}>{{ sample.description }}</textarea>
                        </div>
                        <span>{{ sample_template.input_error }}</span>
                    </div>
                </div>
            </div>
            {# Linked Skills #}
            <hr data-c-hr="thin(gray)">
            <div data-c-padding="all(1)" class="application-relative-list">
                <div data-c-grid="gutter(all, 1) middle">
                    {% if applicant.skill_declarations|length > 0 %}
                        <div data-c-grid-item="base(1of1) tl(1of2)" data-c-align="base(center) tl(left)">
                    {% else %}
                        <div data-c-grid-item="base(1of1)">
                    {% endif %}
                        <p data-c-font-weight="bold"><i class="fas fa-link"data-c-color="c1" data-c-margin="right(.5)"></i>{{ relative_template.skill.title }}</p>
                    </div>
                    {# Add a Work Sample Trigger #}
                    {% if applicant.skill_declarations|length > 0 %}
                        <div data-c-grid-item="base(1of1) tl(1of2)" data-c-align="base(center) tl(right)">
                            <button class="profile-relative__add-trigger" data-c-button="outline(c1)" data-c-radius="rounded" type="button">
                                {{ relative_template.skill.add_label }}
                            </button>
                        </div>
                    {% endif %}
                </div>
                {# Skill Selection Template #}
                {# no-prefix marks that partials in this div aren't passed an id prefix. #}
                {# This is used in app.js individualizeFormIdsAndNames() to avoid overwriting :id in template id. #}
                <div class="no-prefix">
                    {% include "common/relatives" with {"template":true, "relativeToken": "skills", "prefix": id_prefix } %}
                </div>
                {# Skill List #}
                {% set relativeCounter = 0 %}
                <div class="profile-relative-list__wrapper">
                    {% for relative in sample.skill_declarations %}
                        {% set relativeCounter = relativeCounter + 1 %}
                        {% include "common/relatives" with {"relativeToken": "skills"} %}
                    {% endfor %}
                </div>
                {# Skill Null State #}
                <div class="profile-relative__add-trigger-wrapper">
                    {% if applicant.skill_declarations|length > 0 %}
                        {% if relativeCounter == 0 %}
                            <p class="profile-relative__null active" data-c-background="gray(20)" data-c-border="all(thin, solid, gray)" data-c-radius="rounded" data-c-margin="top(1)" data-c-padding="all(1)" data-c-align="base(center)" data-c-color="gray">You can attach this work sample as evidence for one of your skills using the button above.</p>
                        {% endif %}
                    {% else %}
                        <p class="profile-relative__null active" data-c-background="gray(20)" data-c-border="all(thin, solid, gray)" data-c-radius="rounded" data-c-margin="top(1)" data-c-padding="all(1)" data-c-align="base(center)" data-c-color="gray">{{ relative_template.skill.null_copy }}</p>
                    {% endif %}
                </div>
            </div>
            {# Skill Action Buttons #}
            <hr data-c-hr="thin(gray)">
            <div data-c-padding="all(1)">
                <div data-c-grid="gutter(all, 1)">
                    <div data-c-grid-item="base(1of1) pl(1of2)" data-c-align="base(center) pl(left)">
                        <button class="modal-trigger" data-modal-id="deleteSample" data-c-button="outline(stop)" data-c-radius="rounded" type="button">
                            <span>{{ sample_template.action_01 }}</span>
                        </button>
                    </div>
                    <div data-c-grid-item="base(1of1) pl(1of2)" data-c-align="base(center) pl(right)">
                        <button data-c-button="solid(c1)" data-c-radius="rounded" name="submit" type="submit" value="{{ name_prefix }}">
                            <span>
                                <span class="submit-default">{{ sample_template.action_02 }}</span>
                                <span class="submit-working">{{ sample_template.action_02_working }}</span>
                                <span class="submit-saved">{{ sample_template.action_02_saved }}</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
