{# =============================================================================

    Talent Cloud
    Account Settings

============================================================================= #}
{% extends "layouts/base" %}
{% block title %}
    {{ settings.title }}
{% endblock %}
{% block body %}
    {# FIP Banner #}
    {% include "common/goc" %}
    {# BETA Alert Banner #}
    {% include "common/alert" %}
    <a id="skipLink"></a>
    <div data-clone>
        {# Page Header #}
        <header class="hero" data-c-overlay="black(90)" data-c-padding="tb(triple)" data-c-align="base(center) tp(left)" style="background-image: url('/images/bg_crowd.jpg');">
            <div data-c-container="large">
                <h1 class="logotype" data-c-font-size="h1" data-c-font-weight="600" data-c-color="white" data-c-margin="bottom(double)">
                    {{ settings.title }}
                </h1>
                <div data-c-color="white">
                    {# DEV: replace with breadcrumb component #}
                    <nav aria-label="breadcrumb" data-c-breadcrumbs>
                        <ol>
                            <li>
                                <a href="/" title="This is the title of the page link.">Talent Cloud</a>
                                <i class="fas fa-caret-right"></i>
                            </li>
                            <li>
                                <span aria-current="page">My Account</span>
                                <i class="fas fa-caret-right"></i>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </header>
        {# Page Container #}
        <div data-c-container="large">
            <div data-c-grid="gutter">
                {# Sidebar #}
                <div data-c-grid-item="tl(1of4) ds(1of5)" class="sidebar-wrapper">
                    <div class="clone-sidebar" data-c-padding="tb(triple)">
                        <span data-c-font-weight="bold" data-c-font-size="h4">{{ settings.sidebar_title }}</span>
                        <nav data-c-margin="top(normal)">
                            <ul>
                                <li><a href="#personal" title="">{{ settings.heading.personal }}</a></li>
                                {% if user.gov_email %}
                                <li><a href="#goc" title="">{{ settings.heading.goc }}</a></li>
                                {% endif %}
                                <li><a href="#password" title="">{{ settings.heading.password }}</a></li>
                                <li><a href="#auth" title="">{{ settings.heading.two_factor }}</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                {# Page Content #}
                <div data-c-grid-item="tl(3of4) ds(4of5)">
                    <div class="clone-sidebar-content" data-c-padding="bottom(triple)">
                    <form action="{{ route('settings.personal.update') }}" method="post">
                        {{ csrf_field() }}
                            {% include "errors/form_errors" %}
                            <h2 data-c-margin="bottom(normal)" data-c-padding="top(triple)" data-c-font-size="h2" id="personal">{{ settings.heading.personal }}</h2>
                            <p data-c-margin="bottom(double)">{{ settings.personal_copy }}</p>
                            <div data-c-grid="gutter">
                                <div data-c-grid-item="tp(1of2)" data-c-input="text">
                                    <label for="first_name">{{ settings.first_name_label }}</label>
                                    <span>{{ settings.required }}</span>
                                    <div>
                                        <input id="first_name" name="first_name" placeholder="e.g. Clark" required type="text" value="{{ user.first_name }}"/>
                                    </div>
                                    <span>{{ settings.error }}</span>
                                </div>
                                <div data-c-grid-item="tp(1of2)" data-c-input="text">
                                    <label for="last_name">{{ settings.last_name_label }}</label>
                                    <span>{{ settings.required }}</span>
                                    <div>
                                        <input id="last_name" name="last_name" placeholder="e.g. Kent" required type="text" value="{{ user.last_name }}"/>
                                    </div>
                                    <span>{{ settings.error }}</span>
                                </div>
                                <div data-c-grid-item="base(1of1)" data-c-input="email">
                                    <label for="email_address">{{ settings.email_label }}</label>
                                    <span>{{ settings.required }}</span>
                                    <div>
                                        <input id="email_address" name="email_address" placeholder="e.g. name@website.com" required type="email" value="{{ user.email }}"/>
                                    </div>
                                    <span>{{ settings.error }}</span>
                                </div>
                                <div data-c-grid-item="base(1of1)" data-c-align="base(center) tp(right)">
                                    <button data-c-button="outline(c1)" data-c-radius="rounded" type="submit" name="personal" >
                                        {{ settings.personal_save }}
                                    </button>
                                </div>
                            </div>
                        </form>
                        <hr data-c-margin="top(triple)">
                        {# GoC Account Info #}
                        {# DEV: this section should only appear for users who have visited the manager portal and completed the extra registration steps #}
                        {% if user.gov_email %}
                        <h2 data-c-margin="bottom(normal)" data-c-padding="top(triple)" data-c-font-size="h2" id="goc">{{ settings.heading.goc }}</h2>
                        <p data-c-margin="bottom(normal)">{{ settings.goc_copy }}</p>
                        <div data-c-grid="gutter">
                            <div
                                data-c-grid-item="base(1of1)">
                                <div data-c-alert="information" data-c-radius="rounded" role="alert" data-c-margin="bottom(normal)">
                                    <div
                                        data-c-padding="half">
                                        <p data-c-margin="bottom(half)" data-c-heading="h5" data-c-font-weight="bold">
                                            <i class="fas fa-exclamation-circle"></i>
                                            My current department: Treasury Board of Canada Secretariat
                                        </p>
                                        <p data-c-margin="bottom(half)">
                                            In order to change your department, you'll need to
                                            <a href="" title="">contact Talent Cloud</a>
                                            directly.
                                        </p>
                                        <p>We require you to get in touch because your department determines how you interact with job posters, applicants, and HR advisers. In order to have this information changed, we need to verify your department independently of the platform.</p>
                                    </div>
                                </div>
                            </div>
                            <div data-c-grid-item="base(1of1)" data-c-input="email">
                                <label for="gov_email">{{ settings.gov_email_label }}</label>
                                <span{{ settings.required }}</span>
                                <div>
                                    <input id="gov_email" name="gov_email" placeholder="e.g. first.last@canada.ca" required type="email"/>
                                </div>
                                <span>{{ settings.error }}</span>
                            </div>
                            <div data-c-grid-item="base(1of1)" data-c-align="base(center) tp(right)">
                                <button data-c-button="outline(c1)" data-c-radius="rounded">
                                    {{ settings.goc_save }}
                                </button>
                            </div>
                        </div>
                        <hr data-c-margin="top(triple)">
                        {% endif %}

                        {# Password Reset #}
                        <form action="{{ route('settings.password.update') }}" method="post">
                        {{ csrf_field() }}
                            <h2 data-c-margin="bottom(normal)" data-c-padding="top(triple)" data-c-font-size="h2" id="password">{{ settings.heading.password }}</h2>
                            <p data-c-margin="bottom(normal)">{{ settings.password_copy.p1 }}</p>
                            <ul data-c-margin="bottom(double)">
                                <li>{{ settings.password_copy.li1 }}</li>
                                <li>{{ settings.password_copy.li2 }}</li>
                                <li>{{ settings.password_copy.li3 }}</li>
                                <li>{{ settings.password_copy.li4 }}</li>
                            </ul>
                            <div data-c-grid="gutter">
                                <div data-c-grid-item="base(1of1)" data-c-input="password">
                                    <label for="current_password">{{ settings.password_label }}</label>
                                    <span>{{ settings.required }}</span>
                                    <div>
                                        <input id="current_password" name="current_password" required type="password" value="" autocomplete="off"/>
                                        <button type="button">
                                            <i class="fas fa-eye"></i>
                                            <i class="fas fa-eye-slash"></i>
                                        </button>
                                    </div>
                                    <span>{{ settings.error }}</span>
                                </div>
                                <div data-c-grid-item="tp(1of2)" data-c-input="password">
                                    <label for="new_password">{{ settings.new_password_label }}</label>
                                    <span>{{ settings.required }}</span>
                                    <div>
                                        <input id="new_password" name="new_password" required type="password" autocomplete="off"/>
                                        <button type="button">
                                            <i class="fas fa-eye"></i>
                                            <i class="fas fa-eye-slash"></i>
                                        </button>
                                    </div>
                                    <span>{{ settings.error }}</span>
                                </div>
                                <div data-c-grid-item="tp(1of2)" data-c-input="password">
                                <label for="new_confirm_password">{{ settings.confirm_password_label }}</label>
                                    <span>{{ settings.required }}</span>
                                    <div>
                                    <input id="new_confirm_password" name="new_confirm_password" required type="password" autocomplete="off"/>
                                        <button type="button">
                                            <i class="fas fa-eye"></i>
                                            <i class="fas fa-eye-slash"></i>
                                        </button>
                                    </div>
                                    <span>{{ settings.error }}</span>
                                </div>
                                <div data-c-grid-item="base(1of1)" data-c-align="base(center) tp(right)">
                                    <button data-c-button="outline(c1)" data-c-radius="rounded" type="submit" name="password">
                                        {{ settings.password_save }}
                                    </button>
                                </div>
                            </div>
                        </form>

                        {# 2FA #}

                        <hr data-c-margin="top(triple)">
                        <h2 data-c-margin="bottom(normal)" data-c-padding="top(triple)" data-c-font-size="h2" id="auth">{{ settings.heading.two_factor }}</h2>
                        <p data-c-margin="bottom(normal)">{% if user.google2fa_secret %}{{ settings.two_factor_active }}{% else %}{{ settings.two_factor_description }}{% endif %}</p>
                        <div data-c-grid="gutter middle">
                        {% if not user.google2fa_secret %}
                            <div data-c-grid-item="tp(1of2)" data-c-align="base(center) tp(left)">
                                <p data-c-font-size="h4" data-c-font-weight="bold">{{ settings.two_factor_status }}
                                    <span data-c-color="stop">{{ settings.two_factor_off }}</span>
                                </p>
                            </div>
                            <div data-c-grid-item="tp(1of2)" data-c-align="base(center) tp(right)">
                                <a href="{{ route('two_factor.activate') }}" data-c-button="outline(c1)" data-c-radius="rounded" data-c-dialog-id="example-dialog-01" data-c-dialog-action="open" type="submit">
                                        {{ settings.two_factor_button_text }}
                                </a>
                            </div>

                            {% else %}

                            {# DEV: This is an example of what the auth section should like when 2FA is turned on. I know there was discussion around not showing recovery codes to the user, so if this is best practice, we can just add a blurb here instead of the accordion. #}

                            <div data-c-grid-item="tp(1of2)" data-c-align="base(center) tp(left)">
                                <p data-c-font-size="h4" data-c-font-weight="bold">{{ settings.two_factor_status }}
                                    <span data-c-color="go">{{ settings.two_factor_on }}</span>
                                </p>
                            </div>

                            <div data-c-grid-item="tp(1of2)" data-c-align="base(center) tp(right)">
                                <form action="{{ route('two_factor.deactivate') }}" method="POST">
                                {{ csrf_field() }}
                                    <button data-c-button="outline(c3)" data-c-radius="rounded" data-c-dialog-id="example-dialog-01" data-c-dialog-action="open" type="submit">
                                        {{ settings.two_factor_deactivate }}
                                    </button>
                                </form>
                            </div>


                            {# 2FA Recovery #}
                            <div data-c-grid-item="base(1of1)">
                                <div data-c-accordion-group data-c-margin="top(normal)">
                                    <div data-c-accordion data-c-background="white(100)" data-c-radius="rounded">
                                        <button data-c-background="c1(100)" aria-expanded="false" data-c-accordion-trigger tabindex="0" type="button">
                                            <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                                                <p data-c-heading="h4" data-c-font-weight="bold" data-c-color="white">
                                                    {{ settings.two_factor_recovery_text }} <a href="{{ route('recovery_codes.show') }}">{{ settings.view_recovery_codes }}</a>.
                                                </p>
                                            </div>
                                            <span data-c-visibility="invisible">
                                                Click to view...
                                            </span>
                                            <i class="fas fa-plus-circle" data-c-accordion-add data-c-colour="white"></i>
                                            <i class="fas fa-minus-circle" data-c-accordion-remove data-c-colour="white"></i>
                                        </button>
                                        <div aria-hidden="true" data-c-accordion-content data-c-padding="right(normal) left(normal)" data-c-background="gray(10)">
                                            <div data-c-padding="bottom(normal)">
                                                <ul data-c-padding="top(normal)">
                                                    <li>12345-12345-12345</li>
                                                    <li>12345-12345-12345</li>
                                                    <li>12345-12345-12345</li>
                                                    <li>12345-12345-12345</li>
                                                    <li>12345-12345-12345</li>
                                                    <li>12345-12345-12345</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}