{# =============================================================================

    Talent Cloud
    Skill

============================================================================= #}
{% if prefix %}
    {% set name_prefix = prefix ~ "[skill_declarations][:template][:skill_type][:id]"|replace({":skill_type": skillType ? skillType:"all_types"}) %}
    {% set id_prefix = name_prefix %}
{% else %}
    {% set name_prefix = "skill_declarations[:template][:skill_type][:id]"|replace({":skill_type": skillType ? skillType:"all_types"}) %}
    {% set id_prefix = name_prefix %}
{% endif %}

{% if locale=="application" %}
    {# application skills will never be templates. #}
    {# New items should index themselves by criterion_id #}
    {% if skill_declaration %}
        {% set name_prefix = name_prefix|replace({":template":"old", ":id":skill_declaration.id}) %}
        {% set id_prefix = id_prefix|replace({":template":"old", ":id":skill_declaration.id}) %}
    {% else %}
        {% set name_prefix = name_prefix|replace({":template":"new", ":id":criterion.id}) %}
        {% set id_prefix = id_prefix|replace({":template":"new", ":id":criterion.id}) %}
    {% endif %}
{% else %}
    {# on non-application locale, if skill_declaration isn't set this is a template #}
    {% if skill_declaration %}
        {% set name_prefix = name_prefix|replace({":template":"old", ":id":skill_declaration.id}) %}
        {% set id_prefix = id_prefix|replace({":template":"old", ":id":skill_declaration.id}) %}
    {% endif %}
{% endif %}

{# NOTE: AJAX Form Submission #}
{#
    This template contains a form meant to be submitted through AJAX. A number
     of elements make this work.
    First, the parent div must have the class 'ajax-form', which triggers the
     js handlers.
    This parent div mus also have the following data- attributes:
        data-item-saved: this should be "true" if this item is represented on
         server, and empty otherwise. (NOTE that the string "false" still
         evaluates to True in js because it is not empty.)
        data-item-url: this should be the api url for this resource. A POST to
         this url should create a resource, a PUT to 'url/id' should update
         the resource with that id, and a DELETE to 'url/id' should delete the
         resource.
        data-item-id: if data-item-saved is True, this must be the primary id
         of the resource according to the server. Otherwise, it is ignored.

        NOTE: data-item-saved and data-item-id are modified by javascript when
         the item is saved with AJAX

    Any element with the class "remove-on-save" will be removed from the DOM
     when the form is successfully submitted.
    Any element with the class "reveal-on-save" will have the "hidden" class
     removed when the form is successfully submitted.

    Add an empty div with the "form-error" to contain errors returned by the
     server. NOTE: the contents of this div will be removed on successful
     submission.

    The 'skill' class in the parent div is used to determine that skill-specific
     logic should run when this item is saved. (Updating the UI.)

    HTML Form Fallback:
        A few features make this form work even when Javascript is disabled,
         though less elegantly.
        The form element 'action' attribute is set by the template to be correct
         whether this item exists on the server yet or not.
        Similarly, a hidden input field named "_method" allows the server to
         treat the form request as a PUT request if appropriate.
        NOTE: Errors from an HTML form request will not display within the
         "form-error" element. The 'form_errors' template should still be
         included somewhere on the page that contains this template.

#}
<div
    class="profile-element accordion skill ajax-form
        {% if locale == "profile" and skill_declaration == false %}template active{% endif %}
        {% if locale == "application" and application_step == "3" and criterion == false %}template{% endif %}
        {% if locale == "application" and application_step == "4" and criterion == false %}template{% endif %}
        {% if skill_declaration %}complete{% endif %}
        modal-target-object"

    data-item-saved="{{ skill_declaration ? "true" : "" }}"
    data-item-url="{{ route("skill_declarations.destroy", ":id") }}"
    data-item-id="{{ skill_declaration ? skill_declaration.id : 0 }}"
    >

    {# Accordion Trigger #}

        <button
            {% if skill_declaration == false %}
                aria-expanded="true"
            {% else %}
                aria-expanded="false"
            {% endif %}
            class="accordion-trigger"
            tabindex="0"
            type="button">

            {% if locale == "profile" %}

            {% else %}

                <span
                    class="accordion-status">

                    <i class="fas fa-check"></i>

                    <i class="fas fa-exclamation-circle"></i>

                </span>

            {% endif %}

            <span
                class="accordion-title">
                {% if locale == "profile" and skill_declaration == false %}
                    {{ skill_template.new_skill_title }}
                {% elseif locale == "profile" and skill_declaration == true %}
                    {{ skill_declaration.skill.name }}
                {% elseif locale == "application" %}
                    {{ criterion.skill.name }}
                    <span>{{ skill_template.skill_levels[criterion.skill.skill_type.name][criterion.skill_level.name]|title }} {{ skill_template.application_asset_requirement_label }}</span>
                {% elseif locale == "application-view" %}
                    {{ criterion.skill.name }}
                    <span>
                        {{ skill_template.skill_levels[criterion.skill.skill_type.name][criterion.skill_level.name]|title }} {{ skill_template.application_essential_requirement_label }}
                    </span>
                {% endif %}
            </span>

            <span class="invisible">{{ skill_template.accordion_sr_helper }}</span>

            {% if locale == "profile" and skill_declaration == true %}

                <span
                    class="skill-summary">

                    {% set type = skill_declaration.skill.skill_type.name %}
                    {#
                    <span>{{ skill_template.skill_levels[type][skill_declaration.skill_level.name]|title }}</span> | <span>{{ skill_template.status[skill_declaration.skill_status.name] }}</span> | <span><i class="fas fa-users"></i> {{ skill_declaration.references|length }}</span> | <span><i class="fas fa-briefcase"></i> {{ skill_declaration.work_samples|length }}</span>
                    #}
                </span>

            {% endif %}

            <i class="fas fa-chevron-up"></i>

        </button>

    {# Accordion Content #}

        <div
            {% if skill_declaration == false %}
                aria-hidden="false"
            {% else %}
                aria-hidden="true"
            {% endif %}
            class="accordion-content">

            <form
            action="{{ skill_declaration ? route("skill_declarations.update", skill_declaration) : route("skill_declarations.create") }}"
            method="POST">

                {% if locale == "application-view" %}

                    <div
                        class="profile-element__preview flex-grid">

                        <div
                            class="box full">

                            <p>
                                {% if criterion.description == false %}
                                    {{ criterion.skill.description|nl2br }}
                                {% else %}
                                    {{ criterion.description|nl2br }}
                                {% endif %}
                            </p>

                        </div>

                        <div
                            class="box full">

                            {% if skill_declaration == false %}
                                <span>{{ skill_template.skill_status_null_label }}</span>
                            {% else %}
                                <span>{{ skill_template.skill_status_label }}{{ skill_template.status[skill_declaration.skill_status.name] }}</span>
                            {% endif %}

                        </div>

                        <div
                            class="box med-1of2">

                            <span>
                                {{ skill_template.level_label }}
                            </span>

                            <p>

                                {% if skill_declaration == false %}
                                    {{ skill_template.skill_level_null }}
                                {% else %}
                                    {% for level in skill_levels %}
                                        {% if skill_declaration.skill_level.id == level.id %}
                                            {{ skill_template.skill_levels[skillType][level.name] }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                            </p>

                        </div>

                        <div
                            class="box full">

                            <span>
                                {{ skill_template.knowledge_label }}
                            </span>

                            <p>
                                {% if skill_declaration == false %}
                                    {{ skill_template.skill_description_null }}
                                {% else %}
                                    {{ skill_declaration.description|nl2br }}
                                {% endif %}
                            </p>

                        </div>

                        {# References #}

                            {% if skill_declaration == true %}

                                {% if skill_declaration.references is empty %}

                                {% else %}

                                    <div
                                        class="box full">

                                        <span
                                            class="profile-relative-list__label">
                                            <i class="fas fa-users"></i> {{ relative_template.reference.title }}
                                        </span>

                                        {% for relative in skill_declaration.references %}

                                            <div
                                                class="profile-relative__reference">

                                                <p
                                                    class="profile-relative__reference-name">{{ relative.name }}</p>

                                                <p>{{ relative.email }}</p>

                                                <p>{{ relative.relationship.name|title }}</p>

                                                <p>{{ relative.description|nl2br }}</p>

                                                <div
                                                    class="flex-grid">

                                                    {% for project in relative.projects %}

                                                        <div class="box small-1of2">
                                                            <p>{{ project.name }}</p>
                                                        </div>

                                                        <div class="box small-1of4">
                                                            <p>{{ project.start_date }}</p>
                                                        </div>

                                                        <div class="box small-1of4">
                                                            <p>{{ project.end_date }}</p>
                                                        </div>

                                                    {% endfor %}

                                                </div>

                                            </div>

                                        {% endfor %}

                                    </div>

                                {% endif %}

                            {% endif %}

                        {# Work Samples #}

                            {% if skill_declaration == true %}

                                {% if skill_declaration.work_samples is empty %}

                                {% else %}

                                    <div
                                        class="box full">

                                        <span
                                            class="profile-relative-list__label">
                                            <i class="fas fa-users"></i> {{ relative_template.sample.title }}
                                        </span>

                                        {% for relative in skill_declaration.work_samples %}

                                            <div
                                                class="profile-relative__sample">

                                                <p
                                                    class="profile-relative__sample-name">{{ relative.name }}</p>

                                                <p>{{ relative.file_type.name|title }}</p>

                                                <p>{{ relative.url }}</p>

                                                <p>{{ relative.description|nl2br }}</p>

                                            </div>

                                        {% endfor %}

                                    </div>

                                {% endif %}

                            {% endif %}

                    </div>

                {% else %}

                    {# Builds an input field for CSRF token validation #}
                    {{ csrf_field() }}

                    <input name="_method" type="hidden" value="{{ skill_declaration ? "PUT" : "POST" }}">

                    <div
                        class="form__wrapper">

                        <div
                            class="flex-grid">

                            {# Holds errors from ajax form submission #}
                            <div class="form-error box"></div>

                            {# Profile Template Specific Content #}

                                {% if locale == "profile" and skill_declaration == false %}

                                    <div
                                        class="box full remove-on-save">

                                        <div
                                            class="form__input-wrapper--select">
                                            <label
                                                class="form__label"
                                                for="{{ id_prefix }}skillSelection">
                                                {{ skill_template.skill_selection_label }}
                                            </label>
                                            <div
                                                class="form__select-wrapper fas fa-chevron-down">
                                                <select
                                                    class="form__input"
                                                    id="{{ id_prefix }}skillSelection"
                                                    name="skill_id"
                                                    required>
                                                    <option value="" disabled selected>{{ skill_template.skill_selection_default_option }}</option>
                                                    {% for skill in skills %}

                                                        {% if skillType == skill.skill_type.name %}

                                                            {% set declarationStatus = false %}

                                                            {% for declaration in applicant.skill_declarations %}

                                                                {% if declaration.skill_id == skill.id %}

                                                                    {% set declarationStatus = true %}

                                                                {% endif %}

                                                            {% endfor %}

                                                            {% if declarationStatus == false %}

                                                               <option value="{{ skill.id }}">{{ skill.name }}</option>

                                                            {% endif %}

                                                        {% endif %}

                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div
                                        class="box full">
                                        {# Tristan, this is where we need to dynamically load the skill's description. #}
                                        <p
                                            class="skill__description">{{ skill_declaration.skill.description|nl2br }}</p>

                                        <p
                                            class="skill__status reveal-on-save hidden">{{ skill_template.skill_status_label }} <span class="skill__status--level"></span></p>
                                    </div>

                                {% endif %}

                            {# Profile Skill Description Matching #}

                                {% if locale == "profile" and skill_declaration %}

                                    <div
                                        class="box full">
                                        <p
                                            class="skill__description">{{ skill_declaration.skill.description|nl2br }}</p>
                                        <p
                                            class="skill__status">{{ skill_template.skill_status_label }} {{ skill_template.status[skill_declaration.skill_status.name] }}</p>
                                    </div>

                                    <input
                                        type='hidden'
                                        name='skill_declaration_id'
                                        value={{ skill_declaration.id }} />

                                {% endif %}

                            {# Application Skill Description #}

                                {% if locale == "application" %}

                                    <div
                                        class="box full">

                                            <p
                                                class="skill__description">{{ criterion.skill.description|nl2br }}</p>


                                        {% if skill_declaration == true %}
                                            <p
                                                class="skill__status">{{ skill_template.skill_status_label }} {{ skill_template.status[skill_declaration.skill_status.name] }}</p>

                                            <input
                                                type='hidden'
                                                name='skill_declaration_id'
                                                value={{ skill_declaration.id }} />
                                        {% else %}

                                            <input
                                                type='hidden'
                                                name='skill_id'
                                                value={{ criterion.skill.id }} />

                                        {% endif %}

                                    </div>

                                {% endif %}

                            {# Skill Form Elements #}

                                <div
                                    class="box full">

                                    <div
                                        aria-orientation="horizontal"
                                        class="form__radio-group"
                                        role="radiogroup">

                                        <div class="flex-grid space-between">
                                            <label
                                                class="form__label">
                                                {{ skill_template.level_label }}
                                            </label>
                                            <a
                                                href="/faq#levels"
                                                title="{{ skill_template.level_link_title }}"
                                                target="_blank">
                                                {{ skill_template.level_link_label }}
                                            </a>
                                        </div>

                                        <div class="flex-grid">

                                            {% set counter = 0 %}

                                            {% for level in skill_levels %}

                                                {% set counter = counter + 1 %}

                                                <label
                                                    class="box form__radio-group-label small-1of{{ skill_template.skill_levels[skillType]|length }}"
                                                    for="{{ id_prefix }}skillLevel_{{ counter }}">
                                                    <span
                                                        class="hidden">
                                                        {{ skill_template.skill_levels[skillType][level.name] }}
                                                    </span>
                                                    <input
                                                        class="form__radio-group-input"
                                                        id="{{ id_prefix }}skillLevel_{{ counter }}"
                                                        name="skill_level_id"
                                                        type="radio"
                                                        value="{{ level.id }}"
                                                        required
                                                        {% if skill_declaration.skill_level.id == level.id %}
                                                            checked
                                                        {% endif %}>
                                                    <span
                                                        class="form__radio-group-span">
                                                        {{ skill_template.skill_levels[skillType][level.name] }}
                                                    </span>
                                                </label>

                                            {% endfor %}

                                        </div>

                                    </div>

                                </div>

                                <div
                                    class="box full">

                                    <div class="skill-textarea-label box inline-right">
                                        <button
                                            data-c-dialog-id="skill-info-modal"
                                            data-c-dialog-action="open"
                                            class="skill-context-button"
                                            type="button">
                                            {{ skill_template.knowledge_link_label }}
                                        </button>
                                    </div>

                                    <div
                                        class="form__input-wrapper--float {% if skill_declaration.description != null %}active{% endif %}">

                                        <label
                                            class="form__label"
                                            for="{{ id_prefix }}skillDescription">
                                            {{ skill_template.knowledge_label }}
                                        </label>

                                        <textarea
                                            class="form__textarea"
                                            id="{{ id_prefix }}skillDescription"
                                            name="description"
                                            required
                                            >{{ skill_declaration.description }}</textarea>

                                    </div>

                                    {% if skill_declaration.description  %}
                                    <div class="skill-textarea-prompt box">
                                        <p>{{ skill_template.knowledge_prompt }}</p>
                                    </div>
                                    {% endif %}


                                    {# Word Counter #}
                                    {# <div
                                        data-word-counter-id={{ "#{id_prefix}skillDescription"|json_encode() }}
                                        data-max-words={{ "80"|json_encode()  }}
                                        data-min-words={{ "20"|json_encode()  }}
                                        >
                                    </div> #}
                                </div>

                        </div>

                        {# Relatives (References) #}

                            <div
                                class="profile-relative-list">

                                {# Relative List Title & Creation Trigger #}

                                    <div
                                        class="profile-relative-list__header flex-grid middle">

                                        <div
                                            class="box small-1of2">

                                            <span
                                                class="profile-relative-list__label">
                                                <i class="fas fa-users"></i> {{ relative_template.reference.title }}
                                            </span>

                                        </div>

                                        <div
                                            class="box small-1of2">

                                        {# Create Reference Modals not ready yet
                                        <button
                                            class="modal-trigger"
                                            data-modal-id="createReference"
                                            title="{{ relative_template.reference.create_title }}"
                                            type="button">

                                            {{ relative_template.reference.create_label }}
                                        </button>
                                        #}

                                        </div>

                                    </div>

                                {# Relative Template #}

                                {# no-prefix marks that partials in this div aren't passed an id prefix. #}
                                {# This is used in app.js individualizeFormIdsAndNames() to avoid overwriting :id in template id. #}
                                <div class="no-prefix">
                                    {% set relativeToken = "references" %}

                                    {% include "common/relatives" with {"template":true, "prefix": id_prefix } %}
                                </div>

                                {# Relative List #}

                                    {% set relativeCounter = 0 %}

                                    <div
                                        class="profile-relative-list__wrapper">

                                        {% for relative in skill_declaration.references %}

                                            {% set relativeCounter = relativeCounter + 1 %}

                                            {% include "common/relatives" %}

                                        {% endfor %}

                                    </div>

                                {# Add Relative Trigger #}

                                    <div
                                        class="profile-relative__add-trigger-wrapper">

                                        {% if applicant.references|length > 0 %}
                                            <button
                                                class="profile-relative__add-trigger"
                                                type="button">
                                                {{ relative_template.reference.add_label }}
                                            </button>
                                        {% else %}
                                            <p
                                                class="profile-relative__null">
                                                {{ relative_template.reference.null_copy }}
                                            </p>
                                        {% endif %}

                                    </div>

                            </div>

                        {# Relatives (Work Samples) #}

                            <div
                                class="profile-relative-list">

                                {# Relative List Title & Creation Trigger #}

                                    <div
                                        class="profile-relative-list__header flex-grid middle">

                                        <div
                                            class="box small-1of2">

                                            <span
                                                class="profile-relative-list__label">
                                                <i class="fas fa-briefcase"></i> {{ relative_template.sample.title }}
                                            </span>

                                        </div>

                                        <div
                                            class="box small-1of2">

                                        {# Create Sample Modals not ready yet
                                        <button
                                            class="modal-trigger"
                                            data-modal-id="createSample"
                                            title="{{ relative_template.sample.create_title }}"
                                            type="button">

                                            {{ relative_template.sample.create_label }}

                                        </button>
                                        #}

                                        </div>

                                    </div>

                                {# Relative Template #}

                                    {% set relativeToken = "samples" %}

                                {# no-prefix marks that partials in this div aren't passed an id prefix. #}
                                {# This is used in app.js individualizeFormIdsAndNames() to avoid overwriting :id in template id. #}
                                <div class="no-prefix">
                                    {% include "common/relatives" with {"template":true, "prefix": id_prefix } %}
                                </div>

                                {# Relative List #}

                                    {% set relativeCounter = 0 %}

                                    <div
                                        class="profile-relative-list__wrapper">

                                        {% for relative in skill_declaration.work_samples %}

                                            {% set relativeCounter = relativeCounter + 1 %}

                                            {% include "common/relatives" %}

                                        {% endfor %}

                                    </div>

                                {# Add Relative Trigger #}

                                    <div
                                        class="profile-relative__add-trigger-wrapper">

                                        {% if applicant.work_samples|length > 0 %}
                                            <button
                                                class="profile-relative__add-trigger"
                                                type="button">
                                                {{ relative_template.sample.add_label }}
                                            </button>
                                        {% else %}
                                            <p
                                                class="profile-relative__null">
                                                {{ relative_template.sample.null_copy }}
                                            </p>
                                        {% endif %}

                                    </div>

                            </div>

                    </div>

                    <div
                        class="accordion-actions flex-grid">

                        <div
                            class="box med-1of2">

                            {% if locale != "application" %}
                                <button
                                    class="button--red light-bg modal-trigger"
                                    data-modal-id="deleteSkill"
                                    type="button">
                                    {{ skill_template.action_01 }}
                                </button>
                            {% endif %}

                        </div>

                        <div
                            class="box med-1of2">
                            <button
                                class="button--blue light-bg"
                                name="submit"
                                type="submit"
                                value="{{ name_prefix }}">
                                <span class="submit-default">{{ skill_template.action_02 }}</span>
                                <span class="submit-working">{{ skill_template.action_02_working }}</span>
                                <span class="submit-saved">{{ skill_template.action_02_saved }}</span>
                            </button>
                        </div>

                    </div>

                {% endif %}

            </form>

        </div>

</div>
