{% extends "layouts/base" %}

{% block title %}

    {{ itp.page_title }}

{% endblock %}

{% block body %}

    {# Sitewide Notice ====================================================== #}
    {% include "common/alert" %}

    {# Government of Canada Banner ========================================== #}
    {% include "common/goc" %}

    <div data-clone>
        <div
            data-c-background="white(100)">
            {# ITP Heading ================================================== #}
            <header data-c-alignment="center" data-c-overlay="black(80)" data-c-padding="bottom(triple)" style="background-image: url('/images/bg-mountains.jpg');">
                {% include "common/menu" %}
                <div data-c-container="layout">
                    <h1 data-c-colour="white" data-c-font-size="h1" data-c-font-weight="700" data-c-margin="top(triple) bottom(normal)">{{ itp.itp_hero.title }}<img alt="Canadian Maple Leaf" class="hero-icon" src="/images/maple-leaf.svg"></h1>
                    <p data-c-colour="white" data-c-margin="bottom(triple)">{{ itp.itp_hero.subtitle }}</p>
                    <span data-c-colour="white" data-c-font-weight="800">{{ itp.itp_hero.pilot }}</span>
                </div>
            </header>
            {# CTA Statement Banner ========================================= #}
            <div class="gradient-left-right" data-c-padding="normal">
                <div data-c-alignment="center" data-c-container="layout">
                    <p data-c-colour="white" data-c-margin="top(half) bottom(half)">{{ itp.itp_slogan }}</p>
                </div>
            </div>
            {# Why, When, What ============================================== #}
            <div class="itp-why">
                <div data-c-container="layout">
                    <div
                        data-c-grid="gutter">
                        {# Why & When --------------------------------------- #}
                        <div data-c-grid-item="equal-col tl(2of5)">
                            <div data-c-padding="top(triple) bottom(triple)">
                                <div class="itp-why-background"></div>
                                <div>
                                    <h2 data-c-font-size="h2" data-c-margin="bottom(normal)">{{ itp.itp_how.title_01 }}</h2>
                                    <h3 data-c-colour="c3" data-c-font-size="h3" data-c-font-weight="700" data-c-margin="top(double) bottom(normal)">{{ itp.itp_how.subtitle_01 }}</h3>
                                    <p data-c-margin="bottom(normal)">{{ itp.itp_how.copy_01 }}</p>
                                    <p>{{ itp.itp_how.copy_02 }}</p>
                                    <h3 data-c-colour="c3" data-c-font-size="h3" data-c-font-weight="700" data-c-margin="top(double) bottom(normal)">{{ itp.itp_how.subtitle_02 }}</h3>
                                    <p>{{ itp.itp_how.copy_03 }}</p>
                                    <h2 data-c-font-size="h2" data-c-margin="top(double) bottom(normal)">{{ itp.itp_when.title_01 }}</h2>
                                    <h3 data-c-colour="c3" data-c-font-size="h3" data-c-font-weight="700" data-c-margin="top(double) bottom(normal)">{{ itp.itp_when.subtitle_01 }}</h3>
                                    <p>{{ itp.itp_when.copy_01 }}</p>
                                </div>
                            </div>
                        </div>
                        {# What --------------------------------------------- #}
                        <div data-c-grid-item="equal-col tl(3of5)">
                            <div data-c-padding="top(triple) bottom(triple)">
                                <div>
                                    <h2 data-c-font-size="h2" data-c-margin="bottom(double)">
                                        {{ itp.itp_what.title_01 }}
                                    </h2>
                                    <div data-c-alert="information" data-c-radius="rounded" role="alert">
                                        <div data-c-padding="half">
                                            <span data-c-font-weight="bold" data-c-heading="h5" data-c-margin="bottom(quarter)">
                                                <i aria-hidden="true" class="fa fa-star"></i>
                                                {{ itp.itp_what.alert_title }}
                                            </span>
                                            <p>
                                                {{ itp.itp_what.alert_copy }}
                                            </p>
                                        </div>
                                    </div>
                                    <h3 data-c-font-size="h3" data-c-font-weight="700" data-c-margin="top(double) bottom(normal)">{{ itp.itp_what.subtitle_01 }}</h3>
                                    <ul>
                                        {% for item in itp.itp_what.tc_list %}
                                            <li>{{ item }}</li>
                                        {% endfor %}
                                    </ul>
                                    <h3 data-c-font-size="h3" data-c-font-weight="700" data-c-margin="top(double) bottom(normal)">{{ itp.itp_what.subtitle_02 }}</h3>
                                    <ul>
                                        {% for item in itp.itp_what.partner_list %}
                                            <li>{{ item }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# Who ========================================================== #}
            <div data-c-overlay="black(80)" data-c-padding="top(triple) bottom(triple)" style="background-image: url('/images/kz.png');">
                <div data-c-container="layout">
                    <h2 data-c-colour="white" data-c-font-size="h2" data-c-margin="bottom(normal)">
                        {{ itp.itp_who.title_01 }}
                    </h2>
                    <div data-c-grid="gutter">
                        <div data-c-grid-item="equal-col tl(3of5)">
                            <div data-c-background="white(100)" data-c-radius="rounded">
                                <div data-c-grid>
                                    <div class="itp-profile-photo" data-c-grid-item="tp(2of5)" data-c-overlay="white(0)" style="background-image: url('/images/profile-meagan.jpg');"></div>
                                    <div data-c-grid-item="tp(3of5)">
                                        <div data-c-background="white(100)" data-c-padding="all(double)">
                                            <h3 data-c-colour="c3" data-c-font-size="h3" data-c-font-weight="700" data-c-margin="bottom(normal)">
                                                {{ itp.itp_who.subtitle_01 }}
                                            </h3>
                                            <p data-c-font-weight="700" data-c-margin="bottom(normal)">
                                                {{ itp.itp_who.copy_01 }}
                                            </p>
                                            <p>{{ itp.itp_who.copy_02 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-c-grid-item="equal-col tl(2of5)">
                            <div data-c-background="c2(100)" data-c-padding="all(double)" data-c-radius="rounded">
                                <h3 data-c-colour="white" data-c-font-size="h3" data-c-font-weight="700" data-c-margin="bottom(normal)">
                                    {{ itp.itp_who.subtitle_02 }}
                                </h3>
                                <p data-c-colour="white" data-c-margin="bottom(normal)">
                                    {{ itp.itp_who.copy_03 }}
                                </p>
                                <p data-c-colour="white" data-c-margin="bottom(normal)">
                                    {{ itp.itp_who.copy_04 }}
                                </p>
                                <hr data-c-margin="top(normal) bottom(normal)">
                                <div data-c-colour="white">
                                    <span data-c-colour="white">{{ itp.itp_who.connect }}</span>
                                    <a data-c-font-weight="700" href="{{ itp.itp_who.email_link }}" title="{{ itp.itp_who.email_title }}">{{ itp.itp_who.email_copy }}</a>
                                    <a data-c-font-weight="700" href="{{ itp.itp_who.twitter_link }}" title="{{ itp.itp_who.twitter_title }}">{{ itp.itp_who.twitter_copy }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# Goals, Approach, & Resources ================================= #}
            <div class="itp-goals">
                <div data-c-container="layout">
                    <div
                        data-c-grid="gutter">
                        {# Goals & Approach --------------------------------- #}
                        <div data-c-grid-item="equal-col tl(3of5)">
                            <div data-c-padding="top(triple) bottom(triple)">
                                <div>
                                    <h2 data-c-font-size="h2" data-c-margin="bottom(normal)">{{ itp.itp_goals.title_01 }}</h2>
                                    <p data-c-margin="bottom(normal)">{{ itp.itp_goals.copy_01 }}</p>
                                    <p>{{ itp.itp_goals.copy_02 }}</p>
                                    <h2 data-c-font-size="h2" data-c-margin="top(double) bottom(normal)">{{ itp.itp_goals.title_02 }}</h2>
                                    <p>{{ itp.itp_goals.copy_03 }}</p>
                                </div>
                            </div>
                        </div>
                        {# Resources ---------------------------------------- #}
                        <div data-c-grid-item="equal-col tl(2of5)">
                            <div data-c-padding="top(triple) bottom(triple)">
                                <div class="itp-goals-background"></div>
                                <div>
                                    <h2 data-c-font-size="h2" data-c-margin="bottom(normal)">{{ itp.itp_resources.title_01 }}</h2>
                                    <h3 data-c-colour="c3" data-c-font-size="h3" data-c-font-weight="700" data-c-margin="top(double) bottom(normal)">
                                        {{ itp.itp_resources.subtitle_01 }}
                                    </h3>
                                    {# Blog Posts #}
                                    {% for item in itp.itp_resources.posts %}
                                        <div data-c-margin="bottom(normal)">
                                            <h4 data-c-font-size="h4" data-c-font-weight="700">
                                                <a href="{{ item.link }}" title="{{ item.title }}">{{ item.copy }}</a>
                                            </h4>
                                            <span>{{ itp.itp_resources.posted_by }}</span>
                                        </div>
                                    {% endfor %}
                                    <h3 data-c-colour="c3" data-c-font-size="h3" data-c-font-weight="700" data-c-margin="top(double) bottom(normal)">
                                        {{ itp.itp_resources.subtitle_02 }}
                                    </h3>
                                    <ul>
                                        {% for item in itp.itp_resources.resources %}
                                            <li>
                                                <a href="{{ item.link }}" title="{{ item.title }}">{{ item.copy }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
