{# =============================================================================

    Talent Cloud
    Work

============================================================================= #}
<div
    class="profile-element accordion work {% if work == false %}template active{% endif %} modal-target-object"
    data-item-id="{{ work ? work.id : 0 }}">

    {% if work %}
        {% set name_suffix = "[old][:id]"|replace({":id":work.id}) %}
        {% set id_suffix = "_old_:id"|replace({":id":work.id}) %}
    {% else %}
        {% set name_suffix = "[:template]" %}
        {% set id_suffix = "_new" %}
    {% endif %}

    {# Accordion Trigger #}

        <div
            {% if work == false %}
                aria-expanded="true"
            {% else %}
                aria-expanded="false"
            {% endif %}
            class="accordion-trigger"
            tabindex="0">

            <span
                class="accordion-title">
                {% if work == false %}
                    {{ work_template.new_work_label }}
                {% else %}
                    {{ work.role }}, {{ work.company }}
                {% endif %}
            </span>

            <i class="fas fa-chevron-up"></i>

        </div>

    {# Accordion Content #}

        <div
            {% if work == false %}
                aria-hidden="false"
            {% else %}
                aria-hidden="true"
            {% endif %}
            class="accordion-content">

            <div
                class="form__wrapper">

                <div
                    class="flex-grid">

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float {% if work.role == true %}active{% endif %}">
                            <label
                                class="form__label"
                                for="workRole{{ id_suffix }}">
                                {{ work_template.role_label }}
                            </label>
                            <input
                                class="form__input"
                                id="workRole{{ id_suffix }}"
                                type="text"
                                name="work_role{{ name_suffix }}"
                                value="{{ work.role }}" />
                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--float {% if work.company == true %}active{% endif %}">
                            <label
                                class="form__label"
                                for="workCompany{{ id_suffix }}">
                                {{ work_template.company_label }}
                            </label>
                            <input
                                class="form__input"
                                id="workCompany{{ id_suffix }}"
                                type="text"
                                name="work_company{{ name_suffix }}"
                                value="{{ work.company }}" />
                        </div>

                    </div>

                    <div
                        class="box full">

                        <div
                            class="form__input-wrapper--float {% if work.description != null%}active{% endif %}">

                            <label
                                class="form__label"
                                for="workDescription{{ id_suffix }}">
                                {{ work_template.description_label }}
                            </label>

                            <textarea
                                class="form__textarea"
                                id="workDescription{{ id_suffix }}"
                                name="work_description{{ name_suffix }}">{{ work.description }}</textarea>

                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--date">

                            <label
                                class="form__label"
                                for="workStartDate{{ id_suffix }}">
                                {{ work_template.start_date_label }}
                            </label>

                            <input
                                class="form__input"
                                id="workStartDate{{ id_suffix }}"
                                type="date"
                                name="work_start_date{{ name_suffix }}"
                                value="{{ work.start_date|date("Y-m-d") }}">

                        </div>

                    </div>

                    <div
                        class="box med-1of2">

                        <div
                            class="form__input-wrapper--date">

                            <label
                                class="form__label"
                                for="workEndDate{{ id_suffix }}">
                                {{ work_template.end_date_label }}
                            </label>

                            <input
                                class="form__input"
                                id="workEndDate{{ id_suffix }}"
                                type="date"
                                name="work_end_date{{ name_suffix }}"
                                value="{{ work.end_date|date("Y-m-d") }}">

                        </div>

                    </div>

                </div>

            </div>

            <div
                class="accordion-actions flex-grid">

                <div
                    class="box med-1of2">
                    <button
                        class="button--red light-bg modal-trigger"
                        data-modal-id="deleteWork"
                        type="button">
                        {{ work_template.action_01 }}
                    </button>
                </div>

                <div
                    class="box med-1of2">
                    <button
                        class="button--blue light-bg"
                        type="submit"
                        name="submit"
                        value="work{{ name_suffix }}">
                        {{ work_template.action_02 }}
                    </button>
                </div>

            </div>

        </div>

</div>
