<div class="screening-plan modal-target-object"
    data-item-saved="true"
    data-item-url="{{ route("screening_plans.destroy", ":id") }}"
    data-item-id="{{ plan.id }}"
    >

    <div class="action-wrapper">

        <button
            class="screening-plan-action__copy"
            type="button">
            {{plan_l10n.copy}}
        </button>

        <button
            class="screening-plan-action__delete modal-trigger"
            data-modal-id="deleteScreeningPlan"
            type="button">
            {{plan_l10n.delete}}
        </button>

    </div>

    <h3 class="screening-plan-title">{{ plan_l10n.plan }}</h3>

    <p class="screening-plan-context"> {{ plan_l10n.colour_explanation | replace({":open_green_span":"<span class='green'>",":open_blue_span":"<span class='blue'>",":close_span":'</span>'})|raw }} </p>

    <div class="assessment-plan">

        <div class="assessment-summary">

            {% include "manager/components/assessment-summary" with { 'summary_l10n': plan_l10n.summary } %}

        </div>

    </div>

    <h3 class="screening-plan-title">{{ plan_l10n.essential_criteria }}</h3>

    <div class="criteria-grid">

        {% for criterion in job.criteria %}

            {% if criterion.criteria_type.name == "essential" %}

                {% include "manager/components/skill-assessment-preview" with { 'skill_l10n': plan_l10n.skill } %}

            {% endif %}

        {% endfor %}

    </div>

    <h3 class="screening-plan-title">{{ plan_l10n.asset_criteria }}</h3>

    <div class="criteria-grid">

        {% for criterion in job.criteria %}

            {% if criterion.criteria_type.name == "asset" %}

                {% include "manager/components/skill-assessment-preview" with { 'skill_l10n': plan_l10n.skill } %}

            {% endif %}

        {% endfor %}

    </div>

</div>

<div aria-hidden="true" class="plan-table">

    <table data-table-id="{{ plan.id }}">

        <thead>

            <tr class="plan-table__title">
                <td colspan="3"><h1>{{ job.title }}</h1></td>
            </tr>

            <tr class="plan-table__title">
                <td colspan="3"><h2>{{ plan_l10n.my_screening_plans }} (#{{ plan.id }})</h2></td>
            </tr>

        </thead>

        <tbody>

            <tr class="plan-table__section-title">
                <td colspan="3"><h3>{{ plan_l10n.plan }}</h3></td>
            </tr>

            <tr>
                <td>{{ plan_l10n.narrative_assessment }}</td>
                <td colspan="2">
                    <ul>
                        {% for criterion in job.criteria %}
                            <li>{{ criterion.skill.name }} ({% if criterion.criteria_type.name == "essential" %}Essential{% else %}Asset{% endif %}, {{ criterion.level_name|title }})</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>

            {% for assessment_type, skills in assessment_plans[plan.id] %}

                <tr>
                    <td>{{ assessment_type|title }}</td>
                    <td colspan="2">
                        <ul>
                            {% for skill in skills %}
                                {% for criterion in job.criteria %}
                                    {% if skill == criterion.skill.name %}
                                        <li>{{ skill }} ({% if criterion.criteria_type.name == "essential" %}Essential{% else %}Asset{% endif %}, {{ criterion.level_name|title }})</li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>

            {% endfor %}

            <tr class="plan-table__section-title">
                <td colspan="3"><h3>{{ plan_l10n.essential_criteria }}</h3></td>
            </tr>

            {% for criterion in job.criteria %}

                {% if criterion.criteria_type.name == "essential" %}

                    <tr>
                        <td>
                            <h4>{{ criterion.skill.name }}</h4>
                            {{ criterion.skill.description }}
                        </td>
                        <td>
                            <h4>{{ criterion.level_name|title }}</h4>
                            {{ criterion.level_description|nl2br }}
                        </td>
                        <td>
                            <h4>{{ plan_l10n.assessment_types }}</h4>
                            <ul>
                                <li>{{ plan_l10n.narrative_assessment_label }}</li>
                                {% for assessment in criterion.assessments.where("screening_plan_id", plan.id) %}
                                    <li>{{ assessment.assessment_type.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>

                {% endif %}

            {% endfor %}

            <tr class="plan-table__section-title">
                <td colspan="3"><h3>{{ plan_l10n.asset_criteria }}</h3></td>
            </tr>

            {% for criterion in job.criteria %}

                {% if criterion.criteria_type.name == "asset" %}

                    <tr>
                        <td>
                            <h4>{{ criterion.skill.name }}</h4>
                            {{ criterion.skill.description }}
                        </td>
                        <td>
                            <h4>{{ criterion.level_name|title }}</h4>
                            {{ criterion.level_description|nl2br }}
                        </td>
                        <td>
                            <h4>{{ plan_l10n.assessment_types_label }}</h4>
                            <ul>
                                <li>{{ plan_l10n.narrative_assessment_label }}</li>
                                {% for assessment in criterion.assessments.where("screening_plan_id", plan.id) %}
                                    <li>{{ assessment.assessment_type.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>

                {% endif %}

            {% endfor %}

        </tbody>

    </table>

</div>
