{% if prefix %}
    {% set name_prefix = prefix ~ "[assessment][:id]" %}
    {% set id_prefix = name_prefix %}
{% else %}
    {% set name_prefix = "assessment[:id]" %}
    {% set id_prefix = name_prefix %}
{% endif %}

{% if assessment %}
    {% set name_prefix = name_prefix|replace({":id":assessment.id}) %}
    {% set id_prefix = id_prefix|replace({":id":assessment.id}) %}
{% elseif item_id %}
    {% set name_prefix = name_prefix|replace({":id":item_id}) %}
    {% set id_prefix = id_prefix|replace({":id":item_id}) %}
{% endif %}

<div class="skill-assessment repeater-element {% if template == true %}template{% endif %}"
    data-item-id={% if assessment %}{{ assement.id }}{% elseif item_id %}{{ item_id }}{% endif %}
    >

    <div class="form__input-wrapper--select">

        <label
            class="form__label"
            for="{{ id_prefix }}assessmentType">
            {{ screening.interface.plan.assessment_selection_label }}
        </label>

        <div class="form__select-wrapper fas fa-chevron-down">
            <select
                class="form__input template-disabled"
                id="{{ id_prefix }}assessmentType"
                name="{{ name_prefix }}[assessment_type]"
                {% if template %}disabled{% endif %}
                >
                <option value="" disabled selected>Select an assessment...</option>
                {% for type in assessment_types %}
                    <option value={{ type.id }}>{{ type.name }}</option>
                {% endfor %}
            </select>
        </div>

    </div>

    <button
        class="remove-assessment-button remove-repeater-button"
        title="{{ screening.interface.plan.assessment_removal_title }}"
        type="button">
        {{ screening.interface.plan.assessment_removal_label }}
    </button>

</div>
