{% if prefix %}
    {% set name_prefix = prefix ~ "[criteria][:id]" %}
    {% set id_prefix = name_prefix %}
{% else %}
    {% set name_prefix = "criteria[:id]" %}
    {% set id_prefix = name_prefix %}
{% endif %}

{% if criterion %}
    {% set name_prefix = name_prefix|replace({":id":criterion.id}) %}
    {% set id_prefix = id_prefix|replace({":id":criterion.id}) %}
{% endif %}

<div class="skill-assessment-builder__item flex-grid top {% if template == true %}template{% endif %}">

    <div class="box full">
        <h4 class="skill-title">{{ criterion.skill.name }}</h4>
    </div>

    <div class="box small-1of5">
        <span class="skill-label">{{ skill_builder_l10n.description }}</span>
        <p>{{ criterion.skill.description }}</p>
    </div>

    <div class="box small-1of5">
        <span class="skill-label">{{ criterion.level_name|title }}</span>
        <p>{{ criterion.level_description|nl2br }}</p>
    </div>

    <div class="box small-3of5">

        <span class="skill-label">{{ skill_builder_l10n.assessment_types }}</span>

        <div class="flex-grid middle skill-assessment-wrapper repeater-list">

            {% include "manager/components/skill-assessment-select" with {"template": true, "prefix": name_prefix, 'select_l10n':screening_l10n.select } %}

            <div class="skill-assessment-list repeater-element-list">

                {% include "manager/components/skill-assessment-select" with {"item_id": 1, "prefix": name_prefix, 'select_l10n':screening_l10n.select} %}

            </div>

            <button
                class="add-assessment-button repeater-list__add-repeater-trigger"
                title="{{ skill_builder_l10n.add_assessment }}">
                <i class="fa fa-plus"></i>
            </button>

        </div>

    </div>

</div>
