{# =============================================================================

    Talent Cloud
    Applicant: Jobs - Post: Sidebar

============================================================================= #}
<div 
    class="job-poster__subnav-wrapper box lg-1of4">

    <nav 
        class="job-poster__subnav-sticky-wrapper">

        <span 
            class="job-poster__subnav-job-title">
            {{ job.title }}
        </span>

        <span 
            class="job-poster__subnav-department">
            {{ job.department }}
        </span>

        <h4 
            class="job-poster_subnav-label">
            {{ jobs_post.sidebar_label }}
        </h4>

        <a 
            class="job-poster__subnav-item"
            href="#basics"
            title="{{ jobs_post.basics.sidebar_title }}">
            {{ jobs_post.basics.title }}
        </a>

        <a 
            class="job-poster__subnav-item" 
            href="#impact"
            title="{{ jobs_post.impact.sidebar_title }}">
            {{ jobs_post.impact.title }}
        </a>

        <a 
            class="job-poster__subnav-item" 
            href="#work"
            title="{{ jobs_post.work.sidebar_title }}">
            {{ jobs_post.work.title }}
        </a>

        <a 
            class="job-poster__subnav-item"
            href="#criteria"
            title="{{ jobs_post.criteria.sidebar_title }}">
            {{ jobs_post.criteria.title }}
        </a>

        <a 
            class="job-poster__subnav-item" 
            href="#culture"
            title="{{ jobs_post.culture.sidebar_title }}">
            {{ jobs_post.culture.title }}
        </a>

        <a 
            class="job-poster__subnav-item"
            href="#know"
            title="{{ jobs_post.know.sidebar_title }}">
            {{ jobs_post.know.title }}
        </a>

        <a 
            class="job-poster__subnav-item"
            href="#apply"
            title="{{ jobs_post.apply.sidebar_title }}">
            {{ jobs_post.apply.title }}
        </a>

    </nav>

</div>