{# =============================================================================

    Talent Cloud
    HR Portal: Home

============================================================================= #}
{% extends "layouts/base" %}
{% block title %}
	{{ menu.home_title }}
{% endblock %}
{% block body %}
	{% include "common/goc" %}
	{% include "common/alert" %}
	{# {% include "common/home/hero" %} #}
	<div data-clone>
		<div data-c-background="white(100)">
			<header data-c-overlay="black(80)" style="background-image: url('/images/sean-pollock.jpg');">
				{% include "common/menu" %}
				<div data-c-container="large" data-c-align="base(center)" data-c-padding="bottom(3)">
					<h1 class="tc-hr-home-logotype" data-c-font-size="h1" data-c-font-weight="600" data-c-color="white" data-c-padding="top(3)">
						{{ hr_home.hero.heading }}
						<img src="/images/maple-leaf.svg" alt="{{ hr_home.hero.heading_alt }}">
					</h1>
					{% if auth_guest() %}
						<button data-c-button="outline(white)" data-c-radius="rounded" data-c-margin="top(3)">
							{{ hr_home.hero.sign_up_button }}
						</button>
					{% endif %}
				</div>
			</header>
			<div class="tc-hr-home-cta" data-c-padding="tb(normal)">
				<div data-c-container="large" data-c-align="base(center)">
					<p data-c-color="white" data-c-margin="tb(half)">{{ hr_home.banner.content }}
						<a href="/" title="{{ hr_home.banner.anchor.title }}">{{ hr_home.banner.anchor.text }}</a>
					</p>
				</div>
			</div>
			<a id="skipLink"></a>
			<div class="tc-hr-home-contained-background">
				<div data-c-container="large">
					<div data-c-grid>
						<div data-c-grid-item="tl(3of5) equal-col">
							<div data-c-padding="tb(triple)">
								<h2 data-c-font-size="h2" data-c-margin="bottom(normal)">{{ hr_home.heading.about }}</h2>
								<p data-c-margin="bottom(1)">{{ hr_home.about.p1 }}</p>
								<ul>
									<li>{{ hr_home.about.li1 }}</li>
									<li>{{ hr_home.about.li2 }}</li>
									<li>{{ hr_home.about.li3 }}</li>
									<li>{{ hr_home.about.li4 }}</li>
									<li>{{ hr_home.about.li5 }}</li>
									<li>{{ hr_home.about.li6 }}</li>
									<li>{{ hr_home.about.li7 }}</li>
								</ul>
							</div>
						</div>
						<div data-c-grid-item="tl(2of5) equal-col" class="tc-hr-home-right-background">
							<div data-c-padding="tb(triple)">
								<h2 data-c-font-size="h2" data-c-margin="bottom(normal)">{{ hr_home.heading.welcome }}</h2>
								<p>{{ hr_home.welcome.p1 }}</p>
								<hr data-c-margin="tb(normal)">
								<p>{{ hr_home.welcome.p2 }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div data-c-overlay="black(90)" style="background-image: url('/images/sean-pollock.jpg');" data-c-padding="tb(triple)">
				<div data-c-container="large">
					<div data-c-grid="gutter(all, 1)">
						<div data-c-grid-item="tl(2of5) equal-col">
							<div data-c-card data-c-color="white" data-c-background="c2(100)" data-c-radius="rounded" data-c-padding="all(double)">
								<h2 data-c-font-size="h2" data-c-margin="bottom(normal)">From Our Blog</h2>
								<h3 data-c-font-size-"h3" data-c-margin="bottom(.5)">
									<a href="https://gccollab.ca/blog/view/876781/entalent-cloud-assumptions-time-to-stafffrspu00e9culation-de-lu2019u00e9quipe-nuage-de-talents-u2013-duru00e9e-du-processus-de-dotation" title="{{ hr_home.blog.link.title }}" target="_blank">{{ hr_home.blog.link.text }}</a>
								</h3>
								<p data-c-margin="bottom(1)">{{ hr_home.blog.author }}</p>
								<p data-c-margin="bottom(1)">{{ hr_home.blog.teaser }}</p>
								<a href="https://gccollab.ca/blog/view/876781/entalent-cloud-assumptions-time-to-stafffrspu00e9culation-de-lu2019u00e9quipe-nuage-de-talents-u2013-duru00e9e-du-processus-de-dotation" title="{{ hr_home.blog.link_gc.title }}" data-c-button="outline(white)" data-c-radius="rounded">{{ hr_home.blog.link_gc.text }}</a>
							</div>
						</div>
						<div data-c-grid-item="tl(3of5) equal-col">
							<div data-c-card data-c-background="white(100)" data-c-radius="rounded" data-c-padding="all(double)">
								<h2 data-c-font-size="h2" data-c-margin="bottom(normal)">{{ hr_home.heading.next }}</h2>
								<p data-c-margin="bottom(1)">{{ hr_home.next.p1 }}</p>
								<ul>
									<li>{{ hr_home.next.li1 }}</li>
									<li>{{ hr_home.next.li2 }}</li>
									<li>{{ hr_home.next.li3 }}</li>
									<li>{{ hr_home.next.li4 }}</li>
									<li>{{ hr_home.next.li5 }}</li>
									<li>{{ hr_home.next.li6 }}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tc-hr-home-contained-background" data-c-border="bottom(thin, solid, black)">
				<div data-c-container="large">
					<div data-c-grid>
						<div data-c-grid-item="tl(2of5) equal-col" class="tc-hr-home-left-background">
							<div data-c-padding="tb(triple)">
								<h2 data-c-font-size="h2" data-c-margin="bottom(normal)">{{ hr_home.heading.policy }}</h2>
								<p data-c-margin="bottom(1)">{{ hr_home.policy.p1 }}</p>
								<p data-c-margin="bottom(1)">{{ hr_home.policy.p2 }}</p>
								<ul>
									<li>{{ hr_home.policy.li1 }}</li>
									<li>{{ hr_home.policy.li2 }}</li>
									<li>{{ hr_home.policy.li3 }}</li>
									<li>{{ hr_home.policy.li4 }}</li>
									<li>{{ hr_home.policy.li5 }}</li>
									<li>{{ hr_home.policy.li6 }}</li>
									<li>{{ hr_home.policy.li7 }}</li>
									<li>{{ hr_home.policy.li8 }}</li>
									<li>{{ hr_home.policy.li9 }}</li>
								</ul>
							</div>
						</div>
						<div data-c-grid-item="tl(3of5) equal-col">
							<div data-c-padding="tb(triple)">
								<h2 data-c-font-size="h2" data-c-margin="bottom(normal)">{{ hr_home.heading.events }}</h2>
								<p data-c-margin="bottom(double)">{{ hr_home.events.p1 }}</p>
								<div data-c-grid="gutter">
									<div data-c-grid-item="tl(1of2) equal-col">
										<div data-c-border="all(thin, solid, c1)" data-c-radius="rounded" data-c-padding="normal" data-c-color="c1">
											<h3 data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="bottom(normal)">{{ hr_home.events.h1 }}</h3>
											<p>{{ hr_home.events.p2 }}</p>
										</div>
									</div>
									<div data-c-grid-item="tl(1of2) equal-col">
										<div data-c-border="all(thin, solid, c1)" data-c-radius="rounded" data-c-padding="normal" data-c-color="c1">
											<h3 data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="bottom(normal)">{{ hr_home.events.h2 }}</h3>
											<p>{{ hr_home.events.p3 }}</p>
										</div>
									</div>
								</div>
								<div data-c-align="base(center) tl(right)">
									<p data-c-margin="top(double)">
										<a href="/" title="{{ hr_home.events.link.title }}" data-c-button="solid(c1)" data-c-radius="rounded">{{ hr_home.events.link.text }}</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
