{# =============================================================================

    Talent Cloud
    Applicant: Submit an Application - Integrity Signature

============================================================================= #}
{% extends "layouts/base" %}
{% block title %}
	{{ application_template.complete.step_06_title }}
{% endblock %}
{% block body %}
	{% include "common/goc" %}
	{% include "common/alert" %}
    <div data-clone>
        {% include "applicant/application_post/common/header" %}
        {% include "applicant/application_post/common/tracker-ajax" %}
        <a id="skipLink"> </a>
        <div data-c-padding="bottom(3)" data-c-border="bottom(thin, solid, gray)">
        <form class="form-prevent-multiple-submit" action="{{ form_submit_action }}" method="post">
            {# Builds an input field for CSRF token validation #}
            {{ csrf_field() }}
            <section>
                <div data-c-container="medium(center)">
                    <h2 data-c-heading="h2" data-c-padding="top(3)" data-c-margin="bottom(1)">{{ application_template.integrity.title }}</h2>
                    <p data-c-margin="bottom(1)">{{ application_template.integrity.confirmation_copy }}</p>
                    <ul data-c-margin="bottom(1)">
                        <li>{{ application_template.integrity.confirmation_01 }}</li>
                        <li>{{ application_template.integrity.confirmation_02 }}</li>
                        <li>{{ application_template.integrity.confirmation_03 }}</li>
                    </ul>
                    <div data-c-grid="gutter(all, 1)">
                        <div data-c-input="text" data-c-grid-item="tl(1of2)">
                            <label for="applicationReviewSignature">{{ application_template.integrity.signature_label }}</label>
                            <span>Required</span>
                            <div>
                                <input id="applicationReviewSignature" name="submission_signature" required type="text" />
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="date" data-c-grid-item="tl(1of2)">
                            <label for="applicationReviewDate">{{ application_template.integrity.date_label }}</label>
                            <span>Required</span>
                            <div>
                                <input id="applicationReviewDate" type="date" required name="submission_date" placeholder="yyyy-mm-dd"/>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                    </div>
                    <hr data-c-hr="thin(gray)" data-c-margin="top(1) bottom(2)">
                    <div data-c-grid="gutter(all, 1)">
                        <div data-c-grid-item="tp(1of2)" class="button-prevent-multiple-submit" data-c-align="base(center) tp(left)">
                            <!-- Can we make sure this button functions as intended? -->
                            <button id="save_and_return" data-c-button="outline(c1)" data-c-radius="rounded" type="submit" name="submit" value="save_and_return">
                                {{ application_template.save_return_button_label }}
                            </button>
                        </div>
                        <div data-c-grid-item="tp(1of2)" class="button-prevent-multiple-submit" data-c-align="base(center) tp(right)">
                            <button id="save_and_quit" data-c-button="outline(c1)" data-c-radius="rounded" type="submit" name="submit" value="save_and_quit">
                                {{ application_template.integrity.save_label }}
                            </button>
                            <button data-c-button="solid(go)" data-c-radius="rounded" type="submit" name="submit" value="submit">
                                {{ application_template.integrity.submit_label }}
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
{% endblock %}
