{# =============================================================================

    Talent Cloud
    Applicant: Home

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}
    {{ home.home_title }}
{% endblock %}

{% block body %}
    <div data-clone>
        {% include "common/alert" %}
        {% include "common/goc" %}
        <div
            data-c-background="white(100)">
            {# Home Heading ================================================= #}
            <header data-c-alignment="center" data-c-overlay="black(80)" data-c-padding="bottom(triple)" style="background-image: url('/images/bg_crowd.jpg');">
                {% include "common/menu" %}
                <div data-c-container="layout">
                    <h1 data-c-colour="white" data-c-font-size="h1" data-c-font-weight="700" data-c-margin="top(triple) bottom(normal)">{{ home.hero.title }}<img alt="Canadian Maple Leaf" class="hero-icon" src="/images/maple-leaf.svg"></h1>
                    <p data-c-colour="white" data-c-margin="bottom(triple)">{{ home.hero.tagline }}</p>
                    <span data-c-colour="white" data-c-font-weight="800">{{ home.hero.pilot }}</span>
                </div>
            </header>
            {# Skip to Content Link #}
            <a id="skipLink"></a>
            {# CTA Statement Banner ========================================= #}
            <div class="gradient-left-right" data-c-padding="normal">
                <div data-c-alignment="center" data-c-container="layout">
                    <p data-c-colour="white" data-c-margin="top(half) bottom(half)">{{ home.slogan.copy }}<a href="{{ home.slogan.link.href }}" title="{{ home.slogan.link.title }}">{{ home.slogan.link.label }}</a>.
                    </p>
                </div>
            </div>
            {# Browse Jobs ================================================== #}
            <div class="home-browse" data-c-background="white(100)" data-c-padding="top(triple) bottom(triple)">
                <div data-c-container="layout">
                    <div data-c-alignment="centre" data-c-grid="gutter middle">
                        <div data-c-alignment="tp(left)" data-c-grid-item="tp(1of2)">
                            <h2 data-c-font-size="h2">
                                {{ home.browse.title }}
                            </h2>
                        </div>
                        <div data-c-alignment="tp(right)" data-c-grid-item="tp(1of2)">
                            <a data-c-colour="c3" data-c-font-size="h4" data-c-font-weight="bold" href="{{ home.browse.browse_link.href }}" title="{{ home.browse.browse_link.title }}">
                                {{ home.browse.browse_link.label }}
                            </a>
                        </div>
                    </div>
                    <div data-c-margin="top(double)">
                        <div data-c-grid="gutter">
                            <div data-c-grid-item="tl(1of3) equal-col">
                                <div class="card" data-c-background="white(100)" data-c-radius="rounded">
                                    <div data-c-background="black(100)" data-c-padding="normal">
                                        <h3>
                                            <a data-c-colour="white" data-c-font-size="h3" data-c-font-weight="bold" data-c-margin="bottom(half)" href="" title="">
                                                Front-end Developer
                                            </a>
                                        </h3>
                                        <p data-c-colour="white">Treasury Board Secretariat of Canada</p>
                                    </div>
                                    <div data-c-background="white(100)" data-c-padding="normal">
                                        <div data-c-grid="gutter">
                                            <div data-c-grid-item="base(1of1)">
                                                <span data-c-colour="c2" data-c-font-weight="bold" data-c-margin="bottom(quarter)">
                                                    Apply By
                                                </span>
                                                <span>August 1st, 2016</span>
                                            </div>
                                            <div data-c-grid-item="base(1of2)">
                                                <span data-c-colour="c2" data-c-font-weight="bold" data-c-margin="bottom(quarter)">
                                                    Location
                                                </span>
                                                <span>Ottawa, Ontario</span>
                                            </div>
                                            <div data-c-grid-item="base(1of2)">
                                                <span data-c-colour="c2" data-c-font-weight="bold" data-c-margin="bottom(quarter)">
                                                    Average Annual Salary
                                                </span>
                                                <span>$100,000</span>
                                            </div>
                                            <div data-c-grid-item="base(1of1)">
                                                <span data-c-colour="c2" data-c-font-weight="bold" data-c-margin="bottom(quarter)">
                                                    Impact
                                                </span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius fringilla metus id rutrum. Fusce condimentum risus ut purus consequat tempor.</p>
                                            </div>
                                            <div data-c-alignment="base(right)" data-c-grid-item="base(1of1)">
                                                <a href="" title="">
                                                    Learn More
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-c-grid-item="tl(1of3) equal-col">
                                <div class="home-browse-null" data-c-padding="normal" data-c-radius="rounded">
                                    <span data-c-font-size="h4" data-c-font-weight="bold">{{ home.browse.null }}</span>
                                </div>
                            </div>
                            <div data-c-grid-item="tl(1of3) equal-col">
                                <div class="home-browse-null" data-c-padding="normal" data-c-radius="rounded">
                                    <span data-c-font-size="h4" data-c-font-weight="bold">{{ home.browse.null }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img alt="Canadian Maple Leaf" class="home-browse-icon" src="/images/maple-leaf.svg">
            </div>
            {# How it Works ================================================= #}
            <a id="how"></a>
            <div data-c-background="grey(10)" data-c-padding="top(triple) bottom(triple)">
                <div data-c-container="layout">
                    <h2 data-c-font-size="h2" data-c-margin="bottom(double)">
                        {{ home.hiw.title }}
                    </h2>
                    <div class="home-hiw" data-c-grid="gutter">
                        <div data-c-grid-item="tl(1of3)">
                            {% set stepCounter = 0 %}
                            {% for button in home.hiw.steps %}
                                {% set stepCounter = stepCounter + 1 %}
                                <button {% if stepCounter == 1 %} class="active" {% else %} data-c-margin="top(normal)" {% endif %} data-c-alignment="centre" data-c-button="solid(c2)" data-c-radius="rounded" data-tc-hiw-id="{{ stepCounter }}" data-tc-hiw-trigger>
                                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold">
                                        {{ button }}
                                    </span>
                                </button>
                            {% endfor %}
                        </div>
                        <div data-c-grid-item="tl(2of3) equal-col">
                            {% set stepContentCounter = 0 %}
                            {% for item in home.hiw.step_content %}
                                {% set stepContentCounter = stepContentCounter + 1 %}
                                <div class="home-hiw-content {% if stepContentCounter == 1 %}active{% endif %}" data-c-alignment="left" data-c-background="c1(100)" data-c-padding="normal" data-c-radius="rounded" data-tc-hiw-id="{{ stepContentCounter }}">
                                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold" data-c-margin="bottom(normal)">
                                        {{ item.title }}
                                    </span>
                                    <p data-c-colour="white" data-c-margin="bottom(normal)">{{ item.summary }}</p>
                                    <p data-c-colour="white">{{ item.copy }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {# Behind the Scenes ============================================ #}
            <div data-c-overlay="black(80)" data-c-padding="top(triple) bottom(triple)" style="background-image: url('/images/bg_crowd.jpg');">
                <div data-c-container="layout">
                    <h2 data-c-colour="white" data-c-font-size="h2" data-c-margin="bottom(double)">
                        Behind the Scenes
                    </h2>
                    <p data-c-colour="white" data-c-margin="bottom(normal)">Talent Cloud is different in a lot of ways. We're open source, iterative, trying to transform bias in hiring, and do our best to design with everyone in mind.</p>
                    <div data-c-grid="gutter">
                        <div data-c-grid-item="tl(1of3) equal-col">
                            <div data-c-background="white(100)" data-c-padding="normal" data-c-radius="rounded">
                                <h3 data-c-colour="c3" data-c-font-size="h3" data-c-font-weight="bold" data-c-margin="bottom(normal)">How it's designed:</h3>
                                <p data-c-margin="bottom(normal)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius fringilla metus id rutrum. Fusce condimentum risus ut purus consequat tempor. Proin vestibulum in nunc vel iaculis.</p>
                                <a data-c-font-weight="bold" href="" title="">Our Code on Github</a>
                            </div>
                        </div>
                        <div data-c-grid-item="tl(1of3) equal-col">
                            <div data-c-background="white(100)" data-c-padding="normal" data-c-radius="rounded">
                                <h3 data-c-colour="c3" data-c-font-size="h3" data-c-font-weight="bold" data-c-margin="bottom(normal)">How it's funded:</h3>
                                <p data-c-margin="bottom(normal)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius fringilla metus id rutrum. Fusce condimentum risus ut purus consequat tempor. Proin vestibulum in nunc vel iaculis.</p>
                                <a data-c-font-weight="bold" href="" title="">Read More</a>
                            </div>
                        </div>
                        <div data-c-grid-item="tl(1of3) equal-col">
                            <div data-c-background="white(100)" data-c-padding="normal" data-c-radius="rounded">
                                <h3 data-c-colour="c3" data-c-font-size="h3" data-c-font-weight="bold" data-c-margin="bottom(normal)">How we communicate:</h3>
                                <p data-c-margin="bottom(normal)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius fringilla metus id rutrum. Fusce condimentum risus ut purus consequat tempor. Proin vestibulum in nunc vel iaculis.</p>
                                <a data-c-font-weight="bold" href="" title="">Twitter</a>&nbsp;&nbsp;&nbsp;
                                <a data-c-font-weight="bold" href="" title="">GCcollab</a>&nbsp;&nbsp;&nbsp;
                                <a data-c-font-weight="bold" href="" title="">Email</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# Blog Posts =================================================== #}
            <div class="home-blog" data-c-background="white(100)" data-c-padding="top(triple) bottom(triple)">
                <div data-c-container="layout">
                    <div data-c-alignment="centre" data-c-grid="gutter middle">
                        <div data-c-alignment="tp(left)" data-c-grid-item="tp(1of2)">
                            <h2 data-c-font-size="h2">
                                Our Blog
                            </h2>
                        </div>
                        <div data-c-alignment="tp(right)" data-c-grid-item="tp(1of2)">
                            <a data-c-colour="c3" data-c-font-size="h4" data-c-font-weight="bold" href="" title="">
                                View More Posts
                            </a>
                        </div>
                    </div>
                    <div data-c-margin="top(double)">
                        <div data-c-grid="gutter">
                            <div data-c-grid-item="tl(1of3) equal-col">
                                <span data-c-font-weight="bold" data-c-margin="bottom(normal)">Thursday, November 3rd, 2018</span>
                                <h3 data-c-colour="c3" data-c-font-size="h3" data-c-font-weight="bold" data-c-margin="bottom(normal)">
                                    <a href="" title="">How to Find a Job that Fits</a>
                                </h3>
                                <span data-c-margin="bottom(normal)">About a 5 minute read.</span>
                                <p data-c-margin="bottom(normal)" data-c-padding="right(normal)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius fringilla metus id rutrum. Fusce condimentum risus ut purus consequat tempor. Proin vestibulum in nunc vel iaculis. Vivamus accumsan volutpat ligula, et accumsan tellus porttitor id. Donec vitae leo pretium, interdum elit in, scelerisque nibh.</p>
                                <a data-c-font-weight="bold" href="" title="">Read More</a>
                            </div>
                            <div data-c-grid-item="tl(1of3) equal-col">
                                <span data-c-font-weight="bold" data-c-margin="bottom(normal)">Thursday, November 3rd, 2018</span>
                                <h3 data-c-colour="c3" data-c-font-size="h3" data-c-font-weight="bold" data-c-margin="bottom(normal)">
                                    <a href="" title="">How to Find a Job that Fits</a>
                                </h3>
                                <span data-c-margin="bottom(normal)">About a 5 minute read.</span>
                                <p data-c-margin="bottom(normal)" data-c-padding="right(normal)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius fringilla metus id rutrum. Fusce condimentum risus ut purus consequat tempor. Proin vestibulum in nunc vel iaculis. Vivamus accumsan volutpat ligula, et accumsan tellus porttitor id. Donec vitae leo pretium, interdum elit in, scelerisque nibh.</p>
                                <a data-c-font-weight="bold" href="" title="">Read More</a>
                            </div>
                            <div data-c-grid-item="tl(1of3) equal-col">
                                <span data-c-font-weight="bold" data-c-margin="bottom(normal)">Thursday, November 3rd, 2018</span>
                                <h3 data-c-colour="c3" data-c-font-size="h3" data-c-font-weight="bold" data-c-margin="bottom(normal)">
                                    <a href="" title="">How to Find a Job that Fits</a>
                                </h3>
                                <span data-c-margin="bottom(normal)">About a 5 minute read.</span>
                                <p data-c-margin="bottom(normal)" data-c-padding="right(normal)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius fringilla metus id rutrum. Fusce condimentum risus ut purus consequat tempor. Proin vestibulum in nunc vel iaculis. Vivamus accumsan volutpat ligula, et accumsan tellus porttitor id. Donec vitae leo pretium, interdum elit in, scelerisque nibh.</p>
                                <a data-c-font-weight="bold" href="" title="">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <img alt="Canadian Maple Leaf" class="home-blog-icon" src="/images/maple-leaf.svg">
            </div>
            {# GC Jobs Banner =============================================== #}
            <div class="gradient-right-left" data-c-padding="normal">
                <div data-c-alignment="center" data-c-container="layout">
                    <p data-c-colour="white" data-c-margin="top(half) bottom(half)">Can't find the job you're looking for on Talent Cloud?
                        <a href="" title="">Check out GC Jobs</a>
                        for more public sector opportunities. Students, be sure to
                        <a href="" title="">check out FSWEP</a>
                        too!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
