{# =============================================================================

    Talent Cloud
    Applicant: Profile - About Info

============================================================================= #}
<div class="applicant-profile__about" data-clone>

    <div data-c-container="medium">

        <div class="form__wrapper">

            <div
                class="applicant-profile__data-wrapper">

                <h2>{{ profile.about_section.about_title }}</h2>

                {% include "errors/form_errors" %}

            </div>

            {# Account Info #}

                <fieldset
                    class="form__fieldset">

                    <legend
                        class="form__legend">
                        {{ profile.about_section.account_form_legend }}
                    </legend>

                    <div
                        class="flex-grid">

                        <div
                            class="box med-1of2">

                            <div class="form__input-wrapper--float {% if user.name == true %}active{% endif %}">
                                <label class="form__label" for="editProfileName">
                                    {{ profile.about_section.user_name_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="editProfileName"
                                    type="text"
                                    name="profile_name"
                                    value="{{ user.name }}" />
                            </div>

                        </div>

                        <div
                            class="box med-1of2">

                            <div class="form__input-wrapper--float {% if user.email == true %}active{% endif %}">
                                <label class="form__label" for="editProfileEmail">
                                    {{ profile.about_section.user_email_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="editProfileEmail"
                                    type="email"
                                    name="profile_email"
                                    value="{{ user.email }}" />
                            </div>

                        </div>

                    </div>

                </fieldset>

            {# Password #}

                <fieldset
                    class="form__fieldset">

                    <legend
                        class="form__legend">
                        {{ profile.about_section.password_form_legend }}
                    </legend>

                    <div
                        class="flex-grid">

                        <div
                            class="box med-1of2">

                            <div class="form__input-wrapper--float">
                                <label class="form__label" for="editProfileCurrentPassword">
                                    {{ profile.about_section.user_current_password_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="editProfileCurrentPassword"
                                    type="password"
                                    name="current_password"
                                    autocomplete="off"
                                    value="" />
                            </div>

                        </div>
                    </div>

                    <div
                        class="flex-grid">

                        <div
                            class="box med-1of2">

                            <div class="form__input-wrapper--float">
                                <label class="form__label" for="editProfilePassword">
                                    {{ profile.about_section.user_new_password_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="editProfilePassword"
                                    type="password"
                                    name="new_password"
                                    autocomplete="off"
                                    value="" />
                            </div>

                        </div>

                        <div
                            class="box med-1of2">

                            <div class="form__input-wrapper--float">
                                <label class="form__label" for="editProfileConfirmPassword">
                                    {{ profile.about_section.user_confirm_new_password_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="editProfileConfirmPassword"
                                    type="password"
                                    name="new_password_confirmation"
                                    autocomplete="off"
                                    value="" />
                            </div>

                        </div>

                    </div>

                </fieldset>

            {# 2FA #}

                <fieldset class="form__fieldset">

                    <legend class="form__legend">{{ profile.about_section.two_factor_legend }}</legend>

                    <div class="flex-grid">

                        <div class="box med-1of2">

                            <div class="form__input-wrapper--float">

                                {% if applicant.user.google2fa_secret %}

                                <p data-c-padding="bottom(normal)">You're currently receiving verification codes via an authenticator app on your smartphone.</p>
                                <a href="{{ route('two_factor.deactivate', applicant.id) }}" title="">Deactivate Two Factor</a>

                                {% else %}

                                <p data-c-padding="bottom(normal)">Two-factor auth blurb. <a href="" title="">Here's a useful link.</a></p>
                                <a class="button--blue light-bg" href="{{ route('two_factor.activate', applicant.id) }}">{{ profile.about_section.two_factor_button_text }}</a>

                                {% endif %}

                            </div>

                        </div>

                    </div>

                </fieldset>

            {% if applicant.user.google2fa_secret %}

            {# 2FA Recovery #}

                <fieldset class="form__fieldset">

                    <legend class="form__legend">{{ profile.about_section.two_factor_recovery_legend }}</legend>

                    <div class="flex-grid">

                        <div class="box med-1of2">

                            <div class="form__input-wrapper--float">

                                <p data-c-padding="bottom(normal)">{{ profile.about_section.two_factor_recovery_text }} <a href="{{ route('recovery_codes.show') }}">{{ profile.about_section.view_recovery_codes }}</a>.</p>

                            </div>

                        </div>

                    </div>

                </fieldset>

            {% endif %}

            {# Social Media #}

                <fieldset
                    class="form__fieldset">

                    <legend
                        class="form__legend">
                        {{ profile.about_section.social_media_form_legend }}
                    </legend>

                    <div
                        class="flex-grid">

                        <div
                            class="box med-1of2">

                            <div class="form__input-wrapper--float {% if applicant.twitter_username %}active{% endif %}">
                                <label class="form__label" for="editProfileTwitter">
                                    {{ profile.about_section.twitter_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="editProfileTwitter"
                                    type="text"
                                    name="twitter_username"
                                    value="{{ applicant.twitter_username }}" />
                            </div>

                        </div>

                        <div
                            class="box med-1of2">

                            <div class="form__input-wrapper--float {% if applicant.linkedin_url %}active{% endif %}">
                                <label class="form__label" for="editProfileLinkedin">
                                    {{ profile.about_section.linkedin_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="editProfileLinkedin"
                                    type="text"
                                    name="linkedin_url"
                                    value="{{ applicant.linkedin_url }}" />
                            </div>

                        </div>

                    </div>

                </fieldset>

            {# Other Info #}

                <fieldset
                    class="form__fieldset">

                    <legend
                        class="form__legend">
                        {{ profile.about_section.other_form_legend }}
                    </legend>

                    <div
                        class="flex-grid">

                        <div
                            class="box full">

                            <div class="form__input-wrapper--float {% if applicant.tagline == true %}active{% endif %}">
                                <label class="form__label" for="editProfileTagline">
                                    {{ profile.about_section.tagline_label }}
                                </label>
                                <input
                                    class="form__input"
                                    id="editProfileTagline"
                                    type="text"
                                    name="tagline"
                                    value="{{ applicant.tagline }}" />
                            </div>

                        </div>

                    </div>

                </fieldset>

            <span
                class="centre">

                <button
                    class="button--blue light-bg"
                    name="submit"
                    type="submit"
                    value="about">
                    Save Changes
                </button>

            </span>

        </div>

    </div>

</div>
