{# =============================================================================

    Talent Cloud
    Applicant: Profile - Questions

============================================================================= #}
<div class="applicant-profile__questions" data-clone>

    <div class="container--copy" data-c-container="medium">

        <h2>{{ profile.about_section.applicant_profile_question_section_title }}</h2>

        <p>{{ profile.about_section.applicant_profile_question_context }}</p>

        {% for question in applicant_profile_questions %}

            <span>
                {{ question.question }}
            </span>

            <p>
                {{ question.description }}
            </p>

            <div class="form__input-wrapper--float {% if question.answer %}active{% endif %}">
                <label class="form__label" for="{{ question.input_name }}">
                    {{ question.answer_label }}
                </label>
                <textarea
                    id="{{ question.input_name }}"
                    class="form__textarea"
                    name="{{ question.input_name }}">{% if question.answer != null %}{{ question.answer }}{% endif %}</textarea>
            </div>

            <button
                class="button--blue light-bg"
                type="submit"
                name="submit"
                value="question[{{ question.id }}]">
                {{ profile.about_section.save_button_label }}
            </button>

        {% endfor %}

    </div>

</div>
