{# =============================================================================

    Talent Cloud
    Applicant: Profile - Questions

============================================================================= #}
<section>
    <h2 data-c-heading="h2" data-c-padding="top(3)" data-c-margin="bottom(1)">{{ profile.about_section.applicant_profile_question_section_title }}</h2>
    <p>{{ profile.about_section.applicant_profile_question_context }}</p>
    {% for question in applicant_profile_questions %}
        <p data-c-font-weight="bold" data-c-color="c2" data-c-margin="top(2) bottom(1)">{{ question.question }}</p>
        <p data-c-margin="bottom(1)">{{ question.description }}</p>
        <div data-c-input="textarea">
            <label for="{{ question.input_name }}">{{ question.answer_label }}</label>
            <span>Required</span>
            <div>
                <textarea id="{{ question.input_name }}" name="{{ question.input_name }}">{% if question.answer != null %}{{ question.answer }}{% endif %}</textarea>
            </div>
            <span>This input has an error.</span>
        </div>
        <div data-c-align="base(right)">
            <button data-c-button="solid(c1)" data-c-radius="rounded" type="submit" name="submit" value="question[{{ question.id }}]">
                {{ profile.about_section.save_button_label }}
            </button>
        </div>
    {% endfor %}
</section>
