<section
	class="application__complete">

	<div
		class="container--copy">

		<h3>{{ application_template.complete.title }}</h3>

		<p>{{ application_template.complete.copy_01 }}</p>

		<span
			class="centre">
			<a
				class="button--blue light-bg"
				href="{{ application_template.complete.survey_link }}"
				target="_blank"
				title="{{ application_template.complete.survey_title }}">
				{{ application_template.complete.survey_label }}
			</a>
		</span>

		<p>{{ application_template.complete.copy_02 }}</p>
		
		<div
			class="flex-grid">

			<div
				class="box med-1of2">
				<a
					class="button--blue light-bg"
					href="/"
					title="{{ application_template.complete.return_title }}">
					{{ application_template.complete.return_label }}
				</a>
			</div>

			<div
				class="box med-1of2">
				<a
					class="button--blue light-bg"
					href="/faq"
					title="{{ application_template.complete.faq_title }}">
					{{ application_template.complete.faq_label }}
				</a>
			</div>

		</div>

	</div>

</section>