{# =============================================================================

    Talent Cloud
    Applicant: Profile - Skills Index

============================================================================= #}
<section
    class="applicant-profile__portfolio" data-clone>

    <div
        class="container--layout">

            {% include "errors/form_errors" %}

        {# Profile List (Soft Skills) #}

            <div
                class="profile-list">

                {# Profile List Header #}

                    <div
                        class="profile-list__header flex-grid middle">

                        <div
                            class="box med-1of2">

                            <h2>{{ profile.skills_section.soft_title }}</h2>

                        </div>

                        <div
                            class="box med-1of2">

                            <button
                                type="button"
                                class="profile-list__add-element-trigger">
                                {{ profile.skills_section.add_button_label }}
                            </button>

                        </div>

                    </div>

                {% include "applicant/profile/skills/skill_list" with {"skillType":'soft'} %}

            </div>

        {# Profile List (Hard Skills) #}

            <div
                class="profile-list">

                {# Profile List Header #}

                    <div
                        class="profile-list__header flex-grid middle">

                        <div
                            class="box med-1of2">

                            <h2>{{ profile.skills_section.hard_title }}</h2>

                        </div>

                        <div
                            class="box med-1of2">

                            <button
                                type="button"
                                class="profile-list__add-element-trigger">
                                {{ profile.skills_section.add_button_label }}
                            </button>

                        </div>

                    </div>

                {% include "applicant/profile/skills/skill_list" with {"skillType":'hard'} %}

            </div>

    </div>

    <div data-c-dialog-overlay></div>

    <div
        aria-hidden="true"
        aria-describedby="skill-info-modal-description"
        aria-labelledby="skill-info-modal-title"
        data-c-dialog
        data-c-dialog-id="skill-info-modal"
        data-c-padding="top(double) bottom(double)"
        role="dialog"
        class="skill-do-dont-modal">
        <div
            data-c-background="white(100)"
            data-c-radius="rounded">
            <div
                data-c-background="c5(100)"
                data-c-padding="tb(normal) right(triple) left(normal)"
                data-c-border="bottom(thin, solid, black)">
                <h3
                    data-c-font-size="h4"
                    data-c-color="white"
                    id="skill-info-modal-title">
                    {{ profile.modals.need_help.title }}
                </h3>
                <button
                    data-c-dialog-action="close"
                    data-c-dialog-id="skill-info-modal"
                    data-c-color="white"
                    type="button">
                    <i class="fa fa-times" aria-label="{{ profile.modals.need_help.header_button_text }}"></i>
                </button>
            </div>
            <div
                data-c-border="bottom(thin, solid, black)"
                data-c-padding="normal">
                <div id="skill-info-modal-description">
                    <div class="modal-info__wrapper">
                    {% for subtext in profile.modals.need_help.subtext %}
                        <p class="modal-info__subtext">
                            {{ subtext }}
                        </p>
                    {% endfor %}
                        <div class="modal-info__list-wrapper">
                            <h4 class="color-green">{{ profile.modals.need_help.example_lists.dos_example_list.title }}</h4>
                            <ul>
                            {% for example in profile.modals.need_help.example_lists.dos_example_list.examples %}
                                <li>
                                    <p class="list-item__title">
                                    <i class="far fa-check-circle"></i>{{ example.name }}
                                    </p>
                                    <p class="list-item__content">
                                    {{ example.content }}
                                    </p>
                                </li>
                            {% endfor %}
                            </ul>
                            <h4 class="color-red">{{ profile.modals.need_help.example_lists.donts_example_list.title }}</h4>
                            <ul>
                            {% for example in profile.modals.need_help.example_lists.donts_example_list.examples %}
                                <li>
                                    <p class="list-item__title">
                                        <i class="far fa-times-circle"></i>{{ example.name }}
                                    </p>
                                    {% if example.content is iterable %}
                                    {% for single_content in example.content %}
                                    <p class="list-item__content">
                                        {{ single_content }}
                                    </p>
                                    {% endfor %}
                                    {% else %}
                                    <p class="list-item__content">
                                        {{ example.content }}
                                    </p>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- The following dialog actions can be customized depending on the dialog. -->
            <div data-c-padding="normal">
                <div data-c-grid="gutter middle">
                    <div data-c-grid-item="base(1of2)">
                    </div>
                    <div
                        data-c-grid-item="base(1of2)"
                        data-c-alignment="base(right)">
                        <button
                            data-c-button="solid(go)"
                            data-c-radius="rounded"
                            data-c-dialog-action="close"
                            data-c-dialog-id="skill-info-modal">
                            {{ profile.modals.need_help.close_button_text }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
