{# Requires an application object to be passed in #}

{% include 'errors/form_errors' %}

<div class="manager-job-index__temp-labels flex-grid">
    <div class="box small-1of12">
        <strong>{{review.name}}</strong>
    </div>

    <div class="box small-2of12">
        <strong>{{review.info}}</strong>
    </div>

    <div class="box small-2of12">
        <strong>{{review.reviewed}}</strong>
    </div>

    <div class="box small-2of12">
        <strong>{{review.decision}}</strong>
    </div>

    <div class="box small-2of12">
        <strong>{{review.reviewer}}</strong>
    </div>

    <div class="box small-2of12">
        <strong>{{review.notes}}</strong>
    </div>

    <div class="box small-1of12">

    </div>
</div>

<form class="manager-job-index__temp-form flex-grid middle"
    action="{{ route('application_reviews.update', application) }}"
    method="post">

    {{ csrf_field() }}

    <input type="hidden" name="_method" value="PUT">

    <div class="box small-1of12">
        {{ application.applicant.user.name }}
    </div>

    <div class="box small-2of12">
        <a href="mailto:{{ application.applicant.user.email }}">{{review.form.email}}</a>,
        <a href="{{ route('manager.applicants.show', application.applicant) }}"
            >{{review.form.profile}}</a>,
        <a href="{{ route('manager.applications.show', application) }}">{{review.form.application}}</a>
    </div>

    <div class="box small-2of12">
        <div class="form__input-wrapper--select">
            <div
                class="form__select-wrapper fas fa-chevron-down">
                <select
                    class="form__input"
                    name="review_status">
                    {% for review_status in review_statuses %}
                        <option
                            value="{{ review_status.id }}"
                            {% if review_status.is(application.application_review.review_status) %}selected{% endif %}
                            >{{ review_status.translation }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="box small-2of12">
        <div class="form__input-wrapper--select">
            <div
                class="form__select-wrapper fas fa-chevron-down">
                <select
                    class="form__input"
                    name="review_decision">
                    {% for review_decision in review_decisions %}
                        <option
                            value="{{ review_decision.id }}"
                            {% if review_decision.is(application.application_review.review_decision) %}selected{% endif %}
                            >{{ review_decision.translation }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="box small-2of12">
        <div class="form__input-wrapper--float">
            <input
                class="form__input"
                placeholder="{{ review.form.placeholder.reviewer }}"
                name="reviewer"
                type="text"
                required
                value="{{ application.application_review.reviewer }}"/>
        </div>
    </div>

    <div class="box small-2of12">
        <div class="form__input-wrapper--float">
            <input
                class="form__input"
                placeholder="{{ review.form.placeholder.other_notes }}"
                name="notes"
                type="text"
                value="{{ application.application_review.notes }}"/>
        </div>
    </div>

    <div class="box small-1of12">
        <button
            class="button--blue"
            type="submit"
            name="submit"
            value="application_review">
            {{review.form.save}}
        </button>
    </div>

</form>
