<section
	class="application__complete">

	<div
		class="container--copy">

		<h3>{{ application_template.strategic_response.complete_title }}</h3>

		<p><strong>{{ application_template.strategic_response.complete_copy_1 }}</strong></p>

		<p>{{ application_template.strategic_response.complete_copy_2 }}</p>

		<div
			class="flex-grid">

			<div
				class="box med-1of2">
				<a
					class="button--blue light-bg"
					href="{{ route('response.index') }}">
					{{ application_template.strategic_response.complete_return_label }}
				</a>
			</div>

		</div>

	</div>

</section>
