{# =============================================================================

    Talent Cloud
    Manager: Profile - About Me

============================================================================= #}
<a
    id="culture">
</a>

<section
    id="managerProfileSectionCulture"
    class="manager-profile__section">

    <h3
        class="manager-profile__section-title">
        {{culture_l10n.team_culture}}
    </h3>

    <fieldset
        class="form__fieldset">

        <legend
            class="form__legend">
            {{culture_l10n.primary_information}}
        </legend>

        <div
            class="flex-grid">

            <div
                class="box med-1of3">

                <div class="form__input-wrapper--float {% if team_culture.team_size != null %}active{% endif %}">
                    <label class="form__label" for="managerProfileTeamSize">
                        {{culture_l10n.team_size}}
                    </label>
                    <input
                        class="form__input"
                        id="managerProfileTeamSize"
                        type="number"
                        name="team_size"
                        value="{{ team_culture.team_size }}">
                    </input>
                </div>

            </div>

            <div
                class="box med-2of3">

                <div class="form__input-wrapper--float {% if team_culture.gc_directory_url != null %}active{% endif %}">
                    <label class="form__label" for="managerProfileGCLink">
                        {{culture_l10n.gc_directory_link}}
                    </label>
                    <input
                        class="form__input"
                        id="managerProfileGCLink"
                        type="url"
                        name="gc_directory_url"
                        value="{{ team_culture.gc_directory_url }}">
                    </input>
                </div>

            </div>

        </div>

    </fieldset>

    <fieldset
        class="form__fieldset">

        <legend
            class="form__legend">
            {{culture_l10n.operating_context}}
        </legend>

        <div
            class="flex-grid">

            <div
                class="box med-1of2">

                <div class="form__input-wrapper--float {% if team_culture.translate('en').operating_context != null %}active{% endif %}">
                    <label class="form__label" for="managerProfileOperatingContextEN">
                        {{culture_l10n.answer_english}}
                    </label>
                    <textarea
                        class="form__textarea"
                        id="managerProfileOperatingContextEN"
                        name="operating_context[en]">{{ team_culture.translate('en').operating_context }}</textarea>
                </div>

            </div>

            <div
                class="box med-1of2">

                <div class="form__input-wrapper--float {% if team_culture.translate('fr').operating_context != null %}active{% endif %}">
                    <label class="form__label" for="managerProfileOperatingContextFR">
                        {{culture_l10n.answer_french}}
                    </label>
                    <textarea
                        class="form__textarea"
                        id="managerProfileOperatingContextFR"
                        name="operating_context[fr]">{{ team_culture.translate('fr').operating_context }}</textarea>
                </div>

            </div>

        </div>

    </fieldset>

    <fieldset
        class="form__fieldset">

        <legend
            class="form__legend">
            {{culture_l10n.what_we_value}}
        </legend>

        <div
            class="flex-grid">

            <div
                class="box med-1of2">

                <div class="form__input-wrapper--float {% if team_culture.translate('en').what_we_value != null %}active{% endif %}">
                    <label class="form__label" for="managerProfileValuesEN">
                        {{culture_l10n.answer_english}}
                    </label>
                    <textarea
                        class="form__textarea"
                        id="managerProfileValuesEN"
                        name="what_we_value[en]">{{ team_culture.translate('en').what_we_value }}</textarea>
                </div>

            </div>

            <div
                class="box med-1of2">

                <div class="form__input-wrapper--float {% if team_culture.translate('fr').what_we_value != null %}active{% endif %}">
                    <label class="form__label" for="managerProfileValuesFR">
                        {{culture_l10n.answer_french}}
                    </label>
                    <textarea
                        class="form__textarea"
                        id="managerProfileValuesFR"
                        name="what_we_value[fr]">{{ team_culture.translate('fr').what_we_value }}</textarea>
                </div>

            </div>

        </div>

    </fieldset>

    <fieldset
        class="form__fieldset">

        <legend
            class="form__legend">
            {{culture_l10n.how_we_work}}
        </legend>

        <div
            class="flex-grid">

            <div
                class="box med-1of2">

                <div class="form__input-wrapper--float {% if team_culture.translate('en').how_we_work != null %}active{% endif %}">
                    <label class="form__label" for="managerProfileHowWorkEN">
                        {{culture_l10n.answer_english}}
                    </label>
                    <textarea
                        class="form__textarea"
                        id="managerProfileHowWorkEN"
                        name="how_we_work[en]">{{ team_culture.translate('en').how_we_work }}</textarea>
                </div>

            </div>

            <div
                class="box med-1of2">

                <div class="form__input-wrapper--float {% if team_culture.translate('fr').how_we_work != null %}active{% endif %}">
                    <label class="form__label" for="managerProfileHowWorkFR">
                        {{culture_l10n.answer_french}}
                    </label>
                    <textarea
                        class="form__textarea"
                        id="managerProfileHowWorkFR"
                        name="how_we_work[fr]">{{ team_culture.translate('fr').how_we_work }}</textarea>
                </div>

            </div>

        </div>

    </fieldset>

    <div
        class="flex-grid">

        <div
            class="box med-1of2">

        </div>

        <div
            class="box med-1of2">
            <button
                class="button--blue light-bg"
                type="submit"
                name="submit"
                value="team_culture">
                {{culture_l10n.save_team_culture}}
            </button>
        </div>

    </div>

</section>
