{# =============================================================================

    Talent Cloud
    Manager: Profile - About Me

============================================================================= #}
<a
    id="environment">
</a>

<section
    id="managerProfileSectionEnvrionment"
    class="manager-profile__section">

    <h3
        class="manager-profile__section-title">
        {{environment_l10n.work_environment}}
    </h3>

    <fieldset
        class="form__fieldset">

        <legend
            class="form__legend">
            {{environment_l10n.things_to_know}}
        </legend>

        <div
            class="flex-grid">

            <div
                class="box med-1of2">

                <div class="form__input-wrapper--float {% if workEnvEN.things_to_know %}active{% endif %}">
                    <label class="form__label" for="managerProfileEnvContextEN">
                        {{environment_l10n.answer_english}}
                    </label>
                    <textarea
                        class="form__textarea"
                        id="managerProfileEnvContextEN"
                        name="en[things_to_know]">
                        {{ old('en.things_to_know', workEnvEN.things_to_know) }}
                    </textarea>
                </div>

            </div>

            <div
                class="box med-1of2">

                <div class="form__input-wrapper--float {% if workEnvFR.things_to_know %}active{% endif %}">
                    <label class="form__label" for="managerProfileEnvContextFR">
                        {{environment_l10n.answer_french}}
                    </label>
                    <textarea
                        class="form__textarea"
                        id="managerProfileEnvContextFR"
                        name="fr[things_to_know]">
                        {{ old('fr.things_to_know', workEnvFR.things_to_know) }}
                    </textarea>
                </div>

            </div>

            <div
                class="box full">

                <div
                    role="radiogroup"
                    class="form__radio-group"
                    aria-orientation="horizontal"
                    >

                    <label
                        class="form__label">
                        {{environment_l10n.telework_frequency}}
                    </label>


                    <div class="flex-grid">

                        {% set counter = 0 %}

                        {% for option in telework_options %}

                            {% set counter = counter + 1 %}

                            <label
                                class="box form__radio-group-label small-1of{{ telework_options|length }}"
                                for="telework{{ option.id }}">
                                <span
                                    class="hidden">
                                    {{ profile.work_environment.telework_allowed[option.name] }}
                                </span>
                                <input
                                    required
                                    class="form__radio-group-input"
                                    id="telework{{ option.id }}"
                                    name="telework_allowed_frequency_id"
                                    type="radio"
                                    value="{{ option.id }}"
                                    {% if old('telework_allowed_frequency_id') == option.id %}
                                        checked
                                    {% elseif work_environment.telework_allowed_frequency.name == option.name %}
                                        checked
                                    {% endif %}

                                />
                                <span
                                    class="form__radio-group-span">
                                    {{ environment_l10n.frequency[option.name] }}
                                </span>
                            </label>

                        {% endfor %}

                    </div>

                </div>

            </div>

            <div
                class="box full">

                <div
                    aria-orientation="horizontal"
                    class="form__radio-group"
                    role="radiogroup">

                    <label
                        class="form__label">
                        {{environment_l10n.flexible_hour_frequency}}
                    </label>

                    <div class="flex-grid">

                        {% set counter = 0 %}

                        {% for option in flex_hour_options %}

                            {% set counter = counter + 1 %}

                            <label
                                class="box form__radio-group-label small-1of{{ flex_hour_options|length }}"
                                for="flex_hours{{ option.id }}">
                                <span
                                    class="hidden">
                                    {{ profile.work_environment.flex_hours_allowed[option.name] }}
                                </span>
                                <input
                                    class="form__radio-group-input"
                                    id="flex_hours{{ option.id }}"
                                    name="flexible_hours_frequency_id"
                                    type="radio"
                                    value="{{ option.id }}"
                                     {% if old('flexible_hours_frequency_id') == option.id %}
                                        checked
                                    {% elseif work_environment.flexible_hours_frequency.name == option.name %}
                                        checked
                                    {% endif %} />
                                <span
                                    class="form__radio-group-span">
                                    {{ environment_l10n.frequency[option.name] }}
                                </span>
                            </label>

                        {% endfor %}

                    </div>

                </div>

            </div>

            <div
                class="box full">
                <h3
                    class="manager-profile__legend">
                    {{environment_l10n.environment_photos}}
                </h3>
            </div>

            {% for photo in user.workplace_photos %}

                <div
                    class="box med-1of3">

                    <div
                        class="manager-profile__image-upload">
                        <img
                            {% if photo.image != null %}
                                src="{{ photo.url }}"
                            {% else %}
                                src="/images/user.png"
                            {% endif %}>
                    </div>

                    <div class="form__input-wrapper--upload">
                        <label class="form__label" for="managerEnvPhoto01">
                            {{environment_l10n.upload_image}}
                            <input
                                class="form__input"
                                id="managerEnvPhoto01"
                                type="file"
                                name="workplace_photos[{{ photo.id }}]"
                                value="">
                            </input>
                        </label>
                    </div>

                    <div class="form__input-wrapper--float {% if photo.alt != null %}active{% endif %}">
                        <label class="form__label" for="manageProfileAltEN{{ photo.id }}">
                            {{environment_l10n.alt_text_english}}
                        </label>
                        <input
                            class="form__input"
                            id="manageProfileAltEN{{ photo.id }}"
                            type="text"
                            name="en[workplace_photo_captions[{{ photo.id }}]]"
                            value="{{ photo.alt }}">
                        </input>
                    </div>

                    <div class="form__input-wrapper--float {% if photo.alt_fr != null %}active{% endif %}">
                        <label class="form__label" for="manageProfileAltFR{{ photo.id }}">
                            {{environment_l10n.alt_text_french}}
                        </label>
                        <input
                            class="form__input"
                            id="manageProfileAltFR{{ photo.id }}"
                            type="text"
                            name="fr[workplace_photo_captions[{{ photo.id }}]]"
                            value="{{ photo.alt_fr }}">
                        </input>
                    </div>

                </div>

            {% endfor %}

        </div>

    </fieldset>

    <div class="flex-grid manager-profile-action">

        <div class="box full">
            <button
                class="button--blue light-bg"
                type="submit"
                name="submit"
                value="work_environment">
                {{environment_l10n.save_work_environment}}
            </button>
        </div>

    </div>

</section>
