{# =============================================================================

    Talent Cloud
    Manager: Profile - About Me

============================================================================= #}
<a
    id="leadership">
</a>

<section
    id="managerProfileSectionLeadership"
    class="manager-profile__section">

    <h3
        class="manager-profile__section-title">
        {{leadership_l10n.my_leadership_style}}
    </h3>

    <fieldset
        class="form__fieldset">

        <legend
            class="form__legend">
            {{leadership_l10n.my_style_values}}
        </legend>

        <div
            class="flex-grid">

            <div
                class="box med-1of2">

                <div class="form__input-wrapper--float {% if manager.translate('en').leadership_style %}active{% endif %}">
                    <label class="form__label" for="managerProfileLeadershipStyleEN">
                        {{leadership_l10n.answer_english}}
                    </label>
                    <textarea
                        class="form__textarea"
                        id="managerProfileLeadershipStyleEN"
                        name="leadership_style[en]">{{ manager.translate('en').leadership_style }}</textarea>
                </div>

            </div>

            <div
                class="box med-1of2">

                <div class="form__input-wrapper--float {% if manager.translate('fr').leadership_style %}active{% endif %}">
                    <label class="form__label" for="managerProfileLeadershipStyleFR">
                        {{leadership_l10n.answer_french}}
                    </label>
                    <textarea
                        class="form__textarea"
                        id="managerProfileLeadershipStyleFR"
                        name="leadership_style[fr]">{{ manager.translate('fr').leadership_style }}</textarea>
                </div>

            </div>

        </div>

    </fieldset>

    <fieldset
        class="form__fieldset">

        <legend
            class="form__legend">
            {{leadership_l10n.expect_from_employees}}
        </legend>

        <div
            class="flex-grid">

            <div
                class="box med-1of2">

                <div class="form__input-wrapper--float {% if manager.translate('en').expectations %}active{% endif %}">
                    <label class="form__label" for="managerProfileExpectationsEN">
                        {{leadership_l10n.answer_english}}
                    </label>
                    <textarea
                        class="form__textarea"
                        id="managerProfileExpectationsEN"
                        name="expectations[en]">{{ manager.translate('en').expectations }}</textarea>
                </div>

            </div>
            <div
                class="box med-1of2">

                <div class="form__input-wrapper--float {% if manager.translate('fr').expectations %}active{% endif %}">
                    <label class="form__label" for="managerProfileExpectationsFR">

                        {{leadership_l10n.answer_french}}
                    </label>
                    <textarea
                        class="form__textarea"
                        id="managerProfileExpectationsFR"
                        name="expectations[fr]">{{ manager.translate('fr').expectations }}</textarea>
                </div>

            </div>

        </div>

    </fieldset>

    <fieldset
        class="form__fieldset">

        <legend
            class="form__legend">
            {{leadership_l10n.approach_learning_development}}
        </legend>

        <div
            class="flex-grid">

            <div
                class="box med-1of2">

                <div class="form__input-wrapper--float {% if manager.translate('en').employee_learning %}active{% endif %}">
                    <label class="form__label" for="managerProfileApproachEN">
                        {{leadership_l10n.answer_english}}
                    </label>
                    <textarea
                        class="form__textarea"
                        id="managerProfileApproachEN"
                        name="employee_learning[en]">{{ manager.translate('en').employee_learning }}</textarea>
                </div>

            </div>

            <div
                class="box med-1of2">

                <div class="form__input-wrapper--float {% if manager.translate('fr').employee_learning %}active{% endif %}">
                    <label class="form__label" for="managerProfileApproachFR">
                        {{leadership_l10n.answer_french}}
                    </label>
                    <textarea
                        class="form__textarea"
                        id="managerProfileApproachFR"
                        name="employee_learning[fr]">{{ manager.translate('fr').employee_learning }}</textarea>
                </div>

            </div>

        </div>

    </fieldset>

    <div
        class="flex-grid">

        <div
            class="box med-1of2">

        </div>

        <div
            class="box med-1of2">
            <button
                class="button--blue light-bg"
                type="submit"
                name="submit"
                value="leadership">
                {{leadership_l10n.save_leadership_style}}
            </button>
        </div>

    </div>

</section>
