{# =============================================================================

    Talent Cloud
    Manager: Profile Sidebar

============================================================================= #}
<div class="sidebar-wrapper box lg-1of4">
	<nav class="sidebar">
		<h3 class="sidebar-label">
			{{ sidebar_l10n.profile_sections }}
		</h3>
		<a class="sidebar-link" href="#managerProfileSectionAccount" title="{{ job_post.basics.sidebar_title }}">
			{{ sidebar_l10n.my_account }}
		</a>
		<a class="sidebar-link" href="#managerProfileSectionAbout" title="{{ job_post.basics.sidebar_title }}">
			{{ sidebar_l10n.about_me }}
		</a>
		<a class="sidebar-link" href="#managerProfileSectionLeadership" title="{{ job_post.basics.sidebar_title }}">
			{{ sidebar_l10n.leadership_style }}
		</a>
	</nav>
</div>
