{# =============================================================================

    Talent Cloud
    Applicant: Jobs - Post: Criteria

============================================================================= #}
<a
    aria-hidden="true"
    class="job-post__anchor"
    id="criteria">
</a>

<section
    class="job-post__criteria">

    <div
        class="flex-grid">

        <div
            class="box full">
            <h4
                class="job-post__criteria-title">
                {{ job_post.criteria.title }}
            </h4>
        </div>

        <div
            class="box full">
            <h5
                class="job-post__criteria-subtitle">
                {{ job_post.criteria.education_title }}
            </h5>
            <p>Bachelor's Degree in Chemistry or 4 years Equivalent Experience</p>
        </div>

        <div
            class="box med-1of2">
            <h5
                class="job-post__criteria-subtitle">
                {{ job_post.criteria.essential_title }}
            </h5>
            <ul
                class="job-post__criteria-list">
                {% for criterion in criteria.essential %}
                    <li>
                        <p>{{ skill_template.skills[criterion.skill.name].name }}</p>
                        <p>{{ skill_template.skills[criterion.skill.name].description }}</p>
                        <p>{{ job_post.criteria.requirement_label }}{{ skill_template.skill_levels[criterion.skill.skill_type.name][criterion.skill_level.name] }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div
            class="box med-1of2">
            <h5
                class="job-post__criteria-subtitle">
                {{ job_post.criteria.asset_title }}
            </h5>
            <ul
                class="job-post__criteria-list">
                {% for criterion in criteria.asset %}
                    <li>
                        <p>{{ skill_template.skills[criterion.skill.name].name }}</p>
                        <p>{{ skill_template.skills[criterion.skill.name].description }}</p>
                        <p>{{ job_post.criteria.requirement_label }}{{ skill_template.skill_levels[criterion.skill.skill_type.name][criterion.skill_level.name] }}
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

</section>
