{# =============================================================================

    Talent Cloud
    Applicant: Jobs - Post: Impact

============================================================================= #}

<a
    aria-hidden="true"
    class="job-post__anchor"
    id="culture">
</a>

<section
    class="job-post__culture">

    <h3
        class="job-post__culture-title">
        {{ job_post.culture.title }}
    </h3>

    <div class="flex-grid middle">

        {# Hiring Manager #}

            <div
                class="box full">
                <h4
                    class="job-post__culture-subtitle">
                    {{ job_post.culture.manager_title }}
                </h4>
            </div>

            <div
                class="box full job-post__culture-manager-copy">

                <span
                    class="job-post__culture-manager-name">
                    {{ manager.user.name }}
                </span>

                <div
                    class="job-post__culture-manager-meta">
                    <span>{{ manager.position }}</span>
                    <span>{{ job_post.culture.manager_department_bridge }}</span>
                    <span>{{ manager.department.value }}</span>
                </div>

                {% if auth_guest() %}

                    <a
                        class="job-post__culture-manager-profile-link"
                        href="{{ route('managers.show',{'manager':manager.id}) }}"
                        title="{{ job_post.manager.link_title|replace({":name":manager.user.name}) }}">
                        {{ job_post.culture.guest_manager_link_label|replace({":name":manager.user.name}) }}
                    </a>

                {% else %}

                    <a
                        class="job-post__culture-manager-profile-link"
                        href="{{ route('managers.show',{'manager':manager.id}) }}"
                        title="{{ job_post.manager.link_title|replace({":name":manager.user.name}) }}">
                        {{ job_post.culture.manager_link_label|replace({":name":manager.user.name}) }}
                    </a>

                {% endif %}

            </div>

            <div
                class="box full">
                <p
                    class="job-post__manager-copy">
                    {{ manager.leadership_style|nl2br }}
                </p>
            </div>

        {# Work Environment #}

            <div
                class="box full">
                <h4
                    class="job-post__culture-subtitle">
                    {{ job_post.culture.work_environment_label }}
                </h4>
            </div>

            <div
                class="box full">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.culture.team_narrative_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    {{ handleNullState(
                        work_environment.things_to_know|nl2br,
                        work_environment.things_to_know|nl2br,
                        noInfo
                    )}}
                </p>
            </div>

            <div
                class="box med-1of2">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.work_environment.remote_work_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    {{ job_post.work_environment.remote_work_allowed[job.remote_work_allowed] }}
                </p>
            </div>

            <div
                class="box med-1of2">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.work_environment.telework_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                     {{ handleNullState(
                        job_post.work_environment.telework_allowed[work_environment.telework_allowed_frequency.name],
                        job_post.work_environment.telework_allowed[work_environment.telework_allowed_frequency.name],
                        noInfo
                    )}}
                </p>
            </div>

            <div
                class="box full">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.work_environment.time_flexibility_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    {{ handleNullState(
                        job_post.work_environment.time_flexibility_allowed[work_environment.flexible_hours_frequency.name],
                        job_post.work_environment.time_flexibility_allowed[work_environment.flexible_hours_frequency.name],
                        noInfo
                    )}}
                </p>
            </div>

    </div>

</section>
