{# =============================================================================

    Talent Cloud
    Applicant: Jobs - Post: Impact

============================================================================= #}
<a 
    aria-hidden="true"
    id="culture">
</a>

<section 
    class="job-post__culture">

    <h4 
        class="job-post__culture-title">
        {{ job_post.culture.title }}
    </h4>

    <div class="flex-grid middle">

        {# Hiring Manager #}

            <div 
                class="box full">
                <h5 
                    class="job-post__culture-subtitle">
                    {{ job_post.culture.manager_title }}
                </h5>
            </div>

            <div 
                class="box med-1of4">
                <a 
                    class="job-post__culture-manager-profile-photo"
                    href="{{ manager.url }}"
                    target="_blank"
                    title="{{ manager.photo_title }}"
                    style="background-image:url('{{ manager.photo }}');">
                </a>
            </div>

            <div 
                class="box med-3of4">

                <span 
                    class="job-post__culture-manager-name">
                    {{ manager.name }}
                </span>

                <div 
                    class="job-post__culture-manager-meta">
                    <span>{{ manager.title }}</span>
                    <span>{{ job_post.culture.manager_department_bridge }}</span>
                    <span>{{ manager.department }}</span>
                </div>

                <a 
                    class="job-post__culture-manager-profile-link"
                    href="{{ manager.url }}" 
                    title="{{ manager.link_title }}">
                    {{ job_post.culture.manager_link_label }}
                </a>

            </div>

            <div 
                class="box full">
                <p 
                    class="job-post__manager-copy">
                    {{ manager.about_me }}    
                </p>
            </div>

        {# Work Environment #}

            <div 
                class="box full">
                <h5 
                    class="job-post__culture-subtitle">
                    {{ job_post.culture.work_environment_label }}
                </h5>
            </div>

            <div 
                class="box full">
                <span 
                    class="job-post__culture-heading">
                    {{ job_post.culture.team_narrative_label }}
                </span>
                <p 
                    class="job-post__culture-copy">
                    {{ manager.team_narrative }}    
                </p>
            </div>

            <div 
                class="box med-1of2">
                <span 
                    class="job-post__culture-heading">
                    {{ job_post.remote_label }}
                </span>
                <p 
                    class="job-post__culture-copy">
                    {{ job.remote }}    
                </p>
            </div>

            <div 
                class="box med-1of2">
                <span 
                    class="job-post__culture-heading">
                    {{ job_post.culture.telework_label }}
                </span>
                <p 
                    class="job-post__culture-copy">
                    {{ job.telework }}    
                </p>
            </div>

            <div 
                class="box full">
                <span 
                    class="job-post__culture-heading">
                    {{ job_post.culture.time_flexibility_label }}
                </span>
                <p 
                    class="job-post__culture-copy">
                    {{ job.time_flexibility }}    
                </p>
            </div>

            <div 
                class="box med-1of2 lg-1of3">
                <div 
                    class="job-post__work-environment-photo"
                    style="background-image: url('{{ manager.work_env_0.url }}');"
                    title="manager.work_env_0.title">    
                </div>
            </div>

            <div 
                class="box med-1of2 lg-1of3">
                <div 
                    class="job-post__work-environment-photo"
                    style="background-image: url('{{ manager.work_env_1.url }}');"
                    title="manager.work_env_1.title">    
                </div>
            </div>

            <div 
                class="box med-1of2 lg-1of3">
                <div 
                    class="job-post__work-environment-photo"
                    style="background-image: url('{{ manager.work_env_2.url }}');"
                    title="manager.work_env_2.title">    
                </div>
            </div>

        {# Team Culture #}

            <div 
                class="box full">
                <h5 
                    class="job-post__culture-subtitle">
                    {{ job_post.culture.team_culture_label }}
                </h5>
            </div>

            <div 
                class="box med-1of2">
                <span class="job-post__culture-heading">
                    {{ job_post.culture.team_size_label }}
                </span>
                <p class="job-post__culture-copy">
                    {{ manager.team_size }}
                </p>
            </div>

            <div 
                class="box med-1of2">
                <span 
                    class="job-post__culture-heading">
                    {{ job_post.culture.gcdirectory_label }}
                </span>
                <p 
                    class="job-post__culture-copy">
                    <a 
                        href="{{ manager.team_link }}" 
                        target="_blank"
                        title="{{ job_post.culture.team_link_title }}">
                        {{ job_post.culture.team_link_label }}
                    </a>
                </p>
            </div>

            <div 
                class="box full">
                <span 
                    class="job-post__culture-heading">
                    {{ job_post.culture.operating_label }}
                </span>
                <p 
                    class="job-post__culture-copy">
                    {{ manager.team_context }}    
                </p>
            </div>

            <div 
                class="box full">
                <span 
                    class="job-post__culture-heading">
                    {{ job_post.culture.team_value_label }}
                </span>
                <p 
                    class="job-post__culture-copy">
                    {{ manager.team_value }}
                </p>
            </div>

            <div 
                class="box full">
                <span 
                    class="job-post__culture-heading">
                    {{ job_post.culture.team_work_label }}
                </span>
                <p 
                    class="job-post__culture-copy final">
                    {{ manager.team_work }}     
                </p>
            </div>

    </div>

</section>