{# =============================================================================

    Talent Cloud
    Applicant: Jobs - Post: Impact

============================================================================= #}
<a
    aria-hidden="true"
    class="job-post__anchor"
    id="culture">
</a>

<section
    class="job-post__culture">

    <h4
        class="job-post__culture-title">
        {{ job_post.culture.title }}
    </h4>

    <div class="flex-grid middle">

        {# Hiring Manager #}

            <div
                class="box full">
                <h5
                    class="job-post__culture-subtitle">
                    {{ job_post.culture.manager_title }}
                </h5>
            </div>

            <div
                class="box med-1of4">
                <a
                    class="job-post__culture-manager-profile-photo"
                    href="{{ route('managers.show',{'manager':manager.id}) }}"
                    target="_blank"
                    title="{{ job_post.manager.photo_title|replace({":name":manager.user.name}) }}"
                    style="background-image:url('{{ manager_profile_photo_url }}');">
                </a>
            </div>

            <div
                class="box med-3of4 job-post__culture-manager-copy">

                <span
                    class="job-post__culture-manager-name">
                    {{ manager.user.name }}
                </span>

                <div
                    class="job-post__culture-manager-meta">
                    <span>{{ manager.position }}</span>
                    <span>{{ job_post.culture.manager_department_bridge }}</span>
                    <span>{{ manager.department.value }}</span>
                </div>

                {% if auth_guest() %}

                    <a
                        class="job-post__culture-manager-profile-link"
                        href="{{ route('managers.show',{'manager':manager.id}) }}"
                        title="{{ job_post.manager.link_title|replace({":name":manager.user.name}) }}">
                        {{ job_post.culture.guest_manager_link_label|replace({":name":manager.user.name}) }}
                    </a>

                {% else %}

                    <a
                        class="job-post__culture-manager-profile-link"
                        href="{{ route('managers.show',{'manager':manager.id}) }}"
                        title="{{ job_post.manager.link_title|replace({":name":manager.user.name}) }}">
                        {{ job_post.culture.manager_link_label|replace({":name":manager.user.name}) }}
                    </a>

                {% endif %}

            </div>

            <div
                class="box full">
                <p
                    class="job-post__manager-copy">
                    {{ manager.leadership_style }}
                </p>
            </div>

        {# Work Environment #}

            <div
                class="box full">
                <h5
                    class="job-post__culture-subtitle">
                    {{ job_post.culture.work_environment_label }}
                </h5>
            </div>

            <div
                class="box full">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.culture.team_narrative_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    {{ work_environment.things_to_know }}
                </p>
            </div>

            <div
                class="box med-1of2">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.work_environment.remote_work_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    {{ job_post.work_environment.remote_work_allowed[work_environment.remote_work_allowed] }}
                </p>
            </div>

            <div
                class="box med-1of2">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.work_environment.telework_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    {{ job_post.work_environment.telework_allowed[work_environment.telework_allowed_frequency.name] }}
                </p>
            </div>

            <div
                class="box full">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.work_environment.time_flexibility_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    {{ job_post.work_environment.time_flexibility_allowed[work_environment.flexible_hours_frequency.name] }}
                </p>
            </div>

            {% for photo in workplace_photos %}
            <div
                class="box med-1of2 lg-1of3">
                <div
                    class="job-post__work-environment-photo"
                    style="background-image: url('{{ photo.url }}');"
                    title=>"{{ photo.description }}"
                </div>
            </div>
            {% endfor %}

        {# Team Culture #}

            <div
                class="box full">
                <h5
                    class="job-post__culture-subtitle">
                    {{ job_post.culture.team_culture_label }}
                </h5>
            </div>

            <div
                class="box med-1of2">
                <span class="job-post__culture-heading">
                    {{ job_post.culture.team_size_label }}
                </span>
                <p class="job-post__culture-copy">
                    {{ team_culture.team_size }}
                </p>
            </div>

            <div
                class="box med-1of2">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.culture.gcdirectory_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    <a
                        href="{{ team_culture.gc_directory_url }}"
                        target="_blank"
                        title="{{ job_post.culture.team_link_title }}">
                        {{ job_post.culture.team_link_label }}
                    </a>
                </p>
            </div>

            <div
                class="box full">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.culture.operating_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    {{ team_culture.operating_context }}
                </p>
            </div>

            <div
                class="box full">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.culture.team_value_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    {{ team_culture.what_we_value }}
                </p>
            </div>

            <div
                class="box full">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.culture.team_work_label }}
                </span>
                <p
                    class="job-post__culture-copy final">
                    {{ team_culture.how_we_work }}
                </p>
            </div>

    </div>

</section>
