{# =============================================================================

    Talent Cloud
    Applicant: Jobs - Post: Impact

============================================================================= #}

<a
    aria-hidden="true"
    class="job-post__anchor"
    id="culture">
</a>

<section
    class="job-post__culture">

    <h3
        class="job-post__culture-title">
        {{ job_post.culture.title }}
    </h3>

    <div class="flex-grid middle">

        {# Hiring Manager #}

            <div
                class="box full">
                <h4
                    class="job-post__culture-subtitle">
                    {{ job_post.culture.manager_title }}
                </h4>
            </div>

            <div
                class="box med-1of4">
                <a
                    class="job-post__culture-manager-profile-photo"
                    href="{{ route('managers.show',{'manager':manager.id}) }}"
                    target="_blank"
                    title="{{ job_post.manager.photo_title|replace({":name":manager.user.name}) }}"
                    style="background-image:url('{{ manager_profile_photo_url }}');">
                    <span class="invisible">{{ job_post.manager.photo_title|replace({":name":manager.user.name}) }}</span>
                </a>
            </div>

            <div
                class="box med-3of4 job-post__culture-manager-copy">

                <span
                    class="job-post__culture-manager-name">
                    {{ manager.user.name }}
                </span>

                <div
                    class="job-post__culture-manager-meta">
                    <span>{{ manager.position }}</span>
                    <span>{{ job_post.culture.manager_department_bridge }}</span>
                    <span>{{ manager.department.value }}</span>
                </div>

                {% if auth_guest() %}

                    <a
                        class="job-post__culture-manager-profile-link"
                        href="{{ route('managers.show',{'manager':manager.id}) }}"
                        title="{{ job_post.manager.link_title|replace({":name":manager.user.name}) }}">
                        {{ job_post.culture.guest_manager_link_label|replace({":name":manager.user.name}) }}
                    </a>

                {% else %}

                    <a
                        class="job-post__culture-manager-profile-link"
                        href="{{ route('managers.show',{'manager':manager.id}) }}"
                        title="{{ job_post.manager.link_title|replace({":name":manager.user.name}) }}">
                        {{ job_post.culture.manager_link_label|replace({":name":manager.user.name}) }}
                    </a>

                {% endif %}

            </div>

            <div
                class="box full">
                <p
                    class="job-post__manager-copy">
                    {{ manager.leadership_style|nl2br }}
                </p>
            </div>

        {# Work Environment #}

            <div
                class="box full">
                <h4
                    class="job-post__culture-subtitle">
                    {{ job_post.culture.work_environment_label }}
                </h4>
            </div>

            <div
                class="box full">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.culture.team_narrative_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    {{ handleNullState(
                        work_environment.things_to_know|nl2br,
                        work_environment.things_to_know|nl2br,
                        noInfo
                    )}}
                </p>
            </div>

            <div
                class="box med-1of2">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.work_environment.remote_work_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    {{ job_post.work_environment.remote_work_allowed[job.remote_work_allowed] }}
                </p>
            </div>

            <div
                class="box med-1of2">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.work_environment.telework_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                     {{ handleNullState(
                        job_post.work_environment.telework_allowed[work_environment.telework_allowed_frequency.name],
                        job_post.work_environment.telework_allowed[work_environment.telework_allowed_frequency.name],
                        noInfo
                    )}}
                </p>
            </div>

            <div
                class="box full">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.work_environment.time_flexibility_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    {{ handleNullState(
                        job_post.work_environment.time_flexibility_allowed[work_environment.flexible_hours_frequency.name],
                        job_post.work_environment.time_flexibility_allowed[work_environment.flexible_hours_frequency.name],
                        noInfo
                    )}}
                </p>
            </div>

            {% for photo in workplace_photos %}
            <div
                class="box med-1of2 lg-1of3">
                <div
                    class="job-post__work-environment-photo"
                    style="background-image: url('{{ photo.url }}');"
                    title=>"{{ photo.description }}"
                </div>
            </div>
            {% endfor %}

        {# Team Culture #}

            <div
                class="box full">
                <h4
                    class="job-post__culture-subtitle">
                    {{ job_post.culture.team_culture_label }}
                </h4>
            </div>

            <div
                class="box med-1of2">
                <span class="job-post__culture-heading">
                    {{ job_post.culture.team_size_label }}
                </span>
                <p class="job-post__culture-copy">

                    {{ handleNullState(
                        team_culture.team_size,
                        '<span>' ~ team_culture.team_size ~ '</span>',
                        noInfo
                    )}}

                </p>
            </div>

            <div
                class="box med-1of2">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.culture.gcdirectory_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    {% if team_culture.gc_directory_url is defined and
                        team_culture.gc_directory_url is not empty %}
                        <a
                            href="{{ team_culture.gc_directory_url }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            title="{{ job_post.culture.team_link_title }}">
                            {{ job_post.culture.team_link_label }}
                        </a>
                    {% else %}
                        {{ noInfo }}
                    {% endif %}
                </p>
            </div>

            <div
                class="box full">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.culture.operating_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    {{ handleNullState(
                        team_culture.operating_context,
                        team_culture.operating_context|nl2br,
                        noInfo
                    )}}
                </p>
            </div>

            <div
                class="box full">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.culture.team_value_label }}
                </span>
                <p
                    class="job-post__culture-copy">
                    {{ handleNullState(
                        team_culture.what_we_value,
                        team_culture.what_we_value|nl2br,
                        noInfo
                    )}}
                </p>
            </div>

            <div
                class="box full">
                <span
                    class="job-post__culture-heading">
                    {{ job_post.culture.team_work_label }}
                </span>
                <p
                    class="job-post__culture-copy final">
                    {{ handleNullState(
                        team_culture.how_we_work,
                        team_culture.how_we_work|nl2br,
                        noInfo
                    )}}
                </p>
            </div>

    </div>

</section>
