{# =============================================================================

    Talent Cloud
    Applicant: Jobs - Post: Header

============================================================================= #}
<header 
    class="job-post__header">

    <div 
        class="container--layout">

        <div 
            class="flex-grid bottom">

            <div 
                class="box lg-2of3">

                <p 
                    class="job-post__header-meta">
                    <span>
                        {{ job.days_remaining }} {{ job_post.days_remaining_label }}
                    </span>
                    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <span>
                        {{ job.applicants }} {{ job_post.applicants_label }}
                    </span>
                </p>

                <h3 class="job-post__job-title">{{ job.title }}</h3>

                <div class="job-post__department">

                    <span>
                        {{ job.department }}
                    </span>

                    <br>

                    <div>
                        <i class="fas fa-map-marker-alt" title="{{ job_post.location_icon_label }}"></i>
                        <span>{{ job.city }}</span>,
                        <span>{{ job.province }}</span>
                    </div>

                    <br>

                    <div>
                        <i class="fas fa-home" title="{{ job_post.remote_icon_label }}"></i>
                        <span>{{ job_post.remote_label }} {{ job.remote }}</span>
                    </div>

                </div>

            </div>

            <div 
                class="box lg-1of3">
                <p 
                    class="job-post__reference-id">
                    <span>{{ job_post.reference_id_label }}: {{ job.reference_id }}</span>
                </p>
            </div>

        </div>

    </div>

</header>
