{# =============================================================================

    Talent Cloud
    Job Poster: Language Declaration

============================================================================= #}
<a
    aria-hidden="true"
    class="job-post__anchor"
    id="language">
</a>

<section class="job-poster__language">

    <h4 class="job-poster__language-title">
        {{ job_post.language.title }}
    </h4>

    {% if job.language_requirement.id == 1 %}
        <span><img src="/images/icon_english_requirement.svg" title="An icon representing an English language requirement."> {{ job.language_requirement.value|title }}</span>
    {% elseif job.language_requirement.id == 2 %}
        <span><img src="/images/icon_french_requirement.svg" title="An icon representing an French language requirement."> {{ job.language_requirement.value|title }}</span>
    {% elseif job.language_requirement.id == 3 %}
        <span><img src="/images/icon_english_requirement.svg" title="An icon representing an English language requirement."> & <img src="/images/icon_french_requirement.svg" title="An icon representing an French language requirement."> {{ job.language_requirement.value|title }}</span>
    {% elseif job.language_requirement.id == 4 %}
        <span><img src="/images/icon_english_requirement.svg" title="An icon representing an English language requirement."> / <img src="/images/icon_french_requirement.svg" title="An icon representing an French language requirement."> {{ job.language_requirement.value|title }}</span>
    {% endif %}

    {% if job.language_requirement.id == 1 %}
        <p>{{ job_post.language.english_essential_context }}</p>
    {% elseif job.language_requirement.id == 2 %}
        <p>{{ job_post.language.french_essential_context }}</p>
    {% elseif job.language_requirement.id == 3 %}
        <p>{{ job_post.language.bilingual_context_01 }}</p>
        <p>{{ job_post.language.bilingual_context_02 }}</p>
        <p>{{ job_post.language.bilingual_context_03 }}</p>
    {% elseif job.language_requirement.id == 4 %}
        <p>{{ job_post.language.english_french_context }}</p>
    {% endif %}

</section>
