{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Tracker

============================================================================= #}
<section
    class="application-post__tracker">

    {% if application_step == "1" %}

        {# Show nothing. #}

    {% else %}

        <button
            class="application-post__tracker-button previous"
            name="submit"
            title="{{ application_template.tracker_previous_title }}"
            type="submit"
            value="previous">

            <i class="fas fa-chevron-left"></i>

            <span>{{ application_template.tracker_previous_label }}</span>

        </button>

    {% endif %}

    <div
        class="application-post__step-wrapper">

        <span
            class="application-post__tracker-step">
            {{ application_template.tracker_label }} {{ application_step }} / 6
        </span>

        {% for item in application_tracker.items %}

            <a
                class="application-post__tracker-item
                    {% if item.status == "error" %}
                        error
                    {% elseif item.status == "complete" %}
                        complete
                    {% endif %}
                    {% if item.step == application_step %}
                        active
                    {% endif %}
                "
                href="{{ item.url }}"
                title="{{ application_tracker.tracker_link_title }} {{ item.step }}.">

                <i class="fas fa-times-circle"></i>

                <i class="fas fa-circle"></i>

                <i class="fas fa-check-circle"></i>

                <span class="invisible">{{ application_tracker.tracker_link_title }} {{ item.step }}.</span>

            </a>

        {% endfor %}

    </div>

    {% if application_step == "6" %}

        {# Show nothing. #}

    {% else %}

        <button
            class="application-post__tracker-button next"
            name="submit"
            title="{{ application_template.tracker_next_title }}"
            type="submit"
            value="next">

            <span>{{ application_template.tracker_next_label }}</span>

            <i class="fas fa-chevron-right"></i>

        </button>

    {% endif %}

</section>
